extends ../../layouts/default

block head
  - var pageTitle = 'Versta Project Template'

block content
  +header._wide._inner

  +b.uslugi-spisok
    .container.container_inner.container_xl
      +e.title Продвижение
        +e.UL.aside-menu
          +e.LI.aside-menu__item
            +e.A.aside-menu__link Услуги
          +e.LI.aside-menu__item
            +e.A.aside-menu__link Компания
          +e.LI.aside-menu__item
            +e.A.aside-menu__link Главная
      +e.box
        +usluga-item("./assets/images/supp__tech.png", "Техническая поддержка ", "Cайт визитка  это ваш виртуальный офис, в котором работают лучшие сотрудники. Они всегда расскажут посетителям обо всех достижениях и преимуществах вашей компании.")
        +usluga-item("./assets/images/supp__test.png", "Тестирование ", "Интернет-магазин  это ваш виртуальный офис, в котором работают лучшие сотрудники. Они всегда расскажут посетителям обо всех достижениях и преимуществах вашей компании.")
        +usluga-item("./assets/images/supp__host.png", "Хостинг", "Landing page  это ваш виртуальный офис, в котором работают лучшие сотрудники. Они всегда расскажут посетителям обо всех достижениях и преимуществах вашей компании.")
        +usluga-item("./assets/images/supp__admin.png", "Администрирование сложных проектов", "Сложные проекты  это ваш виртуальный офис, в котором работают лучшие сотрудники. Они всегда расскажут посетителям обо всех достижениях и преимуществах вашей компании.")

  +footer.uslugi-spisok__footer
