.usluga-item {
  display: flex;
  box-sizing: border-box;
  width: 50%;
  min-height: 299px;

  @include screen("lg-r", max) {
    width: 100%;
    min-height: unset;
  }

  &__link {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 78px 47px 86px 74px;
    background-color: transparent;
    transition: all $ease-main;

    @include screen("lg-r", max) {
      padding: 35px 0 34.5px 0;
    }

    @include screen("md", max) {
      padding: 33px 0 17px 0;
    }

    @include screen("sm", max) {
      padding: 28px 0;
    }

    &:hover {
      background-color: $color-bg-card;

      @include screen("lg-r", max) {
        background-color: transparent;
      }
    }
  }

  &__img {

    max-width: 61px;
    max-height: 61px;

    &-wrap {
      display: flex;
      justify-content: flex-end;
      align-items: flex-start;
      padding-right: 40px;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
  }

  &__title {
    font-size: 30px;
    color: $color-basic;
    font-weight: 700;
    line-height: 1;
    letter-spacing: 0.75px;
    padding-bottom: 16px;
    position: relative;
    top: -4px;

    @include screen("sm", max) {
      letter-spacing: 0.75px;
    }
  }

  &__text {
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.58px;
    margin-left: 2px;
    color: $color-text_grey;
  }



}