mixin header()
  +b.header&attributes(attributes)
    .container.header__container
      //+icon('logo').__logo
      +e.IMG(src='/assets/images/logo.svg').logo
      +b.UL.menu.header__menu
        +e.LI.item Компания
        +e.LI.item Услуги
        +e.LI.item Кейсы
        +e.LI.item Журнал
        +e.LI.item Клиенты
        +e.LI.item Вакансии
        +e.LI.item Контакты
      +b.buttons
        +button.buttons__ico ico
        +button._blue.buttons__project обсудить проект
    block