.header {
  height: 96px;
  padding: 24px 0 0;
  box-sizing: border-box;
  padding-left: 20px;
  width: 73%;
  left: 0;
  right: 0;
  z-index: 6;
  transition: width .6s ease;
  position: relative;
  border-bottom: 1px solid #dcdcdc;

  $b: &;

  &_wide {
    transition: width .6s ease;
    width: 100%;

    .buttons__ico {
      margin-right: 27px !important;
    }

    .buttons__project {
      opacity: 1 !important;
    }

    .header__container {
      padding-right: 30px;

      @include screen('md', max) {
        padding-right: 15px !important;
        padding-left: 15px !important;
      }
    }
  }

  &_fixed,
  &_fixed-light,
  &_fixed-dark {
    position: fixed;
    padding-top: 29px;
  }

  &_fixed,
  &_fixed-light {
    background-color: $white;
  }

  &_fixed-light {
    background-color: $white !important;
    width: 100% !important;
  }

  &_fixed-dark {
    background-color: $color-bg-dark;
  }

  &_inner {
    padding-top: 34px;
    height: 113px;

    @include screen('lg', max) {
      height: 80px;
      padding-top: 24px;
    }
  }

  &_no-border {
    border-bottom: none;
  }

  &_full-width {
    width: 100%;

    .container {
      width: 100%;
    }
  }

  &__container {
    display: flex;
    justify-content: space-between;
    margin-left: 0 !important;
    align-items: center;
    transition: all .6s ease;
    position: relative;
    width: 100% !important;

    @include screen('lg', max) {
      width: unset !important;
    }

    &_wide {

      .buttons__ico {
        margin-right: 27px !important;
      }

      .buttons__project {
        opacity: 1 !important;
      }
    }
  }

  &__logo-link {
    cursor: pointer;
    transition: opacity $ease-main;

    &:hover {
      opacity: .7;
    }
  }

  &__logo {
    display: block;
    height: 32px;

    @include screen('lg', max) {
      z-index: 1;
    }
  }


  @mixin responsiveMenuOne() {
    background-color: white;
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 79px;
    left: 0;
    padding-bottom: 30px !important;
    width: 100%;
    box-sizing: border-box;
    height: calc(100% - 79px);
    overflow: auto;
    margin: 0;
    text-align: center;
    z-index: -1;
    transform: scaleY(0);
    transform-origin: top;
    transition: transform .5s ease;
    transition-delay: .5s;
  }

  @mixin responsiveMenu() {
    transform: translateY(-100%);
    opacity: 0;
    transition: opacity .5s ease,
    transform .5s ease, background-color $ease-main;

    @for $i from 1 through 9 {
      &:nth-child(#{$i}) {
        transition-delay: $i * 0.045s;
      }
    }
  }

  @mixin responsiveActive() {
    transform: scaleY(1);
    transition-delay: 0s;

    .menu__item {
      transform: translate3d(0, 0, 0);
      opacity: 1;
    }
  }

  @mixin responsiveDark() {
    background-color: $color-bg-dark;
  }

  &__menu {
    margin: 0 auto;

    @include screen('lg', max) {
      .header_inner & {
        @include responsiveMenuOne;
      }
    }

    @include screen('xl-r', max) {
      .header_index & {
        @include responsiveMenuOne;
      }
    }

    &_dark {
      @include screen('lg', max) {
        .header_inner & {
          @include responsiveDark;
        }
      }

      @include screen('xl-r', max) {
        .header_index & {
          @include responsiveDark;
        }
      }
    }

    .menu__item {
      @include screen('lg', max) {
        .header_inner & {
          @include responsiveMenu;
        }
      }

      @include screen('xl-r', max) {
        .header_index & {
          @include responsiveMenu;
        }
      }
    }

    &_active {
      @include screen('lg', max) {
        .header_inner & {
          @include responsiveActive;
        }
      }

      @include screen('xl-r', max) {
        .header_index & {
          @include responsiveActive;
        }
      }
    }

  }

  .buttons {
    white-space: nowrap;

    &__wrap {
      overflow: hidden;
    }

    &__ico {
      display: inline-block;
      margin-right: -180px;
      transition: margin $ease-main, opacity $ease-main;
    }

    &__project {
      display: inline-block;
      opacity: 0;
      transition: opacity $ease-main;
    }

    &__burger {
      display: none;
      width: 45px;
      height: 25px;
      flex-direction: column;
      justify-content: center;
      align-items: flex-end;
      position: relative;

      &_white {

        span,
        &::before,
        &::after {
          background: #fff !important;
        }
      }

      &:hover {
        cursor: pointer;
      }

      span {
        background: $color-main;
        height: 3px;
        width: 22px;
        display: block;
        transition: all .3s ease;
      }

      &::before {
        @include pseudo();

        height: 3px;
        width: 45px;
        background: $color-main;
        top: 0;
        transition: all .3s ease;
      }

      &::after {
        @include pseudo();

        height: 3px;
        width: 34px;
        background: $color-main;
        bottom: 0;
        transition: all .3s ease;
      }

      &_active {
        height: 29px;
        width: 29px;

        span {
          opacity: 0;
          transform: translate3d(-10px, 0, 0);
        }

        &::before {
          transform: rotate(-45deg);
          transform-origin: right bottom;
          width: 34px;
        }

        &::after {
          transform: rotate(45deg);
          transform-origin: right top;
          bottom: 1px;
        }
      }
    }
  }

  &_index {
    padding-top: 46px;
    border-bottom: none;

    @include screen('lg') {
      background-color: transparent;
    }
  }

  &_index {
    @include screen('xl-r', max) {
      padding-left: 0;
      padding-top: 29px;
    }

    @include screen('lg', max) {
      width: 100%;
    }

  }

  &_inner {
    @include screen('lg', max) {
      padding-left: 0;
    }
  }

  &_inner .buttons__ico, &_inner .buttons__project {
    @include screen('lg', max) {
      display: none;
    }
  }

  &_index .buttons__ico, &_index .buttons__project {
    @include screen('xl-r', max) {
      display: none;
    }
  }

  &_inner .buttons__burger {
    @include screen('lg', max) {
      display: flex;
    }
  }

  &_index .buttons__burger {
    @include screen('xl-r', max) {
      display: flex;
    }
  }

  &_inner .menu__item {
    @include screen('lg', max) {
      margin-right: 0!important;
      padding-left: 30px;
      padding-right: 30px;
    }

    &:hover {
      @include screen('lg', max) {
        background: $color-main-gray;

        .link {
          color: $color-main;
        }
      }
    }

    .link {
      @include screen('lg', max) {
        @include text-menu-pad;
      }
    }

    &_btn {
      @include screen('lg', max) {
        display: block;
        margin-top: 50px;
      }
    }

    &_present {
      @include screen('lg', max) {
        display: flex;
        justify-content: center;
        margin-top: 41px;
        flex-shrink: 0;
      }

      .link__text {
        @include screen('lg', max) {
          font-size: 13px;
          letter-spacing: .9px;
          line-height: 1.7;
          text-align: left;
          text-transform: initial;
        }
      }
    }
  }

  &_index .menu__item {
    @include screen('xl-r', max) {
      margin-right: 0!important;
      padding-left: 30px;
      padding-right: 30px;
    }

    &:hover {
      @include screen('xl-r', max) {
        background: $color-main-gray;

        .link {
          color: $color-main;
        }
      }
    }

    .link {
      @include screen('xl-r', max) {
        @include text-menu-pad;
      }
    }

    &_btn {
      @include screen('xl-r', max) {
        display: block;
        margin-top: 50px;
      }
    }

    &_present {
      @include screen('xl-r', max) {
        display: flex;
        justify-content: center;
        margin-top: 41px;
        flex-shrink: 0;
      }

      .link__text {
        @include screen('xl-r', max) {
          font-size: 13px;
          letter-spacing: .9px;
          line-height: 1.7;
          text-align: left;
          text-transform: initial;
        }
      }
    }
  }
}

.menu {
  display: flex;
  justify-content: space-between;
  flex: 1;

  .header_inner & {
    padding: 0 100px;

    @include screen('xl-r', max) {
      padding: 0 70px;
    }

    @include screen('xl-b', max) {
      padding: 0 50px;
    }

    @include screen('lg', max) {
      padding: 0;
    }
  }

  .header_index & {
    @include screen('xl-r') {
      padding: 0 50px;
    }
  }

  &__item {
    .header_inner & {
      padding: 0 30px;

      @include screen('xl-b', max) {
        padding: 0 10px;
      }
    }

    .header_index & {
      @include screen('xl-r') {
        padding: 0 10px;
      }
    }

    .link {

      &.is-active {
        color: $color-main;
      }
    }

    &_last {
      margin-right: 0 !important;
    }

    &_btn {
      display: none;
    }

    &_present {
      display: none;
    }
  }

  &__btn {

    @include screen('sm', max) {
      padding: 24px 42px;
      height: 63px;
      font-size: 15px;
    }
  }
}
