mixin header(fixed)
  +b.header&attributes(attributes)
    .container.header__container
      //- +icon('logo').__logo
      +e.A(href='./').logo-link
        +e.IMG(src='./assets/images/logo.svg').logo
      +b.UL.menu.header__menu
        +e.LI.item
          +link(href='./about.html')._nounder._medium Компания
        +e.LI.item
          +link(href='./uslugi.html')._nounder._medium Услуги
        +e.LI.item
          +link(href='./case.html')._nounder._medium Кейсы
        +e.LI.item
          +link(href='./journal.html')._nounder._medium Журнал
        +e.LI.item
          +link(href='./clients.html')._nounder._medium Клиенты
        +e.LI.item
          +link(href='./vacancies.html')._nounder._medium Вакансии
        +e.LI.item._last
          +link(href='./contacts.html')._nounder._medium Контакты
        +e.LI.item._btn
          +button._blue._big-big.menu__btn Оформить заказ
        +e.LI.item._present
          +link._nounder._gray._flex
            img(src='./assets/images/pdf.png')
            | скачать презентацию<br>5 MB
      +b.buttons
        +e.wrap
          +button.buttons__ico ico
          +button(href='#contact')._blue.buttons__project.js-fancybox обсудить проект
        +e.burger.js-padmenu
          span

    block

  +popup-contact



mixin header_index(fixed)
  +b.header&attributes(attributes)
    .container.header__container
      //- +icon('logo').__logo
      +e.A(href='./').logo-link
        +e.IMG(src='./assets/images/logo-index.png').logo
      +b.UL.menu.header__menu
        +e.LI.item
          +link(href='./about.html')._nounder._medium Компания
        +e.LI.item
          +link(href='./uslugi.html')._nounder._medium Услуги
        +e.LI.item
          +link(href='./case.html')._nounder._medium Кейсы
        +e.LI.item
          +link(href='./journal.html')._nounder._medium Журнал
        +e.LI.item
          +link(href='./clients.html')._nounder._medium Клиенты
        +e.LI.item
          +link(href='./vacancies.html')._nounder._medium Вакансии
        +e.LI.item._last
          +link(href='./contacts.html')._nounder._medium Контакты
        +e.LI.item._btn
          +button._blue._big-big.menu__btn Оформить заказ
        +e.LI.item._present
          +link._nounder._gray._flex
            img(src='./assets/images/pdf.png')
            | скачать презентацию<br>5 MB
      +b.buttons
        +e.wrap
          +button.buttons__ico ico
          +button(href='#contact')._blue.buttons__project.js-fancybox обсудить проект
        +e.burger.js-padmenu
          span

    block

  +popup-contact



mixin header_dark(fixed)
  +b.header&attributes(attributes)
    .container.header__container
      //- +icon('logo').__logo
      +e.IMG(src='./assets/images/logo_dark.png').logo
      +b.UL.menu.header__menu._dark
        +e.LI.item
          +link(href='#')._nounder._medium._white Компания
        +e.LI.item
          +link(href='#')._nounder._medium._white Услуги
        +e.LI.item
          +link(href='#')._nounder._medium._white Кейсы
        +e.LI.item
          +link(href='#')._nounder._medium._white Журнал
        +e.LI.item
          +link(href='#')._nounder._medium._white Клиенты
        +e.LI.item
          +link(href='./vacancies.html')._nounder._medium._white Вакансии
        +e.LI.item._last
          +link(href='#')._nounder._medium._white Контакты
        +e.LI.item._btn
          +button._blue._big-big.menu__btn Оформить заказ
        +e.LI.item._present
          +link._nounder._gray._flex
            img(src='./assets/images/pdf.png')
            | скачать презентацию<br>5МБ
      +b.buttons
        +e.wrap
          +button.buttons__ico ico
          +button(href='#contact')._blue.buttons__project.js-fancybox обсудить проект
        +e.burger_white.js-padmenu
          span

    block

  +popup-contact
