.header {
  height: 112px;
  padding: 45px 0 0;
  box-sizing: border-box;
  padding-left: 20px;
  width: 1386px;
  left: 0;
  right: 0;
  z-index: 6;
  transition: all .6s ease;
  position: relative;
  border-bottom: 1px solid #dcdcdc;

  &_wide {
    transition: all .6s ease;
    width: 100%;

    .buttons__project {
        margin-right: 0 !important;
      opacity: 1 !important;
    }

    .header__container {
      padding-right: 30px !important;
    }
  }

  &_fixed {
    position: fixed;
    background: white;
  }

  &_inner {
    padding-top: 34px;
    // border-bottom: 1px solid $color-border-2;
  }

  &_no-border {
    border-bottom: none;
  }

  &_full-width {
    width: 100%;

    .container {
      width: 100%;
    }
  }

  &__container {
    display: flex;
    justify-content: space-between;
    margin-left: 0 !important;
    align-items: center;
    transition: all .6s ease;
    position: relative;

    &_wide {

      .buttons__project {
        margin-right: 0 !important;
        opacity: 1 !important;
      }

      .header__menu {
      }
    }
  }

  &__logo {
    height: 32px;
  }

  &__menu {
    margin: 0 78px 0 143px;
  }

  .buttons {
    white-space: nowrap;

    &__wrap {
      overflow: hidden;
    }

    &__ico {
      display: inline-block;
      margin-right: 27px;
    }

    &__project {
      display: inline-block;
      margin-right: -100%;
      opacity: 0;
      transition: margin .3s ease .3s;
      transition: opacity .3s ease;
      //display: none;
    }

    &__burger {
      display: none;
      width: 45px;
      height: 25px;
      //padding-right: 15px;
      flex-direction: column;
      justify-content: center;
      align-items: flex-end;
      position: relative;

      &_white {

        span,
        &::before,
        &::after {
          background: #fff!important;
        }
      }

      &:hover {
        cursor: pointer;
      }

      span {
        background: $color-main;
        height: 3px;
        width: 22px;
        display: block;
        transition: all .3s ease;
      }

      &::before {
        @include pseudo();

        height: 3px;
        width: 45px;
        background: $color-main;
        top: 0;
        transition: all .3s ease;
      }

      &::after {
        @include pseudo();

        height: 3px;
        width: 34px;
        background: $color-main;
        bottom: 0;
        transition: all .3s ease;
      }

      &_active {
        height: 29px;
        width: 29px;

        span {
          opacity: 0;
          transform: translate3d(-10px, 0, 0);
        }

        &::before {
          transform: rotate(-45deg);
          transform-origin: right bottom;
          width: 34px;
        }

        &::after {
          transform: rotate(45deg);
          transform-origin: right top;
          bottom: 1px;
        }
      }
    }
  }
}

.menu {
  display: flex;
  justify-content: space-between;

  &__item {

    &:not(:last-child) {
      margin-right: 90px;
    }

    &_last {
      margin-right: 0 !important;
    }

    &_btn {
      display: none;
    }

    &_present {
      display: none;
    }
  }
}

@include screen('xl-r', max) {

  .header {
    width: 100%;
    margin-left: 0;
    padding-top: 21px;
    //background: white;

    &__container {
      //width: calc(100vw - 505px) !important;
      width: unset !important;
      padding-right: 535px !important;
    }

    &__logo {
      z-index: 1;
    }

    &__menu {
      //display: none;
      background: white;
      position: fixed;
      display: flex;
      flex-direction: column;
      top: 0;
      padding-top: 80px;
      //top: 50px;
      padding-bottom: 50px;
      width: 100%;
      box-sizing: border-box;
      height: 100%;
      overflow: auto;
      //margin: 0 -31px;
      margin: 0;
      text-align: center;
      left: 100%;
      transition: transform .5s ease;

      &_active {
        //right: 31px;
        transform: translate3d(-100%, 0, 0);
      }

      &_dark {
        background-color: $color-bg-dark;
      }
    }

    &_inner {
      height: 80px;
      padding-left: 0;
    }

    .menu {

      &__item {
        margin-right: 0;
        padding-left: 30px;
        padding-right: 30px;

        &:hover {
          background: $color-main-gray;

          .link {
            color: $color-main;
          }
        }

        .link {
          @include text-menu-pad;
        }

        &_btn {
          display: block;
          margin-top: 50px;
        }

        &_present {
          display: flex;
          justify-content: center;
          margin-top: 50px;
          flex-shrink: 0;

          .link__text {
            font-size: 14px;
            text-align: left;
            text-transform: initial;
          }
        }
      }
    }

    .buttons {

      &__ico, &__project {
        display: none;
      }

      &__burger {
        display: flex;
      }
    }
  }
}

@include screen('md', max) {

  //.header {
  //  padding-left: 0;
  //
  //  &__container {
  //    padding-right: 31px !important;
  //  }
  //}

  .header {

    &_wide {

      .header__container {
        padding-right: 15px !important;
        padding-left: 15px !important;
      }
    }
  }
}

@include screen('sm', max) {

  //.header {
  //
  //  &_wide {
  //
  //    .header__container {
  //      padding-right: 16px !important;
  //      padding-left: 16px !important;
  //    }
  //  }
  //}
}
