.head {
  margin-top: 112px;
  height: 671px;
  background: url('../images/article_bg.jpg') no-repeat center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;

  &::before {
    @include pseudo;

    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, .5);
  }

  &__title {
    @include center-block-r;
     
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
    z-index: 1;
    color: white;
    font-size: 43px;
    font-weight: 700;
    line-height: 57px;
    letter-spacing: 1.07px;
  }

  &__bottom {
    z-index: 1;
    color: white;
    border-top: 1px solid rgba(255, 255, 255, .19);
    padding-top: 24px;
    padding-bottom: 33px;
  }

  &__subtitle {
    font-size: 14px;
    opacity: .34;
    line-height: 25px;
    letter-spacing: .7px;
  }

  &__text {
    font-size: 14px;
    //line-height: 26px;
    letter-spacing: .7px;
  }

  &__category {
    margin-left: 109px;
  }

  &__left {
    display: flex;
    justify-content: flex-start;
  }

  &__right {
    position: relative;
    top: 5px;
    left: 0;
    display: flex;
    align-items: center;
  }

  &__comment {
    display: flex;
    align-items: center;

    svg {
      margin-right: 20px;
      width: 24px;
      height: 22px;
      fill: white;
      fill-opacity: .5;
    }
  }

  &__view {
    display: flex;
    align-items: center;
    margin-left: 54px;
    margin-right: 70px;

    svg {
      margin-right: 13px;
      width: 24px;
      height: 22px;
      fill: white;
      fill-opacity: .5;
    }
  }
}

.article {
  display: flex;
  //margin-top: 66px;

  &__main {
    margin-right: 90px;
    margin-top: 57px;
  }

  &__sidebar {
    margin-top: 67px;
    min-width: 278px;
  }

  &__bottom {
    display: flex;
    justify-content: space-around;
    margin-top: 57px;
  }
}

.author {

  &__name {
    font-size: 16px;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: .8px;
    margin-top: 8px;
  }

  &__text {
    font-size: 14px;
    line-height: 18px;
    letter-spacing: .7px;
    color: #b3b3b3;
    margin-top: 10px;
  }
}

.section-article {
  border-bottom: 1px solid #d8dfe3;
  padding-bottom: 50px;
}

.disqus {
  max-width: 750px;
  margin-top: 50px;
  margin-left: 68px;
}

.progress {
  position: fixed;
  height: 0;
  margin-top: 112px;
  width: 100%;
  z-index: 1;
  display: block;
  transition: height .4s ease;

  &__fill {
    width: 100%;
    height: 100%;
    background: $color-main;
    transform-origin: left;
  }

  &::before {
    @include pseudo;

    position: absolute;
    height: 100%;
    width: 100vw;
    background-color: #ececec;
    z-index: -1;
  }
}

@include screen('xl-r', max) {

  .head, .progress {
    margin-top: 80px;
  }
}

@include screen('lg-r', max) {

  .head {
    height: 553px;

    &__title {
      // margin-top: 165px;
      font-size: 36px;
      font-weight: 700;
      line-height: 57px;
      letter-spacing: .9px;
    }

    &__view {
      margin-right: 0;
    }
  }

  .article {
    flex-wrap: wrap;
    flex-direction: column-reverse;

    &__main {
      margin-top: 43px;
      margin-right: 0;
    }

    &__sidebar {
      width: 100%;
      margin-top: 38px;
    }
  }

  .author {
    display: flex;
    align-items: center;

    &__desc {
      margin-left: 30px;
      width: 210px;
    }
    
    &__name {
      margin-top: -1px;
    }
  }

  .disqus {
    margin-left: auto;
    margin-right: auto;
  }
}

@include screen('md', max) {

  .head {
    height: 392px;

    &__title {
      // margin-top: 105px;
      font-size: 24px;
      font-weight: 700;
      line-height: 42px;
      letter-spacing: .6px;
    }

    &__subtitle {
      display: none;
    }

    &__left {
      flex-direction: column;
      line-height: 22px;
    }

    &__category {
      margin-left: 0;
    }

    &__bottom {
      padding: 28px 0;
    }
  }
}
