extends ../../layouts/default

block head
  - var pageTitle = 'Versta Project Template'

block content
  +header._wide._inner._fixed
  +b.progress
    +e.fill.js-progress
  +b.SECTION.head
    +e.IMG(src='./assets/images/article_bg.jpg').img
    .container.container_inner.head__container
      +e.title
        h1 Как эффективно настроить контекстную рекламу и увеличить продажи?
    +e.bottom
      .container.container_inner.container_flex
        +e.left
          +e.date
            +e.subtitle Дата публиукации:
            +e.text 15 января, 2017
          +e.category
            +e.subtitle Категория:
            +e.text SEO
        +e.right
          +e.A(href='#disqus_thread').comment.js-anchor
            +icon('comment')
            +e.text 183
          +e.view
            +icon('view')
            +e.text 744
  section.section-article
    .container.container_inner
      +b.article
        +e.main
          +content-zone
            p Привлекать естественный целевой трафик сложно. А привлечение целевого трафика по коммерческим конкурентным запросам становится непосильной задачей для многих небольших и средних предприятий. Попробуйте справиться с интернет-тяжеловесами, ежедневно публикующими исчерпывающие руководства и потребительские обзоры, если в вашей автомастерской работает пять человек. И вот незадача: сотрудники прекрасно ремонтируют рулевые колонки и регулируют подвеску, но не успевают писать об этом статьи.
            p Из этой ситуации есть несколько выходов. Один из них — привлечение целевого трафика с помощью контекстной рекламы. Из этого руководства вы узнаете, как работать с системой Google AdWords: сервисом рекламы крупнейшего поисковика в мире.
            img(src='./assets/images/article_img.jpg')
            small Здесь может быть расположена подпись какая-то подпись к фото.
            h2 Чем интересна система контекстной рекламы Google AdWords.
            p Система контекстной рекламы Google AdWords принадлежит крупнейшей поисковой системе мира. Google активно борется за лидерство на рынке поиска рунета и по состоянию на октябрь 2017 года обслуживает почти половину поисковых запросов пользователей. Клиенты AdWords имеют доступ к функциональной и технологичной платформе с тонкими настройками таргетинга, бюджетирования, способов показа объявлений и других параметров рекламных кампаний.
            blockquote Контекстная реклама — это демонстрация аудитории рекламных сообщений, соответствующих их интересам.
            p Рекламодателям стоит обратить внимание на AdWords из-за следующих особенностей:
            ul
              li Простое управление кампаниями. Благодаря удобному и интуитивно понятному интерфейсу вам не понадобятся специальные знания, чтобы работать с системой контекстной рекламы Google.Возможность быстро привлечь на сайт первых целевых посетителей. Настройка первой рекламной кампании обычно занимает не больше часа.
              li Гибкие настройки бюджета. Рекламодатели имеют возможность устанавливать суточный бюджети корректировать его в зависимости от результатов кампании.
              li Влияние качества объявлений на позиции и стоимость клика. Благодаря высокой кликабельности ваши рекламные сообщения могут отображаться на болеевыгодных позициях, чем объявления конкурентов с более высокой ценой за клик.
              li Возможность выбора площадок, на которых демонстрируются объявления. Вы можете выбирать подходящие сайты, входящие в контекстно-медийную сеть Google.
              li Более низкая стоимость клика по сравнению с «Яндекс.Директ». Конкуренция в системе контекстной рекламы «Яндекса» в рунете более высокая, поэтому привлекать трафик в ней дороже. Обратите внимание, эта закономерность работает не во всех нишах бизнеса.
            p Когда стоит использовать Google AdWords? Контекстная реклама может быть полезной на любом этапе развития проекта. Она помогает быстро привлечь целевых посетителей на недавно созданный сайт, обратить внимание аудитории на конкретный продукт, акцию или контент. Вы можете использовать объявления в Google AdWords в качестве одного из компонентов комплексного интернет-маркетинга. Также контекстная реклама может выступать в качестве единственного способа привлечения новых клиентов в интернете.
            p Ниже вы найдете пошаговое руководство по использованию Google AdWords. Для удобства восприятия информация объединена в следующие разделы:
            p
              a Как создать аккаунт Google AdWords и настроить первую кампанию.
            p
              a Как создать кампанию в новом интерфейсе AdWords.
            p
              a Как создать группу объявлений и объявления.
            p
              a Как создавать разные типы объявлений.
            p
              a Видеореклама и товарные объявления.
            p
              a Как пользоваться ремаркетингом.
            p
              a Что нужно знать о лендингах.
            p
              a Как сделать объявления более эффективными с помощью сплит-тестов.
            p На следующем этапе система предложит создать первую кампанию. Определите примерный ежедневный уровень расходов на контекстную рекламу. Укажите место положение целевой аудитории. Чтобы изменить предложенное системой дефолтное значение, переключите флажок на опцию «Выберу самостоятельно» и воспользуйтесь поиском.В разделе «Сети» снимите флажок напротив варианта «Контекстно-медийная сеть». Новичкам лучше разделять кампании на поиске и в сетях. Это не догма, а практическая рекомендация. После настройки нескольких кампаний для поиска и КМС можно проверить эффективность комбинированной кампании. Но во время знакомства с системой все-таки удобнее работать с поиском.
          +e.bottom
            +link._blue._nounder._xl._center
              img(src='./assets/images/icon_share.svg')
              | Поделиться
            +link._blue._nounder._xl._center._center-reverse
              | Подписаться
              img(src='./assets/images/icon_subscribe.svg')
        +e.sidebar
          +b.author
            +e.photo
              img(src='./assets/images/article_author.png')
            +e.desc
              +e.name Филиппов Михаил
              +e.text Протестировал все способы продвижения
  section
    .container.container_inner
      #disqus_thread.disqus
  +b.SECTION.journal
    .container.container_inner
      +e.H2.title Другие статьи:
      +grid-list.js-mix.journal__list.journal__list_article
        +e.LI.item
        +e.LI.item
        +e.LI.item
        //+e.LI.item
      +e.allcards.js-storage
        +card-journal('./assets/images/slide21.jpg','Мы запустили новый сайт для компании.','20  10  17')
        +card-journal('./assets/images/slide22.jpg','Как эффективно настроитьконтекстную рекламу и увеличить продажи?','20  10  17')
        +card-journal('./assets/images/journal3.jpg','Мы запустили новый сайт для компании.','20  10  17')

  +footer
