.case {
  display: block;
  //height: 801px;
  //background: url(../images/case_bg11.jpg) center no-repeat;
  position: relative;
  background-size: 100% 100%;

  &__img {
    width: 100%;

    &_md {
      display: none;
    }

    &_sm {
      display: none;
    }
  }

  &__bg {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: #fd7300;
    background: -moz-linear-gradient(top, #fd7300 0%, #f00500 100%);
    background: -webkit-linear-gradient(top, #fd7300 0%, #f00500 100%);
    background: linear-gradient(to bottom, #fd7300 0%, #f00500 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fd7300', endColorstr='#f00500', GradientType=0);
    z-index: -1;
  }

  &__wrapper {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }

  &__box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }

  &__title {
    margin-top: 84px;
    text-transform: uppercase;
    color: white;
    font-size: 72px;
    font-weight: 400;
    letter-spacing: 5.76px;
  }

  &__subtitle {
    color: white;
    margin-top: 12px;
    font-size: 36px;
    font-weight: 300;
    //line-height: 26px;
    letter-spacing: .92px;
    text-align: center;

    @include screen('sm', max) {
      margin-top: 0;
    }
  }

  &__buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 84px;
    width: auto;

    .link {

    }
  }

  &__link {
    margin-bottom: 108px;
    margin-top: auto;

    @include screen('md', max) {
      margin-bottom: 93px;
    }

    @include screen('sm', max) {
      margin-top: 30px;
    }
  }

  &__arrow {
    position: absolute;
    top: 0;
    z-index: 1;
    width: 64px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(42, 32, 32, .16);
    cursor: pointer;
    transition: all $ease-main;

    &:hover {
      opacity: .7;
    }

    svg {
      width: 19px;
      height: 17px;
      fill: white;
    }
  }

  &__prev {
    left: 0;
  }

  &__next {
    right: 0;
  }

  .container {
    height: 100%;
  }

  &_process {

    .case {

      &__title {
        color: $color-main;
      }

      &__subtitle {
        color: black;
      }

      &__box {
        height: unset;
      }

      &__wrapper {
        height: unset;
        position: static;
      }

    }

    .container {
      height: unset;
    }
  }
}

.case2 {
  margin-top: -24px;

  img {
    width: 100%;
  }

  &__img2 {
    margin-top: 110px;
  }

  &__img3 {
    margin-top: 110px;
  }

  &__img4 {
    margin-top: 145px;
  }

  &__img5 {
    margin: 100px 145px 0;
    width: auto !important;
  }

  &_process {
    margin-top: 100px;
  }
}

.case3 {

  &__table {
    margin-top: 100px;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
  }

  .promo {
    width: 100%;
    border-spacing: 0;
    font-size: 14px;
    font-weight: 400;

    .yandex {
      font-size: 0;
    }

    .ya {
      font-size: 14px;
      font-weight: 700;
      color: #f00;
    }

    .google {
      font-weight: 700;
      color: #5283ed;
    }

    .ndex {
      color: black;
      font-size: 14px;
      font-weight: 700;
    }

    &__header {
      //height: 57px;
      background-color: #f2f2f2;
      color: #acacac;

      th {
        font-weight: 400;
        letter-spacing: .65px;

        &:nth-child(2) {
          // padding-right: 20px;
        }
      }
    }

    tr {
      height: 57px;

      th, td {
        border-bottom: 1px solid #f2f2f2;

        &:first-child {
          text-align: left;
          padding-left: 39px;
        }

        &:nth-child(2) {
          padding-right: 23px;
        }

        &:last-child {
          padding-right: 212px;
        }

        &:nth-child(n+2) {
          text-align: center;
        }
      }

      td {
        font-weight: 400;
        letter-spacing: .3px;
        text-shadow: 0 0 0;
      }
    }
  }

  &__bottom {
    margin-top: 105px;
    display: flex;
    justify-content: space-between;

    .button {
      letter-spacing: 1.1px;
    }

    .button_big {
      padding: 20px 28px;
    }

    .link_center img {
      margin: 0 19px;
      letter-spacing: .3px;
    }
  }

  &__empty {
    width: 180px;
  }
}

.case_process {
  .link:hover {
    color: $color-main;
    border-color: $color-main;
  }
}

.staff {
  display: block;
  margin-top: 101px;
  margin-bottom: -50px;
  border-top: 1px solid #f2f2f2;

  @include screen('lg-r', max) {
    margin-top: 54px;
  }

  &__box {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding-top: 48px;
    margin-right: -30px;
  }

  &__person {
    font-size: 15px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: .75px;
    margin-bottom: 55px;
    width: 25%;
    margin-right: 0;
    box-sizing: border-box;
    padding-right: 30px;

    // &:not(:nth-child(4)) {
    //   margin-right: 190px;
    // }
  }

  &__position {
    color: $color-main;
  }
}

@include screen('lg-r', max) {

  .case {

    &__img {

      &_md {
        display: block;
      }

      &_lg {
        display: none;
      }
    }

    &__title {
      margin-top: 127px;
    }

    &__subtitle {
      margin-top: 13px;
      width: 75%;
      font-size: 31px;
      line-height: 1.4;
      letter-spacing: .3px;
    }

    &__buttons {
      margin-top: 118px;
    }
  }

  .case3 {

    .promo {

      tr {

        th, td {

          &:first-child {
            padding-left: 25px;
          }

          &:last-child {
            padding-right: 0;
          }
        }
      }
    }

    &__bottom {
      margin-top: 52px;
    }

    &__empty {
      display: none;
    }
  }

  .staff {
    &__box {
    }

    &__person {
      width: 33.333%;
      margin-bottom: 42px;
    }
  }
}

@include screen('md', max) {

  .staff {
    margin-bottom: 0;
  }

  .staff__person {
    width: 50%;
    margin-bottom: 30px;
  }

  .staff__box {
    padding-left: 32px;
    padding-top: 36px;
  }

  .case {

    &__buttons {
      display: none;
    }

    &__title {
      margin-top: 148px;
    }

    &__img {

      &_md {
        display: none;
      }

      &_sm {
        display: block;
      }
    }

    &__subtitle {
      margin-top: 36px;
      width: 100%;
      font-size: 24px;
      font-weight: 300;
      letter-spacing: .6px;
    }
  }

  .case3 {

    .promo {

      tr {

        th, td {

          &:first-child {
            padding-left: 16px;
          }

          &:last-child {
            padding-right: 0;
          }
        }
      }

      &__nomobil {
        display: none;
      }
    }
  }
}
@include screen('sm', max) {
  .case {

    &__box {
      display: block;
      text-align: center;
    }

    &__title {
      margin-top: 100px;
      font-size: 52px;
    }

    &__subtitle {
      margin-top: 15px;
      font-size: 18px;
    }

    &__link {
      display: inline-block;
      margin-top: 20%;
      margin-bottom: 0;
      font-size: 20px;
    }
  }
}
