extends ../../layouts/default

block head
  - var pageTitle = 'Prostudio'

block content
  +header._wide._inner
  .slider-wrapper
    +slider(false, false).slider_case
      +slide
        +b.SECTION.case
          +e.IMG(src="./assets/images/case_bg.png").img_lg
          +e.IMG(src="./assets/images/case_bg_md.png").img_md
          +e.IMG(src="./assets/images/case_bg_sm.png").img_sm
          +e.bg
          +e.wrapper
            .container.container_inner
              +e.box
                +e.title
                  h1 Velvet
                +e.P.subtitle Брендинг,разработка приложения и веб-сайта,продвижение.
                +e.buttons
                  +link._nounder._white._lg._hover-btn.active Логотип
                  +link._nounder._white._lg._hover-btn Приложение
                  +link._nounder._white._lg._hover-btn Сайт
                  +link._nounder._white._lg._hover-btn Продвижение
                  +link._nounder._white._lg._hover-btn Описание
                +link-icon-right('open_link')._nounder._lite._xxl._white.case__link velvet.money
        +b.SECTION.case2
          img(src="./assets/images/case_bg222.jpg").case__img_lg
          img(src="./assets/images/case_bg2_md.jpg").case__img_md
          img(src="./assets/images/case_bg2_sm.jpg").case__img_sm
          img(src="./assets/images/case_bg3.jpg").case2__img2.case__img_lg
          img(src="./assets/images/case_bg3_md.jpg").case2__img2.case__img_md
          img(src="./assets/images/case_bg3_sm.jpg").case2__img2.case__img_sm
          img(src="./assets/images/case_bg4.jpg").case__img_lg
          img(src="./assets/images/case_bg4_md.jpg").case__img_md.case2__img3
          img(src="./assets/images/case_bg4_sm.jpg").case__img_sm.case2__img3
          img(src="./assets/images/case_bg51.jpg").case2__img4.case__img_lg
          img(src="./assets/images/case_bg5_md.jpg").case2__img4.case__img_md
          img(src="./assets/images/case_bg5_sm.jpg").case2__img4.case__img_sm
        +b.SECTION.case3
          .container.container_inner
            +e.table
              +b.TABLE.promo
                +e.TR.header
                  th Ключевые слова
                  th <span class='promo__nomobil'>Позиция в</span> <span class="yandex"><span class="ya">Я</span><span class="ndex">ндекс</span></span>
                  th <span class='promo__nomobil'>Позиция в</span> <span class="google">Google</span>
                tr
                  td Ивестиции в криптовалюту
                  td 1
                  td 1
                tr
                  td Ивестиции  в ICO
                  td 1
                  td 2
                tr
                  td ICO инвестиции
                  td 3
                  td 1
                tr
                  td Ивестиции в криптовалюту
                  td 1
                  td 1
                tr
                  td Криптовалюта
                  td 2
                  td 1
                tr
                  td Blockchain инвестиции
                  td 1
                  td 1
                tr
                  td ICO инвестиции
                  td 1
                  td 1
                tr
                  td Ивестиции в криптовалюту
                  td 1
                  td 2
                tr
                  td ICO инвестиции
                  td 1
                  td 1
                tr
                  td Ивестиции в криптовалюту
                  td 1
                  td 2
                tr
                  td ICO инвестиции
                  td 1
                  td 1
                tr
                  td Ивестиции в криптовалюту
                  td 1
                  td 2
                tr
                  td ICO инвестиции
                  td 1
                  td 1
                tr
                  td Ивестиции в криптовалюту
                  td 1
                  td 2



            +e.bottom
              +e.empty
              +button._big._blue Хочу такой проект
              +link._blue._nounder._xl._center._nowrap
                img(src='./assets/images/icon_share.svg')
                | Поделиться
        +b.SECION.staff
          .container.container_inner
            +e.box
              +e.person
                +e.position Руководитель
                +e.name Беличенко Анатолий
              +e.person
                +e.position Менеджер проекта
                +e.name Иванов Назар
              +e.person
                +e.position Дизайнер
                +e.name Мамонов Александр
              +e.person
                +e.position Верстальщик
                +e.name Филиппов Алексей
              +e.person
                +e.position Программист
                +e.name Марков Владимир
              +e.person
                +e.position Владимир
                +e.name Симосненко Семен

      +slide
        +b.SECTION.case_process
          +e.wrapper
            .container.container_inner
              +e.box
                +e.title
                  h1 Velvet
                +e.P.subtitle Процесс создания сайта и приложения Velvet.
                +e.buttons
                  +link._nounder._lg._hover-btn.active Логотип
                  +link._nounder._lg._hover-btn Приложение
                  +link._nounder._lg._hover-btn Сайт
                  +link._nounder._lg._hover-btn Продвижение
                  +link._nounder._lg._hover-btn Описание
                //+link-icon-right('open_link')._nounder._lite._xxl._white.case__link velvet.money
        +b.SECTION.case2_process
          img(src="./assets/images/case2_bg21.jpg").case__img_lg
          img(src="./assets/images/case2_bg3.jpg").case2__img2.case__img_lg
          img(src="./assets/images/case2_bg4.jpg").case2__img2.case__img_lg
          img(src="./assets/images/case2_bg5.jpg").case2__img5.case__img_lg

    a.case__next.case__arrow(href="index.html")
      +icon('arrow_right')
    a.case__prev.case__arrow(href="index.html")
      +icon('arrow_left')
  +footer
