extends ../../layouts/default

block head
  - var pageTitle = 'Versta Project Template'

block content
  +b.sitemap
    .container
      +e.list
        +link(href="ui-kit.html") UI-kit (ui-kit.html)
        +link(href="index.html") Главная (index.html)
        +link(href="case.html") Кейсы (case.html)
        +link(href="clients.html") Клиенты (clients.html)
        +link(href="journal.html") Журнал (journal.html)
        +link(href="vacancies.html") Вакансии (vacancies.html)
