extends ../../layouts/default

block head
  - var pageTitle = 'Versta Project Template'

block content
  +b.sitemap
    .container
      +e.list
        +link(href="ui-kit.html") UI-kit (ui-kit.html)
        +link(href="index.html") Главная (index.html)
        +link(href="case.html") Кейсы (case.html)
        +link(href="clients.html") Клиенты (clients.html)
        +link(href="journal.html") Журнал (journal.html)
        +link(href="vacancies.html") Вакансии (vacancies.html)
        +link(href="about.html") О компании (about.html)
        +link(href="contacts.html") Контакты (contacts.html)
        +link(href="portfolio.html") Портфолио (portfolio.html)
        +link(href="page-404.html") Страница 404 (page-404.html)
        +link(href="usluga.html") Услуга (usluga.html)
        +link(href="uslugi.html") Услуги (uslugi.html)
        +link(href="uslugi-spisok.html") Услуги список (uslugi-spisok.html)
        +link(href="article.html") Услуга (article.html)
        +link(href="ico.html") ICO (ico.html)
