.clients {
  display: block;

  &__title {
    margin-top: 70px;
    color: $color-main;
    text-align: center;

    @include section-title;

    @include screen('md', max) {
      font-size: 46px;
    }

    @include screen('sm', max) {
      margin-top: 60px;
      font-size: 42px;
    }
  }

  &__subtitle {
    margin-top: 52px;

    @include inner-title;
  }

  &__box {
    margin: 4px -25px 0 -25px;
    display: flex;
    flex-wrap: wrap;
    //width: 100%;
    justify-content: space-between;
  }

  &__item {
    position: relative;
    width: 273px;
    height: 273px;
    flex-grow: 1;
    margin: 50px 25px 0;
    display: block;

    img {
      max-width: 66%;
      max-height: 66%;
    }

    &:not(&_more) {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &:nth-child(2n + 1) {
      background-color: $color-bg-card;
    }

    &:nth-child(2),
    &:nth-child(12),
    &_more {
      background-color: $color-main;
    }

    &:nth-child(4) {
      background-color: #ff0000;
    }

    &:nth-child(6) {
      background-color: #23a8e0;
    }

    &:nth-child(8) {
      background-color: #a89979;
    }

    &:nth-child(10) {
      background-color: $black;
    }

    &:nth-child(14) {
      background-color: #323232;
    }

    &_more {
      padding: 58px 47px;
      box-sizing: border-box;
      transition: opacity $ease-main;

      &:hover {
        opacity: .5;
      }
    }

    &:hover {
      cursor: pointer;

      .hover {
        background-color: rgba($black, .76);
        opacity: 1;
      }
    }
  }

  &__text {
    color: $white;
    font-size: 20px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: .1px;
    display: block;
  }

  &__num {
    margin-top: 35px;
    color: $white;
    font-size: 32px;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: .32px;
    display: block;
  }

  .hover {
    opacity: 0;
    display: flex;
    position: absolute;
    flex-direction: column;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    top: 0;
    left: 0;
    background-color: $black;
    color: white;
    padding: 38px 35px;
    transition: opacity .3s ease, background-color .3s ease;;

    &__subtitle {
      font-size: 18px;
      font-weight: 700;
      letter-spacing: .9px;
    }

    &__text {
      margin-top: 7px;
      font-size: 14px;
      font-weight: 300;
      line-height: 1.4;
      letter-spacing: 1.03px;
    }

    &__date {
      margin-top: auto;
      font-size: 16px;
      font-weight: 700;
      letter-spacing: .8px;
    }
  }
}

@include screen('lg-r', max) {

  .clients {

    &__subtitle {
      margin-top: 45px;

      @include text-address;

      letter-spacing: .22px;
      line-height: 36px;
    }

    &__box {
      justify-content: space-around;
      margin-top: -9px;
    }

    &__item {
      height: 304px;
      margin: 53px 25px 0;

      &_more {
        padding: 71px 73px;
      }
    }
  }
}

@include screen('md', max) {

  .clients {

    &__subtitle {
      font-size: 20px;
      margin-top: 34px;
    }

    &__box {
      margin-left: -12px;
      margin-right: -12px;
      margin-top: 4px;
      justify-content: space-between;
    }

    &__item {
      height: 213px;
      margin-left: 12px;
      margin-right: 12px;
      margin-top: 24px;
      width: 100%;

      &_more {
        padding: 50px 20px 50px 37px;
      }
    }
  }
}

@include screen('sm', max) {

  .clients {

    &__box {
      justify-content: space-around;
    }
  }
}
