extends ../../layouts/default

block head
  - var pageTitle = 'Prostudio'

block content
  +header._wide._inner
  +b.SECTION.clients
    .container.container_inner.container_clients
      +e.P.title Создать сайт для любого клиента, сделать проект живым, успешно функционирующим и эффективным в медиасреде — задача, которую мы решаем ежедневно.
      +e.box
        +e.A.item(href="#")
          img(src='./assets/images/client1.png')
          +b.hover
            +e.H4.title Style.expert
            +e.P.text Разработка фирменного стиля, нейминг, айдентики, создание сайта.
            +e.date вместе 2 год
        +e.A.item(href="#")
          img(src='./assets/images/client2.png')
          +b.hover
            +e.H4.title Style.expert
            +e.P.text Разработка фирменного стиля, нейминг, айдентики, создание сайта.
            +e.date вместе 2 год
        +e.A.item(href="#")
          img(src='./assets/images/client3.png')
          +b.hover
            +e.H4.title Style.expert
            +e.P.text Разработка фирменного стиля, нейминг, айдентики, создание сайта.
            +e.date вместе 2 год
        +e.A.item(href="#")
          img(src='./assets/images/client4.png')
          +b.hover
            +e.H4.title Style.expert
            +e.P.text Разработка фирменного стиля, нейминг, айдентики, создание сайта.
            +e.date вместе 2 год
        +e.A.item(href="#")
          img(src='./assets/images/client5.png')
          +b.hover
            +e.H4.title Style.expert
            +e.P.text Разработка фирменного стиля, нейминг, айдентики, создание сайта.
            +e.date вместе 2 год
        +e.A.item(href="#")
          img(src='./assets/images/client6.png')
          +b.hover
            +e.H4.title Style.expert
            +e.P.text Разработка фирменного стиля, нейминг, айдентики, создание сайта.
            +e.date вместе 2 год
        +e.A.item(href="#")
          img(src='./assets/images/client7.png')
          +b.hover
            +e.H4.title Style.expert
            +e.P.text Разработка фирменного стиля, нейминг, айдентики, создание сайта.
            +e.date вместе 2 год
        +e.A.item(href="#")
          img(src='./assets/images/client8.png')
          +b.hover
            +e.H4.title Style.expert
            +e.P.text Разработка фирменного стиля, нейминг, айдентики, создание сайта.
            +e.date вместе 2 год
        +e.A.item(href="#")
          img(src='./assets/images/client9.png')
          +b.hover
            +e.H4.title Style.expert
            +e.P.text Разработка фирменного стиля, нейминг, айдентики, создание сайта.
            +e.date вместе 2 год
        +e.A.item(href="#")
          img(src='./assets/images/client10.png')
          +b.hover
            +e.H4.title Style.expert
            +e.P.text Разработка фирменного стиля, нейминг, айдентики, создание сайта.
            +e.date вместе 2 год
        +e.A.item(href="#")
          img(src='./assets/images/client11.png')
          +b.hover
            +e.H4.title Style.expert
            +e.P.text Разработка фирменного стиля, нейминг, айдентики, создание сайта.
            +e.date вместе 2 год
        +e.A.item(href="#")
          img(src='./assets/images/client12.png')
          +b.hover
            +e.H4.title Style.expert
            +e.P.text Разработка фирменного стиля, нейминг, айдентики, создание сайта.
            +e.date вместе 2 год
        +e.A.item(href="#")
          img(src='./assets/images/client13.png')
          +b.hover
            +e.H4.title Style.expert
            +e.P.text Разработка фирменного стиля, нейминг, айдентики, создание сайта.
            +e.date вместе 2 год
        +e.A.item(href="#")
          img(src='./assets/images/client14.png')
          +b.hover
            +e.H4.title Style.expert
            +e.P.text Разработка фирменного стиля, нейминг, айдентики, создание сайта.
            +e.date вместе 2 год
        +e.A.item(href="#")
          img(src='./assets/images/client15.png')
          +b.hover
            +e.H4.title Style.expert
            +e.P.text Разработка фирменного стиля, нейминг, айдентики, создание сайта.
            +e.date вместе 2 год
        +e.A.item(href="#")._more
          +e.text Показать<br> всех клиентов
          +e.num +42
  +footer
