.clients {
  display: block;

  &__title {
    margin-top: 52px;

    @include inner-title;
  }

  &__box {
    margin: 4px -25px 0 -25px;
    display: flex;
    flex-wrap: wrap;
    //width: 100%;
    justify-content: space-between;
  }

  &__item {
    width: 273px;
    height: 273px;
    margin: 50px 25px 0;
    position: relative;

    &_more {
      background: $color-main;
      padding: 60px 50px;
      box-sizing: border-box;
    }

    &:hover {
      cursor: pointer;

      .hover {
        background-color: rgba($black, .76);
        opacity: 1;
      }
    }

    img {
      height: 100%;
    }
  }

  &__text {
    color: white;
    font-size: 20px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: .2px;
  }

  &__num {
    margin-top: 40px;
    color: white;
    font-size: 32px;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: .32px;
  }

  .hover {
    opacity: 0;
    display: flex;
    position: absolute;
    flex-direction: column;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    top: 0;
    left: 0;
    background-color: $black;
    color: white;
    padding: 38px 35px;
    transition: opacity .3s ease, background-color .3s ease;;

    &__title {
      font-size: 18px;
      font-weight: 700;
      letter-spacing: .9px;
    }

    &__text {
      margin-top: 7px;
      font-size: 14px;
      font-weight: 300;
      line-height: 1.4;
      letter-spacing: 1.03px;
    }

    &__date {
      margin-top: auto;
      font-size: 16px;
      font-weight: 700;
      letter-spacing: .8px;
    }
  }
}

@include screen('lg-r', max) {

  .clients {

    &__title {
      margin-top: 46px;

      @include text-address;

      letter-spacing: .22px;
      line-height: 36px;
    }

    &__box {
      justify-content: space-around;
    }

    &__item {
      width: 304px;
      height: 304px;
    }
  }
}

@include screen('md', max) {

  .clients {

    &__title {
      font-size: 20px;
      margin-top: 35px;
    }

    &__box {
      margin-left: -12px;
      margin-right: -12px;
      justify-content: space-between;
    }

    &__item {
      width: 213px;
      height: 213px;
      margin-left: 12px;
      margin-right: 12px;

      &_more {
        padding: 55px 37px;
      }
    }
  }
}

@include screen('sm', max) {

  .clients {

    &__box {
      justify-content: space-around;
    }
  }
}