@import '../../node_modules/normalize.css/normalize.css';
@import 'helpers/variables'; // Переменные
@import 'helpers/mixins'; // Миксины
@import 'helpers/fonts'; // Шрифты
@import 'helpers/gradients'; // Градиенты
@import 'helpers/basics'; // Основные общие стили
@import 'helpers/text-styles'; // Стили текстов
@import 'helpers/link-styles'; // Стили ссылок
@import 'helpers/list-styles'; // Стили списков
@import '../blocks/**/*';
@import '../components/**/*';
@import '../pages/**/*';

.container {
  width: $container-width;
  padding-left: $container-padding;
  padding-right: $container-padding;
  margin: 0 auto;
  max-width: 100%;
  box-sizing: border-box;

  //&_flex {
  //  display: flex;
  //  justify-content: space-between;
  //  align-items: center;
  //}

  &_inner {
    width: 1250px;
    box-sizing: content-box;
  }

  &_clients {
    @include screen('lg-r', max) {
      padding-left: 53px;
      padding-right: 53px;
    }
  }

  &_flex {
    display: flex;
    justify-content: space-between;
  }

  &_big {
    width: 1325px;
    box-sizing: content-box;

    @include screen("xl-t", max) {
      box-sizing: border-box;
    }

    @include screen("md", max) {
      padding-left: 0!important;
      padding-right: 0!important;
    }
  }

  &_xl {
    width: 1326px;

    @include screen("xl-t", max) {
      width: 1250px;
    }
  }
}

.js-sr {
  visibility: hidden;
}

.body {

  &_overflow {
    overflow-y: hidden;
  }
}

@include screen('lg', max) {

  .container {

    &_inner {
      width: 100%;
      box-sizing: border-box;
    }
  }
}

@include screen('lg-r', max) {

  .container {

    &_inner {
      //width: 707px;
      box-sizing: border-box;
    }
  }
}

@include screen('md', max) {

  .container {
    width: 100%;
    padding-left: 31px;
    padding-right: 31px;

    &_inner {
      padding-right: 15px;
      padding-left: 15px;
    }
  }
}

@include screen('sm', max) {

  .container {
    //width: 706px;
    //padding-left: 16px;
    //padding-right: 16px;

    //&_inner {
    //  padding-right: 16px;
    //  padding-left: 16px ;
    //}
  }
}
