mixin footer()
  +b.footer&attributes(attributes)
    .container.container_inner.footer__container
      +e.left
        +e.contacts
          +link(href='tel:+78126456596')._nounder._gray._lg +7 (812) 645-65-96
          +link(href='tel:+74956456596')._nounder._gray._lg +7 (495) 645-65-96
          +link(href='mailto:mail@prostudio.ru')._nounder._gray._lg.footer__mail mail@prostudio.ru
        +e.copyright.footer__second © 2009-2017  ООО «Цифровая империя»
      +e.center
        +link(href='mailto:mail@prostudio.ru')._nounder._gray._lg mail@prostudio.ru
        +b.apps.footer__second
          +e.title cкачать приложение:
          A.footer__appstore(href="#")
            img(src="assets/images/appstore.svg")
          //- +link._nounder._gray._flex.apps__link
          //-   img(src='./assets/images/android.png')
          //-   | Android
      +e.right
        +b.icons
          +link-icon('vk')._gray
          +link-icon('behance')._gray
          +link-icon('youtube')._gray
          +link._nounder
            img(src='./assets/images/instagram.png')
          //+link-icon('instagram')._gray
          +link-icon('facebook')._gray
          +link-icon('telegram')._gray
        +e.second
          +link._nounder._gray._flex.__doc
            img(src='./assets/images/pdf.png')
            span скачать презентацию<br>5 MB
          +b.langs.footer__langs
            +link._nounder._gray.langs__lang_active RU
            +link._nounder._gray.langs__lang EN
        +e.third
          +b.apps
            +e.title cкачать приложение:
            A.footer__appstore(href="#")
              img(src="assets/images/appstore.svg")
            //- +link._nounder._gray._flex.apps__link
            //-   img(src='./assets/images/android.png')
            //-   | Android
          +b.langs
            +link._nounder._gray.langs__lang_active RU
            +link._nounder._gray.langs__lang EN
      +e.mobil
        +b.city
          +e.name Петербург
          +link._nounder._xl._img.city__address
            img(src='./assets/images/ext_link.png')
            | Ленинский проспект, 151
          +link._dashed._xl.city__tel(href='tel:+78126456596') +7(812) 645-65-96
        +b.city
          +e.name Москва
          +link._nounder._xl._img.city__address
            img(src='./assets/images/ext_link.png')
            | Проспект вернадского, 43
          +link._dashed._xl.city__tel(href='tel:+74956456596') +7(495) 645-65-96
        +link(href='mailto:mail@prostudio.ru')._nounder._xl._blue.footer__mail_mobil mail@prostudio.ru
        +b.apps_mobil
          +e.title Cкачать приложение:
          A.footer__appstore(href="#")
            img(src="assets/images/appstore.svg")
          //- +link._nounder._gray._flex.apps__link
          //-   img(src='./assets/images/android.png')
        +switcher('RU', 'EN').js-switcher-lang.footer__switcher
        +e.copyright_mobil © 2009-2017  ООО «Цифровая империя»

mixin footer_dark()
  +b.footer._dark&attributes(attributes)
    .container.container_inner.footer__container
      +e.left
        +e.contacts
          +link(href='tel:+78126456596')._nounder._gray._lg._dark +7 (812) 645-65-96
          +link(href='tel:+74956456596')._nounder._gray._lg._dark +7 (495) 645-65-96
          +link(href='mailto:mail@prostudio.ru')._nounder._dark._gray._lg.footer__mail mail@prostudio.ru
        +e.copyright.footer__second.text_opacity © 2009-2017  ООО «Цифровая империя»
      +e.center
        +link(href='mailto:mail@prostudio.ru')._nounder._gray._lg._dark mail@prostudio.ru
        +b.apps.footer__second
          +e.title.text_opacity cкачать приложение:
          A.footer__appstore(href="#")
            img(src="assets/images/appstore.svg")
          //- +link._nounder._dark._gray._flex.apps__link
          //-   img(src='./assets/images/android.png')
          //-   | Android
      +e.right
        +b.icons
          +link-icon('vk')._gray._dark
          +link-icon('behance')._gray._dark
          +link-icon('youtube')._gray._dark
          +link._nounder._dark
            img(src='./assets/images/instagram.png')
          //+link-icon('instagram')._gray
          +link-icon('facebook')._gray._dark
          +link-icon('telegram')._gray._dark
        +e.second
          +link._nounder._gray._flex._dark.__doc
            img(src='./assets/images/pdf.png')
            span скачать презентацию<br>5 MB
          +b.langs
            +link._nounder._dark._gray.langs__lang_active RU
            +link._nounder._dark._gray.langs__lang EN
        +e.third
          +b.apps
            +e.title.text_opacity cкачать приложение:
            A.footer__appstore(href="#")
              img(src="assets/images/appstore.svg")
            //- +link._nounder._dark._gray._flex.apps__link
            //-   img(src='./assets/images/android.png')
            //-   | Android
          +b.langs
            +link._nounder._dark._gray.langs__lang_active RU
            +link._nounder._dark._gray.langs__lang EN
      +e.mobil
        +b.city
          +e.name.text_opacity.text_dark Петербург
          +link._nounder._dark._xl._img.city__address
            img(src='./assets/images/ext_link.png')
            | Ленинский проспект, 151
          +link._dashed._dark._xl.city__tel +7(812) 645-65-96
        +b.city
          +e.name.text_opacity Москва
          +link._nounder._dark._xl._img.city__address
            img(src='./assets/images/ext_link.png')
            | Проспект вернадского, 43
          +link._dashed._dark._xl.city__tel +7(495) 645-65-96
        +link(href='mailto:mail@prostudio.ru')._nounder._xl._dark.footer__mail_mobil mail@prostudio.ru
        +b.apps_mobil
          +e.title.text_opacity Cкачать приложение:
          A.footer__appstore(href="#")
            img(src="assets/images/appstore.svg")
          //- +link._nounder._dark._gray._flex.apps__link
          //-   img(src='./assets/images/android.png')
        +switcher('RU', 'EN').js-switcher-lang.footer__switcher._opacity
        +e.copyright_mobil.text_opacity © 2009-2017  ООО «Цифровая империя»





