.footer {
  //display: none;
  margin-top: 125px;
  padding: 58px 0 47px;
  background: $color-bg;
  width: 100%;
  color: $color-placeholder2;
  fill: $color-placeholder2;

  &__container {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  &__left {
    width: 45%;
  }

  &__right {
    width: 45%;
    flex-wrap: wrap;
  }

  &__center {
    margin: 0 100px;
  }

  &__mobil {
    display: none;
  }

  &__contacts {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  &__second {
    margin-top: 78px;
    display: flex;
    justify-content: space-between;
  }

  &__copyright {
    @include text;

    line-height: normal;

    &_mobil {
      margin-top: 50px;
      text-align: center;
    }
  }

  &__mail {
    display: none;
  }

  &__third {
    display: none;
  }

  .icons {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .link {
      height: 20px;
    }
  }

  .apps {
    display: flex;
    width: 212px;
    flex-wrap: wrap;
    justify-content: flex-start;

    &__title {
      //white-space: nowrap;
      width: 100%;
      margin-bottom: 3px;

      @include text;

      line-height: normal;
    }

    &__link {
      margin-right: 25px;
    }

    &_mobil {
      display: flex;
      justify-content: center;
      margin-top: 30px;
      text-align: center;

      .apps__title {
        font-size: 18px;
        margin-bottom: 20px;
      }

      .apps__link {
        margin-right: 0;
      }
    }
  }

  .langs {

    &__lang {

      .link__text {
        @include text-button-big;
      }

      &:first-child {
        margin-right: 27px;
      }

      &_active {

        .link__text {
          color: $color-main;
        }
      }
    }
  }
}

@include screen('lg-r', max) {

  .footer {

    &__container {
      height: 167px;
    }

    &__left {
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    &__right {
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    &__center {
      display: none;
    }

    &__contacts {
      flex-direction: column;

      .link {
        margin-bottom: 10px;
      }
    }

    &__mail {
      display: block;
    }

    &__second {
      margin-top: 0;

      .langs {
        display: none;
      }
    }

    &__third {
      display: flex;
      align-items: flex-end;
      justify-content: space-between;

      .langs {
        display: flex;
        align-items: flex-end;

        &__lang {
          display: flex;
          align-items: flex-end;
        }
      }
    }
  }
}

@include screen('md', max) {

  .footer {
    padding-top: 10px;

    &__container {
      height: unset;
      //padding-right: 16px !important;
      //padding-left: 16px !important;
    }

    &__left, &__center, &__right {
      display: none;
    }

    &__mobil {
      display: flex;
      width: 100%;
      flex-direction: column;
      align-items: center;
    }

    .city {
      display: flex;
      width: 100%;
      flex-direction: column;
      align-items: center;
      padding-top: 36px;

      @include footer-city;

      letter-spacing: .45px;

      &__name {
        color: $color-main;
      }

      &__address, &__tel {
        color: black;
        font-weight: 300;
      }
    }

    &__mail {

      &_mobil {
        margin-top: 45px;
        font-weight: 300;
      }
    }

    &__switcher {
      margin-top: 50px;
    }
  }
}
