.footer {
  //display: none;
  margin-top: 101px;
  padding: 56px 0 47px;
  background: $color-bg;
  width: 100%;
  color: $color-placeholder2;
  fill: $color-placeholder2;

  &__doc {
    span span {
      position: relative;
      top: -4px;
    }
  }

  &_dark {
    background: transparent;
    border-top: 1px solid rgba(#fff, .1);
    margin-top: 247px;

    @include screen('lg', max) {
      margin-top: 84px !important;
    }

    @include screen('md', max) {
      margin-top: 26px !important;
      padding-top: 0;
    }
  }

  &_nomargin {
    margin-top: 0;
  }

  &_journal {
    margin-top: 105px;

    @include screen('md', max) {
      margin-top: 52px;      
    }
  }

  &__container {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  &__left {
    width: 37.7%;
    max-width: 382px;
  }

  &__right {
    width: 39.5%;
    flex-wrap: wrap;
  }

  &__center {
    margin: 0 53px 0 100px;
    width: 26%;

    .link__text {
      letter-spacing: .4px;
    }
  }

  &__mobil {
    display: none;
  }

  &__contacts {
    width: 100%;
    display: flex;
    justify-content: space-between;

    .link__text {
      letter-spacing: .4px;
    }
  }

  &__second {
    margin-top: 71px;
    display: flex;
    justify-content: space-between;
  }

  &__copyright {
    @include text;

    height: 40px;
    line-height: 40px;

    &_mobil {
      margin-top: 51px;
      text-align: center;
    }
  }

  &__mail {
    display: none;
  }

  &__third {
    display: none;
  }

  .icons {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .link {
      height: 20px;
    }
  }

  .apps {
    display: flex;
    width: 212px;
    flex-wrap: wrap;
    justify-content: flex-start;

    &__title {
      //white-space: nowrap;
      width: 100%;
      margin-bottom: 3px;

      @include text;

      line-height: normal;
    }

    &__link {
      margin-right: 22px;

      @include screen('md', max) {
        img {
          margin-right: 0;
          height: 34px;
        }

        margin-right: 0;

        &:not(:last-child) {
          margin-right: 40px;
        }
      }

    }

    &_mobil {
      display: flex;
      justify-content: center;
      margin-top: 30px;
      text-align: center;

      .apps__title {
        font-size: 18px;
        margin-bottom: 29px;
      }
    }
  }

  &__langs {
    display: flex;
    align-items: center;

    @include screen('lg-r') {
      margin-top: -5px;
    }
  }

  .langs {

    &__lang {

      .link__text {
        @include text-button-big;
      }

      &:first-child {
        margin-right: 27px;
      }

      &_active {

        .link__text {
          color: $color-main;
        }
      }
    }
  }
}

@include screen('lg-r', max) {

  .footer {
    padding: 35px 0 27px;

    &__container {
      height: 171px;
    }

    &__left {
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding-right: 25px;
      box-sizing: border-box;
    }

    &__right {
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    &__center {
      display: none;
    }

    &__contacts {
      flex-direction: column;
      margin-top: 8px;

      .link {
        margin-bottom: 10px;
      }
    }

    &__mail {
      display: block;
    }

    &__second {
      margin-top: 17px;

      .langs {
        display: none;
      }
    }

    &__third {
      display: flex;
      align-items: flex-end;
      justify-content: space-between;

      .langs {
        display: flex;
        align-items: flex-end;

        &__lang {
          display: flex;
          align-items: flex-end;
        }

        .link__text {
          line-height: 1;
        }
      }
    }

    &__copyright {
      margin-top: 51px !important;
      height: auto;
      line-height: 1;
    }
  }
}

@include screen('md', max) {

  .footer {
    padding-top: 44px;
    padding-bottom: 55px;

    &__container {
      height: unset;
      //padding-right: 16px !important;
      //padding-left: 16px !important;
    }

    &__left, &__center, &__right {
      display: none;
    }

    &__mobil {
      display: flex;
      width: 100%;
      flex-direction: column;
      align-items: center;
    }

    .city {
      display: flex;
      width: 100%;
      flex-direction: column;
      align-items: center;
      padding-top: 26px;

      @include footer-city;

      letter-spacing: .45px;

      &:first-child {
        padding-top: 0;
      }

      &__name {
        color: $color-main;
      }

      &__address {
        margin-top: 7px;
      }

      &__tel {
        margin-top: -4px;
      }

      &__address, &__tel {
        color: black;
        font-weight: 300;
      }
    }

    &__mail {

      &_mobil {
        margin-top: 28px;
        font-weight: 400;
      }
    }

    &__switcher {
      margin-top: 52px;

      &_opacity {
        opacity: .2;
      }
    }
  }
}
