mixin link()
  +b.A.link&attributes(attributes)
    +e.SPAN.text
      block

mixin link-icon(iconname)
  +b.A.link&attributes(attributes)._icon
    +icon(iconname).__icon
    +e.SPAN.text
      block

mixin link-icon-right(iconname)
  +b.A.link&attributes(attributes)._icon-right
    +icon(iconname).__icon_right
    +e.SPAN.text
      block

mixin link-img(img)
  +b.A.link
    img(src= img)
