.contacts {
  //display: flex;
  //justify-content: center;
  margin: auto;
  margin-top: 46px;
}

.mapcard {
  background: white;
  //padding: 7px 18px 26px;
  width: 312px;

  &__box {
    padding: 48px 42px 50px;
    border-bottom: 1px solid #d9dee2;
  }

  &__title {
    color: $color-main;
    font-size: 17px;
    letter-spacing: 1.26px;

    &:not(:first-child) {
      margin-top: 32px;
    }
  }

  &__value {
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 1.26px;
  }

  &__links {
    padding: 26px 18px;
    display: flex;
    justify-content: space-between;
  }
}

@include screen('lg-r', max) {

  .contacts {
    margin-top: 60px;
  }
}

@include screen('md', max) {

  .contacts {
    margin-top: 24px;
  }
}

@include screen('sm', max) {

  .mapcard {
    width: 300px;

    &__box {
      //padding-right: 30px;
      //padding-left: 30px;
    }
  }
}
