extends ../../layouts/default

block head
  - var pageTitle = 'Versta Project Template'

block content
  +header_index(true)._fixed._index

  +pagepiling
    +b.IMG(src='./assets/images/play.svg').slide-play
    +pagepiling-slide
      +b.slide1.slide
        +e.box
          +e.texts
            +e.title
              h1 Создание <br>и продвижение<br> сайтов
            +e.P.subtitle Развитие вашего бизнеса<br> в Digital и не только ...
            +button(href="#contact")._blue._big.slide1__btn.js-fancybox Обсудить проект
          +b.slide-footer.slide__footer
            .slide-footer__container
              +e.scroll
                +e.IMG(src='./assets/images/mouse_grey.svg').mouse
                +e.text листайте вниз
              +e.portfolio
                a(href="portfolio.html").index-link портфолио
        +e.slider.slider_portfolio
          +slider(false, false)
            +slide-project('./assets/images/slide1l.jpg', './assets/images/slide1r.jpg', './assets/images/slide1c.png', 'Разработка интернет-магазина<br>«Swimchamp»', 'WEB')
            +slide-project('./assets/images/slide2l.jpg', './assets/images/slide2r.jpg', './assets/images/slide2c.png', 'Разработка интернет-магазина<br>«Ангел и демон»', 'WEB')
            +slide-project-two('./assets/images/slide3l.jpg', './assets/images/slide3r.jpg', './assets/images/slide3c.png', 'Разработка приложения<br>«VELVET»', 'APP')
            +slide-project-three('./assets/images/slide4l.jpg', './assets/images/slide4r.jpg', './assets/images/slide4c.png', 'Разработка сайта<br>«titus.ru»', 'WEB')
            +slide-project('./assets/images/slide5l.jpg', './assets/images/slide5r.jpg', './assets/images/slide5c.png', 'Разработка сайта<br>«titus.ru»', 'WEB')
        +b.slider-pag

    +pagepiling-slide
      +b.slide2.slide
        +e.box
          +b.advantage-wrap
            +b.advantage
              +b.advantage-inner
                +icon('plus').__plus
                +e.num 7
              +e.text 7 лет успешной<br> работы
            +b.advantage
              +b.advantage-inner
                +icon('plus').__plus
                +e.num 200
              +e.text Выполнено более <br>200 проектов
            +b.advantage
              +b.advantage-inner
                +icon('plus').__plus
                +e.num 2
              +e.text 2 офиса  Москва<br> и Санкт-Петербург
            +b.advantage
              +b.advantage-inner
                +icon('plus').__plus
                +e.num 30
              +e.text Более 30<br> профессионалов
          +e.text Мы не только разрабатвыем превосходные digital проекты.<br>
            | Мы искренне пытаемся поточь в достижении вашей цели и это не просто слова.<br>
            | <b>Свяжитесь с нами и вы убедитесь в этом сами.</b>
    +pagepiling-slide
      +b.slide3.slide
        .container
          +e.box
            +e.uslugi
              +b.usluga
                +e.H3.title Сайты
                +b.linkbox
                  +link()(href="https://www.youtube.com/watch?v=_sI_Ps7JSEk").linkbox__link.js-fancybox Сайт визитка
                  +link()(href="#").linkbox__link Landing Page
                  +link()(href="#").linkbox__link Корпоративный сайт
                  +link()(href="#").linkbox__link Интернет-магазин
                  +link()(href="#").linkbox__link Сложные проекты
                +e.bg
                  +icon('icon_six')(fill="#f6c400" width="180" height="206")
              +b.usluga
                +e.H3.title Продвижение
                +b.linkbox
                  +link()(href="#").linkbox__link SEO
                  +link()(href="#").linkbox__link SMM
                  +link()(href="#").linkbox__link Контекстная реклама
                  +link()(href="#").linkbox__link Таргетированная реклама
                  +link()(href="#").linkbox__link Медийная реклама
                +e.bg
                  +icon('icon_romb')(fill="#db224b" width="225" height="225")
              +b.usluga
                +e.H3.title Брендинг
                +b.linkbox
                  +link()(href="#").linkbox__link Логотип
                  +link()(href="#").linkbox__link Фирменный стиль
                  +link()(href="#").linkbox__link Нейминг/Слоган
                  +link()(href="#").linkbox__link Фото/Видео
                +e.bg
                  +icon('icon_crug')(fill="#8e1d77" width="189" height="189")
              +b.usluga
                +e.H3.title Приложения
                +b.linkbox
                  +link()(href="#").linkbox__link OS
                  +link()(href="#").linkbox__link Adndroid
                  +link()(href="#").linkbox__link Native Web
                  +link()(href="#").linkbox__link Адаптивный дизайн
                  +link()(href="#").linkbox__link Мобильная версия сайта
                +e.bg
                  +icon('icon_trioganal')(fill="#0066ae" width="187" height="213")
              +b.usluga
                +e.H3.title Аналитика
                +b.linkbox
                  +link()(href="#").linkbox__link Техническое задание
                  +link()(href="#").linkbox__link Аудит проекта
                  +link()(href="#").linkbox__link Прототипирование
                  +link()(href="#").linkbox__link Digital-стратегия
                  +link()(href="#").linkbox__link CRM и ERP системы
                +e.bg
                  +icon('icon_plus')(fill="#00b3c2" width="189" height="189")
              +b.usluga
                +e.H3.title Поддержка
                +b.linkbox
                  +link()(href="#").linkbox__link Техническая поддержка
                  +link()(href="#").linkbox__link Хостинг
                  +link()(href="#").linkbox__link Тестирование
                  +link()(href="#").linkbox__link Администрирование сложных проектов
                +e.bg
                  +icon('icon_kvadrat')(fill="#00b727" width="189" height="189")
    +pagepiling-slide
      +b.slide4.slide
        +e.box
          +slider(false, false).slider_journal
            +slide
              +card-journal('./assets/images/slide21.jpg','Мы запустили новый сайт для компании.','20  10  17')
            +slide
              +card-journal('./assets/images/slide22.jpg','Как эффективно настроить контекстную рекламу и увеличить продажи?','14  10  17')
            +slide
              +card-journal('./assets/images/slide23.jpg','Запустили новое приложение для компании.','08  10  17')
            +slide
              +card-journal('./assets/images/slide24.jpg','Выступление нашего маркетолога на DIGTALE','20  10  17')
            +slide
              +card-journal('./assets/images/slide24.jpg','Выступление нашего маркетолога на DIGTALE','20  10  17')
            +slide
              +card-journal('./assets/images/slide21.jpg','Мы запустили новый сайт для компании.','20  10  17')
            +slide
              +card-journal('./assets/images/slide22.jpg','Как эффективно настроить контекстную рекламу и увеличить продажи?','14  10  17')
            +slide
              +card-journal('./assets/images/slide23.jpg','Запустили новое приложение для компании.','08  10  17')
            +slide
              +card-journal('./assets/images/slide24.jpg','Выступление нашего маркетолога на DIGTALE','20  10  17')
            +slide
              +card-journal('./assets/images/slide24.jpg','Выступление нашего маркетолога на DIGTALE','20  10  17')

          +b.slide-footer.slide__footer
            +e.container
              +b.journal-pag
                +e.prev
                  +icon('arrow_left').prev-arrow
                +e.next
                  +icon('arrow_right').next-arrow
              +e.line
              +e.news
                a(href="news.html").index-link все новости
              +b.FORM(action='#' method='POST').subscribe
                +inputbox
                  +input(placeholder="Email").subscribe__email
                +button('button')(type='submit')._img
                  +e.IMG(src='./assets/images/send.svg').send
    +pagepiling-slide
      +b.slide5.slide
        +e.box
          +e.container
            +b.city-wrap
              +b.city_piter.js-city
                +e.H3.title
                  +icon('spb').__nohover
                  +e.name_piter Петербург
                +e.address 196247,<br>Ленинский проспект, дом 151<br>офис 315
                +link(href='#')._white._xl.city__map Как проехать
                +e.tel  +7 (812) 645-65-96
              +b.city_moscow.js-city
                +e.H3.title
                  +icon('moscow').__nohover
                  +e.name_moscow Москва
                +e.address 196247,<br>Проспект вернадского, дом 43<br>офис 49
                +link(href='#')._white._xl.city__map Как проехать
                +e.tel  +7 (495) 645-65-96
            +e.offer-content
              +e.H2.title Хотите проект от Prostudio?
              +e.P.subtitle Заполните форму на сайте или напишите нам на почту #[+link(href='mailto:mail@prostudio.ru')._blue._nounder.slide5__link mail@prostudio.ru]
              +button(href="#contact")._white._big.__btn.js-fancybox Обсудить проект

          +b.slide-footer.slide__footer._end
            .container.slide-footer__container
              //- +e.IMG(src='./assets/images/play.svg').play
              +b.menu
                ul
                  li.menu__item
                    +link(href='google.com' style="color: #4c75a3")._nounder._gray Vkontake
                  li.menu__item
                    +link(href='google.com' style="color: #053eff")._nounder._gray behance
                  li.menu__item
                    +link(href='google.com' style="color: #ff0000")._nounder._gray youtube
                  li.menu__item
                    +link(href='google.com' style="color: #ce2e8f")._nounder._gray instagram
                  li.menu__item
                    +link(href='google.com' style="color: #4267B2")._nounder._gray facebook
                  li.menu__item
                    +link(href='google.com' style="color: #0088cc")._nounder._gray telegram
              //+e.lang RU EN
              +switcher('RU', 'EN').js-switcher-lang

  +b.pad
    .container
      +e.H1.title Сайты<br>Продвижение<br>дизайн
      +link(href='#contact')._nounder.pad__discuss.js-fancybox Обсудить проект
      +b.padportfolio.pad__portfolio
        +e.nav
          //+e.next
          //  img(src='./assets/images/next_blue.svg')
          +e.pag
          //+e.IMG(src='./assets/images/blue_round.png').img-round
          .slideToUnlock
            .js-range
        +slider(false, false).slider_padportfolio
          +slide
            .slide__tag #Сайты
            img(src='./assets/images/pad_portfolio1.jpg')
            .slide__text-wrap
              .slide__title Создание сайта
              +link(href='#').slide__link.link_nounder.link_blue printui.ru
          +slide
            .slide__tag #Сайты
            img(src='./assets/images/pad_portfolio2.jpg')
            .slide__text-wrap
              .slide__title Создание сайта
              +link(href='#').slide__link.link_nounder.link_blue printui.ru
          +slide
            .slide__tag #Сайты
            img(src='./assets/images/pad_portfolio3.jpg')
            .slide__text-wrap
              .slide__title Создание сайта
              +link(href='#').slide__link.link_nounder.link_blue printui.ru
          +slide
            .slide__tag #Сайты
            img(src='./assets/images/pad_portfolio1.jpg')
            .slide__text-wrap
              .slide__title Создание сайта
              +link(href='#').slide__link.link_nounder.link_blue printui.ru
          +slide
            .slide__tag #Сайты
            img(src='./assets/images/pad_portfolio2.jpg')
            .slide__text-wrap
              .slide__title Создание сайта
              +link(href='#').slide__link.link_nounder.link_blue printui.ru
      +button.pad__more Ещё
        +icon('arrow')
      +b.pad-advantage.pad__advantage
        +slider(false, false).slider_advantage
          +slide
            .pad-advantage__num 7
            .pad-advantage__text 7 лет успешной<br>работы
          +slide
            .pad-advantage__num 200
            .pad-advantage__text Выполнено более<br>200 проектов
          +slide
            .pad-advantage__num 2
            .pad-advantage__text 2 офиса Москва<br>и Санкт-Петербург
          +slide
            .pad-advantage__num 30
            .pad-advantage__text Более 30<br>профессионалов
      +b.pad-journal.pad__journal
        +slider(false, false).slider_padjournal
          +slide
            .pad-journal__imgbox
              img(src='./assets/images/padjournal1.jpg')
            .pad-journal__title Создание сайта
            .pad-journal__date 14 октября
          +slide
            .pad-journal__imgbox
              img(src='./assets/images/padjournal2.jpg')
            .pad-journal__title Как эффективно настроить контекстную<br> рекламу и увеличить продажи?
            .pad-journal__date 14 октября
          +slide
            .pad-journal__imgbox
              img(src='./assets/images/padjournal3.jpg')
            .pad-journal__title Создание сайта
            .pad-journal__date 14 октября
      +e.question Хотите проект от Prostudio?
      +button(href='#contact').pad__btn.button_blue.button_big.js-fancybox Обсудить проект

  +footer._index














