extends ../../layouts/default

block head
  - var pageTitle = 'Versta Project Template'

block content
  +header(true)._fixed

  +pagepiling
    +pagepiling-slide
      +b.slide1.slide
        +e.box
          +e.title Создание <br>и продвижение<br> сайтов
          +e.subtitle Развитие вашего бизнеса<br> в Digital и не только ...
          +button(href="#contact")._blue._big.slide1__btn.js-fancybox Обсудить проект
        +e.slider.slider_portfolio
          +slider(false, false)
            +slide
              .slide__bg
                img(src='./assets/images/slide1l.jpg').slide__left
                img(src='./assets/images/slide1r.jpg').slide__right
              img(src='./assets/images/slide1c.png').slide__center
            +slide
              .slide__bg
                img(src='./assets/images/slide2l.jpg').slide__left
                img(src='./assets/images/slide2r.jpg').slide__right
              img(src='./assets/images/slide2c.png').slide__center
              .slide__plate
                .slide__title Разработка интернет-магазина<br>«Ангел и демон»
                +button._fullwhite._huge WEB
            +slide
              .slide__bg
                img(src='./assets/images/slide3l.jpg').slide__left
                img(src='./assets/images/slide3r.jpg').slide__right
              img(src='./assets/images/slide3c.png').slide__center.slide__center_offset
              .slide__plate
                .slide__title Разработка приложения<br>«VELVET»
                +button._fullwhite._huge APP
            +slide
              .slide__bg
                img(src='./assets/images/slide4l.jpg').slide__left
                img(src='./assets/images/slide4r.jpg').slide__right
              img(src='./assets/images/slide4c.png').slide__center.slide__center_offset2
            +slide
              .slide__bg
                img(src='./assets/images/slide5l.jpg').slide__left
                img(src='./assets/images/slide5r.jpg').slide__right
              img(src='./assets/images/slide5c.png').slide__center
              .slide__plate
                .slide__title Разработка сайта<br>«titus.ru»
                +button._fullwhite._huge WEB
        +b.slide-footer.slide__footer
          .container.slide-footer__container
            +e.IMG(src='./assets/images/play.svg').play
            +e.scroll
              +e.IMG(src='./assets/images/mouse.png').mouse
              +e.text листайте вниз
            +e.portfolio портфолио
        +b.slider-pag
    +pagepiling-slide
      +b.slide2.slide
        +e.box
          +b.advantage
            +icon('plus').__plus
            +e.num 7
            +e.text 7 лет успешной<br> работы
          +b.advantage
            +icon('plus').__plus
            +e.num 200
            +e.text Выполнено более <br>200 проектов
          +b.advantage
            +icon('plus').__plus
            +e.num 2
            +e.text 2 офиса  Москва<br> и Санкт-Петербург
          +b.advantage
            +icon('plus').__plus
            +e.num 30
            +e.text Более 30<br> профессионалов
          +e.text Мы не только разрабатвыем превосходные digital проекты.<br>
            | Мы искренне пытаемся поточь в достижении вашей цели и это не просто слова.<br>
            | <b>Свяжитесь с нами и вы убедитесь в этом сами.</b>
        +b.slide-footer.slide__footer
          .container.slide-footer__container
            +e.IMG(src='./assets/images/play.svg').play
    +pagepiling-slide
      +b.slide3.slide
        .container
          +e.box
            +b.usluga
              +e.title Сайты
              +b.linkbox
                +link()(href="#").linkbox__link Сайт визитка
                +link()(href="#").linkbox__link Landing Page
                +link()(href="#").linkbox__link Корпоративный сайт
                +link()(href="#").linkbox__link Интернет-магазин
                +link()(href="#").linkbox__link Сложные проекты
            +b.usluga
              +e.title Продвижение
              +b.linkbox
                +link()(href="#").linkbox__link SEO
                +link()(href="#").linkbox__link SMM
                +link()(href="#").linkbox__link Контекстная реклама
                +link()(href="#").linkbox__link Таргетированная реклама
                +link()(href="#").linkbox__link Медийная реклама
            +b.usluga
              +e.title Брендинг
              +b.linkbox
                +link()(href="#").linkbox__link Логотип
                +link()(href="#").linkbox__link Фирменный стиль
                +link()(href="#").linkbox__link Нейминг/Слоган
                +link()(href="#").linkbox__link Фото/Видео
            +b.usluga
              +e.title Приложения
              +b.linkbox
                +link()(href="#").linkbox__link OS
                +link()(href="#").linkbox__link Adndroid
                +link()(href="#").linkbox__link Native Web
                +link()(href="#").linkbox__link Адаптивный дизайн
                +link()(href="#").linkbox__link Мобильная версия сайта
            +b.usluga
              +e.title Аналитика
              +b.linkbox
                +link()(href="#").linkbox__link Техническое задание
                +link()(href="#").linkbox__link Аудит проекта
                +link()(href="#").linkbox__link Прототипирование
                +link()(href="#").linkbox__link Digital-стратегия
                +link()(href="#").linkbox__link CRM и ERP системы
            +b.usluga
              +e.title Поддержка
              +b.linkbox
                +link()(href="#").linkbox__link Техническая поддержка
                +link()(href="#").linkbox__link Хостинг
                +link()(href="#").linkbox__link Тестирование
                +link()(href="#").linkbox__link Администрирование сложных проектов
        +b.slide-footer.slide__footer
          .container.slide-footer__container
            +e.IMG(src='./assets/images/play.svg').play
    +pagepiling-slide
      +b.slide4.slide
        +e.box
          +slider(false, false).slider_journal
            +slide
              .slide__img
                img(src='./assets/images/slide21.jpg')
              .slide__text Мы запустили новый сайт<br> для компании.
              .slide__date 20  10  17
            +slide
              .slide__img
                img(src='./assets/images/slide22.jpg')
              .slide__text Как эффективно настроить контекстную рекламу и увеличить продажи?
              .slide__date 14  10  17
            +slide
              .slide__img
                img(src='./assets/images/slide23.jpg')
              .slide__text Запустили новое приложение для компании.
              .slide__date 08  10  17
            +slide
              .slide__img
                img(src='./assets/images/slide24.jpg')
              .slide__text Выступление нашего маркетолога на DIGTALE
              .slide__date 20  10  17
            +slide
              .slide__img
                img(src='./assets/images/slide21.jpg')
              .slide__text Мы запустили новый сайт<br> для компании.
              .slide__date 14  10  17
            +slide
              .slide__img
                img(src='./assets/images/slide22.jpg')
              .slide__text Как эффективно настроить контекстную рекламу и увеличить продажи?
              .slide__date 08  10  17
            +slide
              .slide__img
                img(src='./assets/images/slide23.jpg')
              .slide__text Запустили новое приложение для компании.
              .slide__date 20  10  17
            +slide
              .slide__img
                img(src='./assets/images/slide24.jpg')
              .slide__text Выступление нашего маркетолога на DIGTALE
              .slide__date 14  10  17
        +b.slide-footer.slide__footer
          .container.slide-footer__container
            +e.IMG(src='./assets/images/play.svg').play
            +b.journal-pag
              +e.IMG(src='./assets/images/prev.svg').prev
              +e.IMG(src='./assets/images/next.svg').next
            +e.line
            +e.news все новости
            +b.FORM.subscribe
              +inputbox
                +input(placeholder="Email").subscribe__email
              +button('button')(type='submit')._img
                +e.IMG(src='./assets/images/send.svg').send
    +pagepiling-slide
      +b.slide5.slide
        +e.box
          +b.city_piter
            +e.title
              +e.IMG(src='./assets/images/piter.png').nohover
              +e.IMG(src='./assets/images/piter_white.png').hover
              +e.name_piter Петербург
            +e.address 196247,<br>Ленинский проспект, дом 151<br>офис 315
            +link(href='#')._white._xl.city__map Как проехать
            +e.tel  +7 (812) 645-65-96
          +b.city_moscow
            +e.title
              +e.IMG(src='./assets/images/moscow.png').nohover
              +e.IMG(src='./assets/images/moscow_white.png').hover
              +e.name_moscow Москва
            +e.address 196247,<br>Проспект вернадского, дом 43<br>офис 49
            +link(href='#')._white._xl.city__map Как проехать
            +e.tel  +7 (495) 645-65-96
          +e.title Хотите проект от Prostudio?
          +e.subtitle Заполните форму на сайте или напишите нам на почту #[+link(href='mailto:mail@prostudio.ru')._blue._nounder.slide5__link mail@prostudio.ru]
          +button(href="#contact")._white._big.__btn.js-fancybox Обсудить проект

        +b.slide-footer.slide__footer._end
          .container.slide-footer__container
            +e.IMG(src='./assets/images/play.svg').play
            +b.menu
              ul
                li.menu__item
                  +link(href='#')._nounder._gray Vkontake
                li.menu__item
                  +link(href='#')._nounder._gray behance
                li.menu__item
                  +link(href='#')._nounder._gray youtube
                li.menu__item
                  +link(href='#')._nounder._gray instagram
                li.menu__item
                  +link(href='#')._nounder._gray facebook
                li.menu__item
                  +link(href='#')._nounder._gray telegram
            //+e.lang RU EN
            +switcher('RU', 'EN')

  +b.pad
    .container
      +e.H1.title Сайты<br>Продвижение<br>дизайн
      +link(href='#')._nounder.pad__discuss Обсудить проект
      +b.padportfolio.pad__portfolio
        +e.nav
          +e.next
            img(src='./assets/images/next_blue.svg')
          +e.pag
          img(src='./assets/images/blue_round.png')
        +slider(false, false).slider_padportfolio
          +slide
            img(src='./assets/images/pad_portfolio1.jpg')
            .slide__title Создание сайта
            +link(href='#').slide__link.link_nounder.link_blue printui.ru
          +slide
            img(src='./assets/images/pad_portfolio2.jpg')
            .slide__title Создание сайта
            +link(href='#').slide__link.link_nounder.link_blue printui.ru
          +slide
            img(src='./assets/images/pad_portfolio3.jpg')
            .slide__title Создание сайта
            +link(href='#').slide__link.link_nounder.link_blue printui.ru
          +slide
            img(src='./assets/images/pad_portfolio1.jpg')
            .slide__title Создание сайта
            +link(href='#').slide__link.link_nounder.link_blue printui.ru
          +slide
            img(src='./assets/images/pad_portfolio2.jpg')
            .slide__title Создание сайта
            +link(href='#').slide__link.link_nounder.link_blue printui.ru
          +slide
            img(src='./assets/images/pad_portfolio3.jpg')
            .slide__title Создание сайта
            +link(href='#').slide__link.link_nounder.link_blue printui.ru
      +button.pad__more Ещё
        +icon('arrow')
      +b.pad-advantage.pad__advantage
        +slider(false, false).slider_advantage
          +slide
            .pad-advantage__num 7
            .pad-advantage__text 7 лет успешной<br>работы
          +slide
            .pad-advantage__num 200
            .pad-advantage__text Выполнено более<br>200 проектов
          +slide
            .pad-advantage__num 2
            .pad-advantage__text 2 офиса Москва<br>и Санкт-Петербург
          +slide
            .pad-advantage__num 30
            .pad-advantage__text Более 30<br>профессионалов
      +b.pad-journal.pad__journal
        +slider(false, false).slider_padjournal
          +slide
            .pad-journal__imgbox
              img(src='./assets/images/padjournal1.jpg')
            .pad-journal__title Создание сайта
            .pad-journal__date 14 октября
          +slide
            .pad-journal__imgbox
              img(src='./assets/images/padjournal2.jpg')
            .pad-journal__title Как эффективно настроить контекстную<br> рекламу и увеличить продажи?
            .pad-journal__date 14 октября
          +slide
            .pad-journal__imgbox
              img(src='./assets/images/padjournal3.jpg')
            .pad-journal__title Создание сайта
            .pad-journal__date 14 октября
          +slide
      +e.question Хотите проект от Prostudio?
      +button.pad__btn.button_blue.button_big Обсудить проект
  +footer

  +b.contact#contact
    +e.step1
      +e.title Заполните заявку на проект?
      +e.FORM.form
        +e.box
          +inputbox.contact__inputbox.contact__inputbox_half Выберите проект:
            +select
              option(value="Веб-сайт") Веб-сайт
              option(value="Продвижение") Продвижение
              option(value="Брендинг") Брендинг
              option(value="Приложение") Приложение
              option(value="Аналитика") Аналитика
              option(value="Поддержка") Поддержка
          +inputbox.inputbox_noborder.contact__inputbox.contact__inputbox_half.contact__inputbox_flexstart
            //+input(placeholder="Плейсхолдер")
            .inputbox__title Бюджет:
            +radio('budget', 'test', 'true') 100-200 тыс. руб
            +radio('budget', 'test-2') от 500 тыс. руб
          +inputbox('Имя').contact__inputbox.contact__inputbox_half
            +input()
          +inputbox("Телефон").contact__inputbox.contact__inputbox_half
            +input()
          +inputbox("Email").contact__inputbox.contact__inputbox_half
            +input
          +inputbox()._file.contact__inputbox.contact__inputbox_half
            label
              +input(type='file')
              span.filename Добавить файл
              img(src='./assets/images/addfile.svg').addfile
          +inputbox("Сообщение").contact__inputbox
            +input
        +e.text Нажимая на кнопку  «Отправить», вы соглашаетесь на обработку персональных данных<br>в соответсвии с
          +link._blue Политикой конфиденциальности.
        +button('input')(type='submit', value='отправить заявку')._blue._big.contact__btn.js-submit
    +e.step2
      img(src='./assets/images/msg_send.jpg')
      +e.title Отправлено!
      +e.subtitle Спасибо за обращение в нашу студию.
      +button._blue._big.contact__btn_mt.js-popup-close на главную














