.slide {

  &__footer {
    position: relative;
    // bottom: -79px;
    padding-bottom: 30px;
    //margin: 0 auto;
    width: 100%;
  }
}

.slider {

  &_padportfolio {

    .slider {

      &__slide {

        @include screen('sm', max) {
          width: 100%;
        }
      }
    }

    .slide {

      &__title {
        margin-top: 0;
      }
    }
  }

  &_advantage {

    .slider {

      &__slide {

        @include screen('md', max) {
          width: 330px;
          height: 328px;
        }
      }
    }
  }

  &_padjournal {
    .slider {

      &__slide {

        @include screen('md', max) {
          width: 330px;
        }
      }
    }
  }
}

.slide1 {
  min-height: 100%;
  height: auto;

  &__box {
    pointer-events: none;
    padding-top: 148px;
    padding-left: 274px;
    position: relative;
    z-index: 2;
    padding-right: calc(26.3% + 113px);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-height: 100vh;
    box-sizing: border-box;

    @include screen('lg', max) {
      padding-left: 210px;
    }

    @include screen('lg', max) {
      padding-top: 140px;
      padding-left: 0;
      text-align: center;
    }
  }

  &__title {
    color: $color-main;
    font-family: 'Intro Bold Alt';

    @include heading-1;

    h1 {
      color: inherit;
      font-size: inherit;
      margin: 0;
      padding: 0;
      line-height: inherit;
    }
  }

  &__subtitle {
    margin-top: 53px;

    @include heading-3;

    @include screen('lg', max) {
      margin-top: 35px;
    }
  }

  &__texts {
    margin-bottom: 100px;
    margin-top: auto;
    pointer-events: all;
  }

  &__btn {
    margin-top: 107px;

    //@include text-button-big;
    @include screen('lg', max) {
      margin-top: 60px;
    }
  }

  &__slider {
    position: absolute;
    height: 100%;
    width: 100%;
    right: 0;
    top: 0;
    z-index: 0;

    @include screen('lg', max) {
      display: none;
    }
  }

  .slide__footer {
    margin-top: auto;
    pointer-events: all;
  }
}

.slide2 {

  &__box {
    padding: 150px 211px 100px 233px;
    display: flex;
    flex-wrap: wrap;
    min-height: 100%;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: center;

    @include screen('lg', max) {
      padding-top: 190px;
    }
  }

  .advantage-wrap {
    display: flex;
    justify-content: space-between;

    @include screen('xl-b', max) {
      flex-wrap: wrap;
    }
  }

  .advantage-inner {
    display: flex;
    align-items: center;

    &__plus {
      fill: $color-svg-gray;
      width: 90px;
      height: 90px;
      display: inline-block;
    }

    &__num {
      color: $color-main;
      display: inline-block;
      margin-left: 21px;

      @include heading-bignum;

      line-height: 90px;
    }
  }

  .advantage {
    display: flex;
    flex-direction: column;

    @include screen('xl-b', max) {
      width: 50%;
      margin-bottom: 80px;
    }

    @include screen('lg', max) {
      flex-basis: 100%;
    }

    &:not(:last-child) {
      margin-right: 80px;
      margin-bottom: 30px;

      @include screen('xl-b', max) {
        margin-bottom: 80px;
        margin-right: 0;
      }
    }

    &__text {
      width: 100%;
      margin-top: 47px;
      word-break: break-all;

      @include heading-4;
    }
  }

  &__text {
    margin-top: 83px;

    @include heading-5;

    text-align: center;

    @include screen('xl-b', max) {
      margin-top: 0;
    }
  }
}

.slide3 {

  .container {
    width: 100%;
  }

  &__box {
    padding: 157px 134px 100px 94px;
    display: flex;
    vertical-align: middle;
    min-height: 100vh;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: center;

    @include screen('lg', max) {
      padding: 0 168px 0 112px;
    }
  }

  &__uslugi {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
  }

  .usluga {
    width: 33.333%;
    min-height: 225px;
    position: relative;
    margin: 60px 0;

    @include screen('xl-b', max) {
      width: 50%;
    }

    &__bg {
      svg {
        @include center-image;
        transition: fill $ease-main;
      }
    }

    &:not(:hover) {
      .usluga__bg {
        svg {
          fill: #F4F4F4 !important;
        }
      }
    }

    &__title {
      position: absolute;
      left: calc(50% - 145px);
      top: 40px;

      @include heading-6;
    }

    .linkbox {
      display: flex;
      flex-direction: column;
      position: absolute;
      z-index: 1;
      top: 40px;
      left: calc(50% + 40px);

      // &__link {
      //   //display: block;
      // }
    }
  }
}

.slide4 {
  width: 100%;

  &__box {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    min-height: 100%;
    padding: 150px 0 0 276px;

    @include screen ('lg', max) {
      padding-top: 90px;
    }
  }

  .slider {
    margin: auto 0;
  }

  .slide__footer {
    margin-top: 70px;
    padding-right: 30px;
    box-sizing: border-box;
  }

  .slide {

    &__link {
      color: inherit;

      &:hover {
        .slide__img img {
          transform: scale(1.05);
        }
      }
    }

    &__img {
      overflow: hidden;
      img {
        display: block;
        transition: transform $ease-main;
      }
    }
  }
}

.slide5 {

  .slide-footer__container {
    height: 55px;
  }

  &__box {
    text-align: center;
    display: flex;
    padding-top: 130px;
    box-sizing: border-box;
    min-height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    @include screen ('lg', max) {
      padding-top: 140px;
    }
  }

  &__container {
    padding: 0 140px;
    width: 100%;
    box-sizing: border-box;
    margin: auto 0;
  }

  &__offer-content {
    padding: 0 125px;
  }

  &__title {
    margin-top: 33px;
    width: 100%;

    @include heading-7;
  }

  &__subtitle {
    width: 100%;
    margin-top: 12px;

    @include text-address;

    letter-spacing: .55px;
  }

  .slide__footer {
    margin-top: 70px;

    .switcher {
      position: absolute;
      right: 30px;
      top: 9px;
    }
  }

  &__link {
    @include text-address;

    letter-spacing: .55px;
  }

  &__btn {
    margin-top: 40px;
  }

  .city-wrap {
    display: flex;
    align-items: center;
    width: 986px;
    min-height: 418px;
    margin: 0 auto;

    @include screen('lg', max) {
      width: 70%;
      flex-direction: column;
    }

    @include screen('md-r', max) {
      width: 60%;
    }
  }
}

.city {
  flex-basis: 50%;
  padding: 36px 41px 37px 36px;
  text-align: left;
  position: relative;
  background-color: $color-bg;
  transition: color $ease-main, background-color $ease-main;
  z-index: 2;

  $b: &;

  @include screen('md', max) {
    padding: 0 20px 0;
  }

  &::before {
    @include pseudo;

    position: absolute;
    right: 0;
    bottom: 0;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .5s ease;
    opacity: 0;
    background-position: 100% 0;
  }

  &_piter {

    #{$b}__nohover {
      fill: $color-main;
    }

    &::before {
      background-color: $color-main;
      background-image: url('../images/city_piter_bg.jpg');
      background-repeat: no-repeat;
    }
  }

  &_moscow {
    #{$b}__nohover {
      fill: $color-red;
    }

    &::before {
      background-color: $color-red;
      background-image: url('../images/city_moscow_bg.jpg');
      background-repeat: no-repeat;
    }
  }

  &:hover {
    color: white;
    background-color: transparent;

    &::before {
      top: -22px;
      left: -41px;
      right: -34px;
      bottom: -20px;
      opacity: 1;
    }
  }

  &__hover,
  &__nohover {
    transition: opacity $ease-main;
  }

  &__hover {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;

    #{$b}:hover & {
      opacity: 1;
    }
  }

  &__nohover {
    width: 36px;
    height: 36px;
    transition: fill $ease-main;

    #{$b}:hover & {
      fill: white;
    }
  }

  &:not(:last-child) {
    margin-right: 35px;

    @include screen('lg', max) {
      margin-right: 0;
      margin-bottom: 35px;
    }
  }

  &__title {
    position: relative;
    display: flex;
    align-items: center;
  }

  &__name {
    margin-left: 28px;
    transition: color $ease-main;

    @include text-city;

    @include screen('md', max) {
      font-size: 18px;
      margin-left: 0;
    }

    &_piter {
      color: $color-main;
    }

    &_moscow {
      color: $color-red;
    }

    #{$b}:hover & {
      @include screen('md') {
        color: white;
      }
    }
  }

  &__address {
    margin-top: 43px;
    word-break: break-all;

    @include text-address;
  }

  &__tel {
    margin-top: 38px;

    @include text-tel;

    transition: transform $ease-main;

    #{$b}:hover & {
      @include screen('md') {
        transform: translate3d(0, 3px, 0);
      }
    }
  }

  &__map {
    display: block;
    height: 0;
    transition: height $ease-main, opacity $ease-main, transform $ease-main;
    color: inherit;
    overflow: hidden;
    letter-spacing: 0.08em;

    #{$b}:hover & {
      height: 40px;
      transform: translate3d(0, 14px, 0);
    }
  }
}

.slideToUnlock {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;

  &::after {
    content: '';
    position: absolute;
    right: 14px;
    top: 0;
    bottom: 0;
    width: 29px;
    height: 29px;
    border: 3px solid $color-main;
    border-radius: 50%;
    box-sizing: border-box;
    margin: auto;
  }

  .js-range {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    right: 55px;
    z-index: 2;
  }

  @include screen('lg') {
    display: none;
  }
}

.slide-play {
  position: absolute;
  z-index: 100;
  bottom: 30px;
  left: 38px;
  cursor: pointer;
}

.slide-footer {

  &__mouse {
    animation-name: mouse;
    animation-iteration-count: infinite;
    animation-duration: 2s;
    animation-timing-function: ease;
  }

  @keyframes mouse {
    0% {
      transform: translate3d(0, -5px, 0);
    }
    50% {
      transform: translate3d(0, 5px, 0);
    }
    100% {
      transform: translate3d(0, -5px, 0);
    }
  }

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%!important;

    @include screen('lg', max) {
      justify-content: center;
    }
  }

  &__scroll {
    display: flex;
    align-items: center;
    transition: opacity $ease-main;
    cursor: pointer;

    &:hover {
      opacity: .5;
    }

    @include screen('lg', max) {

    }
  }

  &__text {
    text-transform: uppercase;
    color: $color-gray;
    margin-left: 26px;
    white-space: nowrap;

    @include text-bold;
  }

  &__portfolio {
    text-transform: uppercase;
    position: relative;
    display: flex;
    align-items: center;

    @include screen('lg', max) {
      margin-left: 180px;
    }

    @include text-bold;

    &::after {
      content: '';
      display: block;
      width: 17.3vw;
      height: 1px;
      background: $color-gray;
      margin-left: 26px;
      margin-top: -3px;
    }
  }

  .journal-pag {
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;

    @include screen('lg', max) {
      margin-left: 183px;
    }

    @include screen('lg', max) {
      margin-left: 90px;
    }

    &__prev,
    &__next {
      @include size(55px);

      position: relative;
      background-color: $color-bg-button2;
      border-radius: 50%;
      transition: background-color $ease-main;
      cursor: pointer;

      &.swiper-button-disabled {
        pointer-events: none;

        .journal-pag {

          &__prev-arrow,
          &__next-arrow {
            fill: $color-arrow;
          }
        }
      }

      &-arrow {
        @include center-block;
        @include size(19px);

        fill: $color-main;
        transition: fill $ease-main;
      }

      &:hover {
        background-color: $color-main;

        .journal-pag {

          &__prev-arrow,
          &__next-arrow {
            fill: $white;
          }
        }
      }
    }

    &__next {
      margin-left: 14px;
      cursor: pointer;
    }
  }

  &__line {
    height: 1px;
    flex: 1;
    background: $color-border-2;
    margin: 0 29px;
  }

  &__news {
    text-transform: uppercase;
    min-width: 114px;

    @include text-bold;
  }

  .subscribe {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 54px;
    width: 398px;
    margin-left: 108px;
    border-radius: 27px;
    border: 1px solid $color-border;
    padding: 8px;
    box-sizing: border-box;

    @include screen('lg', max) {
      margin-left: 50px;
    }

    .inputbox {
      flex: 1;
      margin: 0 24px;
    }

    &__email {
      border: none;

      &::placeholder {
        color: $color-placeholder2;
      }
    }

    .button__img {
      position: relative;
      left: 2px;
    }
  }

  &_end {
    bottom: 35px;
  }

  .menu {
    display: flex;
    margin: 0 auto;
    justify-content: center;

    &__item {
      display: inline-block;

      @include text-button-big;

      .link {
        &:not(:hover) {
          color: #bababa !important;
        }

        &:hover {
          opacity: 1;
        }
      }

      &:not(:last-child) {
        margin-right: 55px;
      }
    }
  }
}

.pad {
  display: block;
  text-align: center;

  .container {
    padding-left: 30px;
    padding-right: 30px;
  }

  &__title {
    @include heading-8;

    color: $color-main;
    text-align: center;
    margin-top: 148px;
    font-size: 47px;
    line-height: 1.4;
    letter-spacing: 2.8px;

    @include screen('md', max) {
      font-size: 41px;
      line-height: 1.6;
      margin-top: 140px;
    }
  }

  &__discuss {
    text-align: center;
    color: $color-gray;
    display: block;
    margin: 73px auto 0;
    letter-spacing: 1px;

    @include screen('md', max) {
      margin-top: 66px;
    }
  }


  &__portfolio {

    .swiper-container {
      overflow: visible;
    }

    .swiper-container-3d {
      perspective: 1700px;
    }

    .slide {

      &__tag {
        position: absolute;
        z-index: 1;
        top: 28px;
        left: 28px;
        color: $white;

        @include text-tag;
      }

      &__text-wrap {
        position: absolute;
        bottom: -108px;
        left: 4px;

        @include screen('sm', max) {
          bottom: -92px;
        }
      }

      &__title {
        line-height: 1.5;
      }
    }
  }

  .padportfolio {
    text-align: center;
    margin-top: 7px;

    &__nav {
      margin-left: -19px;
      display: inline-flex;
      align-items: center;
      max-width: 380px;
      position: relative;
    }

    &__next {
      cursor: pointer;
      pointer-events: none;
      opacity: 0;
    }

    &__img-round {
      position: relative;
      top: -2px;
      left: 14px;
      pointer-events: none;
      opacity: 0;
    }

    &__pag {
      display: flex;
      align-items: center;
      justify-content: space-between;
      //width: 162px !important;
      //width: 300px !important;
      margin: 0 95px;
      height: 58px;
      width: auto !important;
    }

    @keyframes circle {
      0% {
        transform: scale(1) translate3d(0, 0, 0);
      }
      50% {
        transform: scale(2) translate3d(0, 0, 0);
      }
      100% {
        transform: scale(1) translate3d(0, 0, 0);
      }
    }

    .slider__dot {
      position: unset;
      border: none;
      background: $color-border-2;
      width: 5px;
      height: 5px;
      flex-shrink: 0;
      border-radius: 50%;
      transition: transform $ease-main;
      animation-name: circle;
      animation-duration: 1.6s;
      animation-timing-function: ease;
      animation-iteration-count: infinite;

      &:nth-of-type(1) { animation-delay: 0s; }
      &:nth-of-type(2) { animation-delay: .2s; }
      &:nth-of-type(3) { animation-delay: .4s; }
      &:nth-of-type(4) { animation-delay: .6s; }
      &:nth-of-type(5) { animation-delay: .8s; }

      &:not(:last-child) {
        margin-right: 27px;
      }
    }
  }

  &__more {
    margin-top: 160px;
    padding: 16px 34px;
    display: inline-flex;
    align-items: center;
    font-family: 'Intro Book';
    text-transform: unset;

    @include text-tel;

    @include screen('sm', max) {
      margin-top: 146px;
    }

    svg {
      margin-left: 18px;
      width: 20px;
      height: 18px;
      fill: $color-main;
    }
  }

  &__advantage {
    margin-top: 102px;

    @include screen('md', max) {
      margin-top: 89px;
    }

    .swiper-container {
      overflow: visible;
    }

    .swiper-container-3d {
      perspective: 1010px;
    }

    .swiper-slide-active {
      opacity: 1!important;
    }
  }

  &__journal {

    .swiper-container {
      overflow: visible;
    }
  }

  .pad-advantage {
    color: white;

    &__num,
    &__text {
      position: relative;
    }

    &__num {
      @include heading-9;

      top: -30px;

      @include screen('md', max) {
        font-size: 145px;
        top: -15px;
      }
    }

    &__text {
      @include text34;

      top: -13px;
      left: 2px;

      @include screen('md', max) {
        top: 0;
        font-size: 24px;
        line-height: 38.95px;
      }
    }
  }

  &__journal {
    margin-top: 100px;

    @include screen('md', max) {
      margin-top: 89px;
    }
  }

  .pad-journal {
    text-align: left;

    &__imgbox {
      width: 520px;
      height: 520px;
      display: inline-block;
      position: relative;

      @include screen('md', max) {
        display: block;
        width: 100%;
        height: 328px;
      }

      img {
        @include fill-img;

        border-radius: 10px;
      }
    }

    &__title {
      margin-top: 41px;
      opacity: 0;
      transition: opacity .7s ease;

      @include text-tel;

      line-height: 1.4;

      @include screen('md', max) {
        margin-top: 31px;
      }
    }

    &__date {
      margin-top: 31px;
      opacity: 0;
      color: $color-date;
      text-transform: uppercase;
      transition: opacity .7s ease;

      @include text-date-md;
    }

    .swiper-slide-active {

      .pad-journal__title {
        opacity: 1;
      }

      .pad-journal__date {
        opacity: 1;
      }
    }
  }

  &__question {
    @include heading-10;

    margin-top: 66px;
    color: $color-main;
    letter-spacing: .45px;

    @include screen('sm', max) {
      margin-top: 308px;
    }
  }

  &__btn {
    margin-top: 53px;
    letter-spacing: 1.1px;

    @include screen('sm', max) {
      margin-top: 47px;
    }
  }
}

.popup-contact {
  display: none;
}

.contact {
  height: 100%;
  //min-width: 50%;
  width: 1036px;
  margin-bottom: 0;

  &__wrapper {
    min-height: 100%;
    width: 100%;
    display: inline-flex;
    flex-direction: column;
  }

  &__title {
    font-size: 38px;
    font-weight: 700;
    line-height: 52px;
    letter-spacing: .95px;
  }

  &__form {
    // flex: 1;
    // display: flex;
    // flex-direction: column;
    // justify-content: flex-start;
    // align-items: flex-start;
    margin-bottom: 30px;
  }

  &__step1 {

    .contact {

      &__box {
        margin-top: 73px;

        .inputbox,
        .textareabox {

          &__placeholder {
            top: 50%;
            transform: translateY(-50%);

            &_active {
              top: 3px !important;
            }
          }

          &_noborder {
            border-bottom: none;
          }

          &_file {

            label {
              top: auto;
              padding-bottom: 0;
            }
          }

          .input,
          .textarea {
            &:focus + {
              .inputbox__placeholder {
                top: 6px;
              }
            }
          }
        }
      }

      &__textarea {
        margin-bottom: 30px;
        min-height: 74px;

        .textarea {
          overflow-y: hidden;
          resize: none;
          height: 20px;
          min-height: 20px;
          padding-top: 20px;
          padding-bottom: 15px;
          line-height: 1.3;
        }
      }

      &__inputbox {
        height: 74px;
        padding-bottom: 0;
        margin-bottom: 45px;

        input.input {
          padding-top: 20px;
        }

        &_half {
          @include screen('md-r2', max) {
            width: 100%;
          }
        }

        .choices {
          width: 48.5%;
        }
      }

      &__text {
        margin-top: 23px;
        font-size: 16px;
        letter-spacing: .6px;
        line-height: 1.4;

        a {
          line-height: inherit;
          font-size: inherit;
        }
      }
    }

    .button {
      margin-top: 73px;
      padding: 20px 30px;
      letter-spacing: 1.15px;
    }
  }

  &__box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 111px;
  }

  &__inputbox,
  &__textarea {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    font-size: 18px;
    letter-spacing: 1.35px;
    width: 100%;
    border-bottom: 2px solid #e3e3e3;
  }

  &__inputbox {
    height: 40px;
    padding-bottom: 17px;
    margin-bottom: 60px;

    &_half {
      width: 400px;
    }

    &_textarea {
      height: auto;
      min-height: 0;

      .textarea {
        padding-bottom: 0;
      }
    }

    &_third {
      width: 360px;
    }

    &_twothird {
      flex: 1 1 690px;
    }

    &_flexstart {
      justify-content: flex-start;
    }

    &_noborder {
      border-bottom: none;
    }
  }

  &__select {
    display: inline-block;
    width: 185px;
    color: $color-main;
  }

  &__text {
    //margin-top: 70px;
    font-size: 15px;
    //line-height: 26px;
  }

  &__btn {
    //margin-top: 80px;

    &_mt {
      margin-top: 100px;
    }
  }

  &__step1 {
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  &__step2 {
    display: none;

    &.is-active {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100%;
    }

    img {
      margin-right: 140px;
      margin-bottom: 70px;
    }
  }

  &__subtitle {
    font-size: 30px;
    letter-spacing: 1.5px;
    margin-top: 30px;
  }

  &_about {
    width: unset;
    margin-top: 96px;

    .contact {

      &__box {
        margin-right: -42px;
        margin-left: -42px;
        //justify-content: flex-start;
      }

      &__inputbox {
        margin-right: 42px;
        margin-left: 42px;
      }

      &__btn {
        margin-top: 4px;
        padding: 20px 28px;

        @include screen('md', max) {
          display: block;
          margin-left: auto;
          margin-right: auto;
        }
      }
    }

    .inputbox {

      &__title {
        width: unset;
      }
    }

    .checkradio {
      margin-right: 0;
      margin-left: 54px;
    }
  }
}

#pp-nav {
  transition: visibility $ease-main, opacity $ease-main;

  a {
    span {
      &::before {
        @include pseudo;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        background-color: $color-main;
        border-radius: 50%;
        transform: scale(0);
        transition: transform $ease-main;
        @include size(7px);
      }
    }
  }

  &.hidden {
    visibility: hidden;
    opacity: 0;
  }

  .active {

    span {
      &::before {
        transform: scale(1);
      }
    }
    &::before {
      display: none;
    }
  }
}

// MEDIA START

@include screen('lg', max) {

  .contact {

    &_about {
      margin-top: 66px;

      .contact {

        &__inputbox {

          &_third {
            width: 100%;
          }
        }
      }
    }
  }
}

@include screen('lg') {

  .pad {
    display: none;
  }
}

@include screen('lg', max) {

  #pagepiling, #pp-nav {
    display: none;
  }

  .contact {

    &__inputbox {

      &_third,
      &_mr {
        margin-bottom: 44px;
      }

      &_third {
        &:last-child {
          margin-bottom: 59px;
        }
      }

      &_budget {
        justify-content: space-between;
        margin-bottom: 13px;

        .checkradio {
          margin-left: 0;
        }
      }
    }

    &__title {
      font-size: 30px;
      letter-spacing: .8px;
    }

    &__box {
      margin-top: 45px;
    }
  }
}

.index-link {
  color: black;
  transition: color $ease-main;

  &:hover {
    color: $color-main;
  }
}

.pp-section {
  transform: translate3d(0px, -100%, 0px) !important;

  &.active {
    transform: translate3d(0px, 0, 0px) !important;

    & ~ .pp-section {
      transform: translate3d(0px, 100%, 0px) !important;
    }
  }
}

.main-page-wrapper {
  min-height: 100vh;
  width: 100%;
  transition: filter $ease-main, transform $ease-main;
  filter: blur(0);

  &.is-active {
    filter: blur(10px);
    transform: scale(.9);
  }
}

.fancybox-bg {
  background: black;
}

.fancybox-is-open .fancybox-bg {
  opacity: .6;
}

.mac-os .slide2 .advantage-inner__num {
  position: relative;
  top: 13px;
}

.js-range {
  .noUi-base {
    width: 100%;
    height: 100%;
  }

  .noUi-handle {
    width: 55px;
    height: 55px;
    background: url('../images/arrow_cycle_right_hover.svg') no-repeat;
  }

  .noUi-origin {
    position: relative;
  }
}

.noUi-state-tap .noUi-origin {
  transition: all $ease-main;
}

.contact {
  &__textarea {
    .textarea {
      height: auto;
      min-height: 20px;
    }
  }
}
