extends ../../layouts/default

block head
  - var pageTitle = 'Versta Project Template'

block content
  +header._wide._inner
  section
    +b.about
      .container.container_inner
        +e.title О компании
        +e.text <b>Pro Studio</b> занимается созданием, дизайном и развитием сайтов <b>уже более 5 лет</b>. Мы создаем красивые сайты высокой сложности. <b>Раскручиваем сайты любой тематики и выводим их в топ.</b>
        +e.text2 Занимаемся разработкой анимации, приложений, программных модулей и различных скриптов. Так же рисуем замечательные иконки, баннеры, логотипы и многое другое.
        +e.text3 Pro Studio занимается созданием, дизайном и развитием сайтов уже более 5 лет. Мы создаем красивые сайты высокой сложности. Раскручиваем сайты любой тематики и выводим их в топ. Занимаемся разработкой анимации, приложений, программных модулей и различных скриптов. Так же рисуем замечательные иконки, баннеры, логотипы и многое другое.
        +e.pag
      +e.slider
        +slider(false, false)
          +slide
            img(src='./assets/images/about.jpg').about__slide-img
          +slide
            img(src='./assets/images/about.jpg').about__slide-img
          +slide
            img(src='./assets/images/about.jpg').about__slide-img
        +e.nav
          +e.prev
            +icon("arrow-prev")
          +e.next
            +icon("arrow-next")
        +e.pag
  section
    +b.team
      .container.container_inner
        +e.title Команда
      +e.box
        +worker-card('./assets/images/worker1.jpg', 'Директор', 'Беличенко Анатолий', '«Здесь будет написана цитата или текст сотрудника.»')
        +worker-card('./assets/images/worker2.jpg', 'Управляющий партнер', 'Иванов Назар', '«Здесь будет написана цитата»')
        +worker-card('./assets/images/worker3.jpg', 'Начальник отдела продаж', 'Анна Трофимова', '«Здесь будет написана цитата»')
        +worker-card('./assets/images/worker4.jpg', 'Руководитель проектов', 'Петр Симоненко', '«Здесь будет написана цитата»')
      +slider(true, false).team__slider
        +slide
          +worker-card('./assets/images/worker1.jpg', 'Директор', 'Беличенко Анатолий', '«Здесь будет написана цитата или текст сотрудника.»')
        +slide
          +worker-card('./assets/images/worker2.jpg', 'Управляющий партнер', 'Иванов Назар', '«Здесь будет написана цитата»')
        +slide
          +worker-card('./assets/images/worker3.jpg', 'Начальник отдела продаж', 'Анна Трофимова', '«Здесь будет написана цитата»')
        +slide
          +worker-card('./assets/images/worker4.jpg', 'Руководитель проектов', 'Петр Симоненко', '«Здесь будет написана цитата»')
      +e.question Хочешь работать вместе с нами?
        +link._nounder._blue._inherit  Присоединяйся!
  section
    +b.principles
      +e.box
        +e.item
          +e.round
            +e.text
              +e.title Клиент - наш партнер
              +e.desc Мы уважительно относимся к Вам и требуем того же от Вас.Создаем возможности для любых, даже самых немыслимых проектов.Мы делаем, а не говорим. Аргументация и оперирование фактами. Без лирики.Достижение вашей цели - это результат нашей совместной работы.
          +e.arc
            +e.num 01
        +e.item._gray
          +e.round
            +e.text
              +e.title Принцип — это принцип
              +e.desc Мы уважительно относимся к Вам и требуем того же от Вас.Создаем возможности для любых, даже самых немыслимых проектов.Мы делаем, а не говорим. Аргументация и оперирование фактами. Без лирики.Достижение вашей цели - это результат нашей совместной работы.
          +e.arc
            +e.num 02
        +e.item
          +e.round
            +e.text
              +e.title не Принцип — это принцип
              +e.desc Мы уважительно относимся к Вам и требуем того же от Вас.Создаем возможности для любых, даже самых немыслимых проектов.Мы делаем, а не говорим. Аргументация и оперирование фактами. Без лирики.Достижение вашей цели - это результат нашей совместной работы.
          +e.arc
            +e.num 04
        +e.item._gray
          +e.round
            +e.text
              +e.title Принцип — это НЕ принцип
              +e.desc Мы уважительно относимся к Вам и требуем того же от Вас.Создаем возможности для любых, даже самых немыслимых проектов.Мы делаем, а не говорим. Аргументация и оперирование фактами. Без лирики.Достижение вашей цели - это результат нашей совместной работы.
          +e.arc
            +e.num 03
      +e.legend
        .container.container_inner.container_flex
          +e.caption Принципы
          +e.tip Наведите на цифру,<br> чтобы узнать все принципы компании.
      +e.slider
        +slider(false, false)
          +slide
            .principles__slide
              .principles__title Клиент - наш партнер
              .principles__desc Мы уважительно относимся к Вам и требуем того же от Вас.Создаем возможности для любых, даже самых немыслимых проектов.Мы делаем, а не говорим. Аргументация и оперирование фактами. Без лирики.Достижение вашей цели - это результат нашей совместной работы.
          +slide
            .principles__slide
              .principles__title Принцип — это принцип
              .principles__desc Мы уважительно относимся к Вам и требуем того же от Вас.Создаем возможности для любых, даже самых немыслимых проектов.Мы делаем, а не говорим. Аргументация и оперирование фактами. Без лирики.Достижение вашей цели - это результат нашей совместной работы.
          +slide
            .principles__slide
              .principles__title Принцип — это не принцип
              .principles__desc Мы уважительно относимся к Вам и требуем того же от Вас.Создаем возможности для любых, даже самых немыслимых проектов.Мы делаем, а не говорим. Аргументация и оперирование фактами. Без лирики.Достижение вашей цели - это результат нашей совместной работы.
          +slide
            .principles__slide
              .principles__title не Принцип — это принцип
              .principles__desc Мы уважительно относимся к Вам и требуем того же от Вас.Создаем возможности для любых, даже самых немыслимых проектов.Мы делаем, а не говорим. Аргументация и оперирование фактами. Без лирики.Достижение вашей цели - это результат нашей совместной работы.
        +e.pag
  section
    +b.care
      .container.container_inner
        +e.box
          +e.left
            +e.title Мы заботимся,
            +e.text
              p о вашем времени, нервах и деньгах, поэтому разработали приложение для контроля процесса выполнения вашего проекта.
              p Вы можете отслеживать стадии выполнения проекта, задать вопросы поддержке и вести обсуждение прямо в приложении.
              +e.img
                img(src='./assets/images/care_app.png')
            +e.apptitle Отслеживание процесса разработки сайта:
            +e.mobil
              +e.apptext Скачать приложения для
              +link._nounder._btn._btn-gray._center._nowrap.care__btn
                img(src='./assets/images/apple_blue.png')
                | iPhone
              +link._nounder._btn._btn-gray._center._nowrap.care__btn
                img(src='./assets/images/android_blue.png')
                | Android
          +e.right
            img(src='./assets/images/care_app.png')
  section
    .container.container_inner
      +b.contact_about
        //+e.wrapper
          //+e.step1
        +e.title Хотите заказать проект?
        +e.FORM.form(method="post" action)
          +e.box
            +inputbox.contact__inputbox.contact__inputbox_third.contact__inputbox_mr Выберите проект:
              +select
                option(value="Веб-сайт") Веб-сайт
                option(value="Продвижение") Продвижение
                option(value="Брендинг") Брендинг
                option(value="Приложение") Приложение
                option(value="Аналитика") Аналитика
                option(value="Поддержка") Поддержка
            +inputbox.inputbox_noborder.contact__inputbox.contact__inputbox_twothird.contact__inputbox_flexstart.contact__inputbox_noborder.contact__inputbox_budget
              //+input(placeholder="Плейсхолдер")
              .inputbox__title Бюджет:
              +radio('budget', 'test', 'true') 100-200 тыс. руб
              +radio('budget', 'test-2') от 500 тыс. руб
            +inputbox('Имя').contact__inputbox.contact__inputbox_third.contact__inputbox_mr
              +input(type='text')
            +inputbox("Телефон").contact__inputbox.contact__inputbox_third.contact__inputbox_mr
              +input(type='tel' data-type='tel')
            +inputbox("Email").contact__inputbox.contact__inputbox_third
              +input(type='email' data-type='email')
            +inputbox("Сообщение").contact__inputbox.contact__inputbox_twothird.contact__inputbox_mr
              +input(type='text')
            +inputbox()._file.contact__inputbox.contact__inputbox_third
              label
                +input(type='file')
                span.filename Добавить файл
                img(src='./assets/images/addfile.svg').addfile
          //+e.text Нажимая на кнопку  «Отправить», вы соглашаетесь на обработку персональных данных<br>в соответсвии с
          //  +link._blue Политикой конфиденциальности.
          +button('input')(type='submit', value='отправить заявку')._blue._big.contact__btn.js-submit

  +footer
