.about {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin-top: 100px;
  position: relative;

  &__title {
    margin-top: 34px;

    @include heading-10;
    letter-spacing: 0.9px;
  }

  &__text {
    margin-top: 70px;
    width: 440px;
    font-size: 18px;
    line-height: 31px;
    letter-spacing: 0.18px;
  }

  &__text2 {
    margin-top: 31px;
    width: 440px;
    font-size: 18px;
    line-height: 31px;
  }

  &__text3 {
    display: none;
    font-size: 16px;
    font-weight: 400;
    line-height: 31px;
    letter-spacing: .16px;
    margin-top: 44px;
  }

  &__slider {
    position: absolute;
    width: 55vw;
    max-width: 1028px;
    height: 693px;
    right: 0;
    top: 0;

    .about__pag {
      display: none;
    }

    .swiper-container {
      height: 100%;
    }
  }

  &__slide-img {
    width: 100%;
    @include fill-img;
  }

  &__pag {
    margin-top: 146px;
    display: flex;
    align-items: flex-start;
    position: relative;

    &::before {
      width: 371px;
      height: 1px;
      background-color: #d9dee2;
      left: 113px;
      top: 13px;

      @include pseudo;
    }

    .swiper-pagination-current {
      font-size: 45px;
      line-height: 1;
      font-weight: 700;
      color: $color-main;
      letter-spacing: .45px;
      margin-right: 6px;
      width: 60px;
    }

    .swiper-pagination-total {
      font-size: 22px;
      line-height: 30px;
      font-weight: 700;
      letter-spacing: .22px;
      color: #cccaca;
    }
  }

  &__nav {
    position: absolute;
    bottom: 52px;
    left: 57px;
    z-index: 1;
    display: flex;
    align-items: center;
    height: 66px;
  }

  &__prev {
    cursor: pointer;
    position: relative;
    margin-right: 18px;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background: #fff;
    transition: all .5s ease;

    svg {
      width: 19px;
      height: 17px;
      @include center-image;
      fill: #cccaca;
      transition: all .5s ease;
    }

    &:hover {
      transform: scale(1.1);
      background: $color-main;

      svg {
        fill: #fff;
      }
    }
  }

  &__next {
    cursor: pointer;
    position: relative;
    background: url(../images/next.svg) no-repeat;
    background-size: contain;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background: #fff;
    transition: all .5s ease;

    svg {
      width: 19px;
      height: 17px;
      @include center-image;
      fill: #cccaca;
      transition: all .5s ease;
    }

    &:hover {
      transform: scale(1.1);
      background: $color-main;

      svg {
        fill: #fff;
      }
    }
  }
}

.team {
  margin-top: 144px;

  &__title {

    @include heading-10;
    letter-spacing: 0.9px;
  }

  &__box {
    max-width: 1708px;
    margin: 22px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  &__item {
    width: 354px;
    margin: 50px 15px 0;
  }

  &__position {
    color: $color-main;
    font-family: 'Intro Bold Caps';
    text-transform: uppercase;
    font-size: 14px;
    //font-weight: 700;
    letter-spacing: 1.05px;
    margin-top: 30px;
  }

  &__name {
    font-size: 21px;
    line-height: 33px;
    margin-top: 5px;
  }

  &__desc {
    color: #bababa;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: 1.35px;
    margin-top: 30px;
  }

  &__img {
    position: relative;
    font-size: 0;

    img {
      width: 100%;
    }
  }

  &__links {
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(0, 129, 203, .8);
    display: flex;
    justify-content: space-around;
    align-items: center;
    opacity: 0;
    top: 0;
    transition: all .5s ease;

    &:hover {
      opacity: 1;
    }
  }

  &__slider {
    display: none;

    .slider {

      &__slide {
        display: flex;
        justify-content: center;
      }

      &__dots {
        position: static;
        margin-top: 63px;
      }
    }

    .swiper-pagination-bullet {
      height: 10px;
      width: 10px;
      margin: 0 14px !important;
    }
  }

  &__question {
    text-align: center;
    font-size: 28px;
    line-height: 52px;
    letter-spacing: .56px;
    margin-top: 91px;

    .link {
      line-height: inherit;
    }

    @include screen('lg-r', max) {
      margin-top: 85px;

      .link {
        display: block;
      }
    }

    @include screen('md', max) {
      margin-top: 47px;
      line-height: 44px;
    }
  }
}

.principles {
  margin-top: 119px;
  position: relative;

  @include screen('lg-r', max) {
    margin-top: 77px;
  }

  &__box {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }

  &__round {
    position: absolute;
    width: 616px;
    height: 616px;
    border-radius: 50%;
    background: url(../images/principle1.jpg) no-repeat;
    background-size: contain;
    color: white;
    text-align: center;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: all .25s ease;
  }

  &__item {
    width: 50%;
    height: 474px;
    position: relative;

    &:first-child {

      .principles {

        &__round {
          right: -308px;
          bottom: -319px;
        }

        &__arc {
          bottom: 48px;
          right: 46px;

          &::before {
            right: -392px;
            bottom: -404px;
          }
        }

        &__num {
          right: 243px;
          bottom: 182px;
        }
      }
    }

    &:nth-child(2) {

      .principles {

        &__round {
          bottom: -319px;
          left: -308px;
        }

        &__arc {
          left: 40px;
          bottom: 40px;

          &::before {
            left: -384px;
            bottom: -396px;
          }
        }

        &__num {
          left: 248px;
          bottom: 190px;
        }
      }
    }

    &:nth-child(3) {

      .principles {

        &__round {
          top: -297px;
          right: -308px;
        }

        &__arc {
          top: 40px;
          right: 40px;

          &::before {
            top: -375px;
            right: -385px;
          }
        }

        &__num {
          right: 245px;
          top: 213px;
        }
      }
    }

    &:nth-child(4) {

      .principles {

        &__round {
          top: -297px;
          left: -308px;
        }

        &__arc {
          top: 40px;
          left: 40px;

          &::before {
            top: -374px;
            left: -385px;
          }
        }

        &__num {
          left: 248px;
          top: 213px;
        }
      }
    }

    &_gray {
      background-color: #f4f4f4;

      .principles__arc {

        &::before {
          border-color: white;
        }
      }
    }

    &:hover, &_active {

      .principles__round {
        opacity: 1;
      }

      .principles__arc {
        &::before {
          border-color: $color-main;
        }

        .principles__num {
          color: $color-main;
        }
      }
    }
  }

  &__arc {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 1;
    pointer-events: none;

    &::before {
      @include pseudo;

      position: absolute;
      border: 6px solid #f4f4f4;
      width: 680px;
      height: 680px;
      border-radius: 50%;
      transition: all .25s ease;
    }
  }

  &__text {
    position: relative;
    top: -4px;
  }

  &__title {
    font-family: 'Intro Bold Caps';
    font-size: 26px;
    line-height: 46px;
    letter-spacing: 2px;
    //margin-top: 200px;
    text-transform: uppercase;
  }

  &__desc {
    margin-top: 28px;
    padding: 0 50px;
    font-size: 17px;
    font-weight: 300;
    line-height: 26px;
    letter-spacing: .59px;
  }

  &__legend {
    position: absolute;
    top: 44px;
    width: 100%;
    pointer-events: none;
  }

  &__caption {
    font-size: 36px;
    font-weight: 700;
    line-height: 46px;
    letter-spacing: .9px;
  }

  &__tip {
    position: relative;
    top: 4px;
    left: 5px;
    color: #bababa;
    font-size: 18px;
    line-height: 26px;
    width: 275px;
    letter-spacing: 1.4px;
  }

  &__num {
    color: #d1cfcf;
    font-size: 23px;
    font-weight: 700;
    line-height: 43px;
    letter-spacing: .22px;
    position: absolute;
    transition: all .25s ease;
  }

  &__slider {
    display: none;
  }
}

.care {
  margin-top: 187px;

  &__box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__title {
    font-size: 30px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: .6px;
    color: $color-main;
  }

  &__text {
    margin-top: 22px;
    font-size: 16px;
    line-height: 23px;
    letter-spacing: .4px;
    padding-bottom: 18px;
    border-bottom: 1px solid #d9dee2;

    p {
      margin-bottom: 24px;
    }
  }

  &__apptext {
    letter-spacing: 0.35px;

    @include screen("sm", max) {
      width: 100%;
    }
  }

  &__apptitle {
    margin: 35px 0 20px;
    color: $color-main;
    font-size: 18px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: .45px;
  }

  &__mobil {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    font-size: 14px;

    @include screen("sm", max) {
      justify-content: space-around;
    }
  }

  &__img {
    display: none;
    margin-top: 51px;

    img {
      width: 92%;

      @include screen("md", max) {
        width: 100%;
      }
    }
  }

  &__btn {
    margin-left: 10px;

    @include screen("md", max) {
      margin-left: 14px;
    }
  }

  &__left {
    width: 37%;

    @include screen("lg", max) {
      width: 100%;
    }
  }

  &__right {
    position: relative;
    top: -21px;
    right: 39px;
  }
}

// MEDIA START
@include screen('lg', max) {

  .care {

    &__img {
      display: block;
    }

    &__right {
      display: none;
    }
  }
}

@include screen('lg-r', max) {

  .about {
    margin-top: 42px;

    &__title {
      margin-top: 0;
    }

    &__slider {
      position: relative;
      float: right;
      width: calc(100% - 30px);
      max-width: unset;
    }

    &__text {
      width: unset;
      margin-top: 31px;
    }

    &__text2 {
      width: unset;
      margin-top: 32px;
    }

    &__pag {
      display: none;
    }

    &__nav {
      top: calc(50% - 33px);
      left: 40px;
      width: calc(100% - 80px);
      justify-content: space-between;
    }

    &__slider {
      margin-top: 57px;
      height: 523px;

      .about__pag {
        display: flex;
        position: absolute;
        z-index: 1;
        left: 37px;
        bottom: 40px;

        &::before {
          display: none;
        }

        .swiper-pagination-current {
          color: #fff;
        }
      }
    }
  }

  .team {

    margin-top: 76px;

    &__box {
      margin: 3px 15px 0;
    }

    &__item {
      width: 338px;
    }
  }

  .principles {

    $principle-round: 486px;

    &__round {
      height: $principle-round;
      width: $principle-round;
    }

    &__arc {

      &::before {
        width: 542px;
        height: 542px;
        border-width: 5px;
      }
    }

    &__item {
      height: 381px;

      &:first-child {

        .principles {

          &__round {
            right: -243px;
            bottom: -243px;
          }

          &__arc {
            bottom: 26px;
            right: 25px;

            &::before {
              right: -304px;
              bottom: -304px;
            }
          }

          &__num {
            right: 201px;
            bottom: 159px;
          }
        }
      }

      &:nth-child(2) {

        .principles {

          &__round {
            left: -243px;
            bottom: -243px;
          }

          &__arc {
            bottom: 27px;
            left: 25px;

            &::before {
              left: -304px;
              bottom: -304px;
            }
          }

          &__num {
            left: 202px;
            bottom: 158px;
          }
        }
      }

      &:nth-child(3) {

        .principles {

          &__round {
            right: -243px;
            top: -243px;
          }

          &__arc {
            right: 26px;
            top: 25px;

            &::before {
              right: -304px;
              top: -304px;
            }
          }

          &__num {
            right: 198px;
            top: 161px;
          }
        }
      }

      &:nth-child(4) {

        .principles {

          &__round {
            left: -243px;
            top: -243px;
          }

          &__arc {
            left: 26px;
            top: 25px;

            &::before {
              left: -304px;
              top: -304px;
            }
          }

          &__num {
            left: 201px;
            top: 161px;
          }
        }
      }
    }

    &__num {
      font-size: 18px;
    }

    &__text {
      top: -10px;
    }

    &__title {
      font-size: 22px;
      line-height: 36.19px;
      letter-spacing: 1.6px;
    }

    &__desc {
      margin-top: 28px;
      font-size: 15px;
      font-weight: 300;
      line-height: 20.45px;
      letter-spacing: .67px;
    }

    &__legend {
      top: 27px;
    }

    &__tip {
      display: none;
    }
  }
}

@include screen('md', max) {

  .about {

    margin-top: 44px;

    &__title {
      margin-left: -3px;
      font-size: 30px;
    }

    &__text, &__text2 {
      display: none;
    }

    &__text3 {
      display: block;
      margin-top: 26px;
    }

    &__slider {
      width: 100%;
      margin-top: 56px;
      height: 342px;

      .about__pag {
        display: none;
      }
    }

    &__nav {
      left: 14px;
      width: calc(100% - 28px);
    }
  }

  .team {

    margin-top: 45px;

    &__title {
      margin-left: -3px;
      font-size: 30px;
      letter-spacing: 0.75px;
    }

    &__box {
      display: none;
    }

    &__slider {
      display: block;

    }

    &__question {
      font-size: 22px;
      letter-spacing: .44px;
    }
  }

  .principles {
    margin-top: 82px;

    &__box {
      display: none;
    }

    &__legend {
      position: static;
    }

    &__slider {
      display: block;
      margin-top: 30px;
    }

    &__caption {
      margin-left: -3px;
      font-size: 30px;
      letter-spacing: .75px;
    }

    &__slide {
      min-height: 403px;
      width: 100%;
      text-align: center;
      background: url(../images/principle_bg.jpg) no-repeat;
      background-size: cover;
      color: white;
      display: flex;
      align-items: center;
      flex-direction: column;
      box-sizing: border-box;
      padding: 84px 0 40px;
    }

    &__desc {
      margin-top: 26px;
    }

    &__pag {
      margin-top: 25px;
      display: flex;
      justify-content: center;
    }

    &__slidenum {
      margin: 0 34px;
      font-size: 18px;
      font-weight: 700;
      letter-spacing: .23px;
      transition: all $ease-main;
      color: #d1cfcf;

      &_active {
        color: $color-main;
      }
    }

  }

  .care {
    margin-top: 102px;

    &__apptitle {
      margin-top: 34px;
    }

    &__apptext {
      letter-spacing: .3px;
    }
  }
}


@include screen('sm', max ) {

  .care {

    &__btn {
      margin-top: 10px;
      margin-left: 0;
      margin-right: 12px;

    }
  }
}
