.about {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin-top: 100px;
  position: relative;

  &__title {
    margin-top: 46px;

    @include heading-10;
  }

  &__text {
    margin-top: 80px;
    width: 440px;
    font-size: 18px;
    line-height: 31px;
  }

  &__text2 {
    margin-top: 40px;
    width: 440px;
    font-size: 18px;
    line-height: 31px;
  }

  &__text3 {
    display: none;
    font-size: 16px;
    font-weight: 400;
    line-height: 31px;
    letter-spacing: .16px;
    margin-top: 44px;
  }

  &__slider {
    position: absolute;
    width: 55vw;
    max-width: 1036px;
    right: 0;
    top: 0;

    .about__pag {
      display: none;
    }
  }

  &__slide-img {
    width: 100%;
  }

  &__pag {
    margin-top: 150px;
    display: flex;
    align-items: flex-start;
    position: relative;

    &::before {
      width: 371px;
      height: 1px;
      background-color: #d9dee2;
      left: 107px;
      top: 15px;

      @include pseudo;
    }

    .swiper-pagination-current {
      font-size: 45px;
      line-height: 1;
      font-weight: 700;
      color: $color-main;
      letter-spacing: .45px;
      margin-right: 10px;
      width: 60px;
    }

    .swiper-pagination-total {
      font-size: 22px;
      line-height: 30px;
      font-weight: 700;
      letter-spacing: .22px;
      color: #cccaca;
    }
  }

  &__nav {
    position: absolute;
    bottom: 52px;
    left: 57px;
    z-index: 1;
    display: flex;
    align-items: center;
    height: 66px;
  }

  &__prev {
    cursor: pointer;
    position: relative;
    margin-right: 18px;
    background: url(../images/prev.svg);
    width: 55px;
    height: 55px;
    background-size: contain;
    transition: all .5s ease;

    &::before {
      position: absolute;
      background: url(../images/prev_active.svg) no-repeat;
      background-size: contain;
      //height: 55px;
      transition: transform .5s ease;
      //width: 55px;

      z-index: -1;

      @include pseudo;
    }

    &:hover {
      transform: scale(1.1);

      &::before {
        width: 100%;
        height: 100%;
        transform: scale(1.1);
      }
    }
  }

  &__next {
    cursor: pointer;
    position: relative;
    background: url(../images/next.svg) no-repeat;
    background-size: contain;
    width: 55px;
    height: 55px;
    transition: all .5s ease;

    &::before {
      position: absolute;
      background: url(../images/next_active.svg) no-repeat;
      background-size: contain;
      //height: 55px;
      transition: transform .5s ease;
      //width: 55px;
      z-index: -1;

      @include pseudo;
    }

    &:hover {
      transform: scale(1.1);

      &::before {
        width: 100%;
        height: 100%;
        transform: scale(1.1);
      }
    }
  }
}

.team {
  margin-top: 116px;

  &__title {
    //margin-top: 46px;

    @include heading-10;
  }

  &__box {
    max-width: 1664px;
    margin: 80px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  &__item {
    width: 354px;
    margin: 50px 15px 0;
  }

  &__position {
    color: $color-main;
    font-family: 'Intro Bold Caps';
    text-transform: uppercase;
    font-size: 14px;
    //font-weight: 700;
    letter-spacing: 1.05px;
    margin-top: 30px;
  }

  &__name {
    font-size: 21px;
    line-height: 33px;
    margin-top: 5px;
  }

  &__desc {
    color: #bababa;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: 1.35px;
    margin-top: 30px;
  }

  &__img {
    position: relative;
    font-size: 0;

    img {
      width: 100%;
    }
  }

  &__links {
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(0, 129, 203, .8);
    display: flex;
    justify-content: space-around;
    align-items: center;
    opacity: 0;
    top: 0;
    transition: all .5s ease;

    &:hover {
      opacity: 1;
    }
  }

  &__slider {
    display: none;

    .slider {

      &__slide {
        display: flex;
        justify-content: center;
      }

      &__dots {
        position: static;
        margin-top: 70px;
      }
    }

    .swiper-pagination-bullet {
      height: 10px;
      width: 10px;
      margin: 0 14px !important;
    }
  }

  &__question {
    text-align: center;
    font-size: 28px;
    line-height: 52px;
    letter-spacing: .56px;
    margin-top: 130px;
  }
}

.principles {
  margin-top: 135px;
  position: relative;

  &__box {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }

  &__round {
    position: absolute;
    width: 616px;
    height: 616px;
    border-radius: 50%;
    background: url(../images/principle1.jpg) no-repeat;
    background-size: contain;
    color: white;
    text-align: center;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: all .25s ease;
  }

  &__item {
    width: 50%;
    height: 466px;
    position: relative;

    &:hover {

      .principles__round {
        opacity: 1;
      }
    }

    &:first-child {

      .principles {

        &__round {
          right: -308px;
          bottom: -308px;
        }

        &__arc {
          bottom: 40px;
          right: 40px;

          &::before {
            right: -380px;
            bottom: -380px;
          }
        }

        &__num {
          right: 250px;
          bottom: 250px;
        }
      }
    }

    &:nth-child(2) {

      .principles {

        &__round {
          bottom: -308px;
          left: -308px;
        }

        &__arc {
          left: 40px;
          bottom: 40px;

          &::before {
            left: -380px;
            bottom: -380px;
          }
        }

        &__num {
          left: 250px;
          bottom: 250px;
        }
      }
    }

    &:nth-child(3) {

      .principles {

        &__round {
          top: -308px;
          right: -308px;
        }

        &__arc {
          top: 40px;
          right: 40px;

          &::before {
            top: -380px;
            right: -380px;
          }
        }

        &__num {
          right: 250px;
          top: 250px;
        }
      }
    }

    &:nth-child(4) {

      .principles {

        &__round {
          top: -308px;
          left: -308px;
        }

        &__arc {
          top: 40px;
          left: 40px;

          &::before {
            top: -380px;
            left: -380px;
          }
        }

        &__num {
          left: 250px;
          top: 250px;
        }
      }
    }

    &_gray {
      background-color: #f4f4f4;

      .principles__arc {

        &::before {
          border-color: white;
        }
      }
    }
  }

  &__arc {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 1;

    &::before {
      @include pseudo;

      position: absolute;
      border: 7px solid #f4f4f4;
      width: 680px;
      height: 680px;
      border-radius: 50%;
      transition: all .25s ease;
    }

    &:hover {

      &::before {
        border-color: $color-main;
      }

      .principles__num {
        color: $color-main;
      }
    }
  }

  &__title {
    font-family: 'Intro Bold Caps';
    font-size: 26px;
    line-height: 46px;
    letter-spacing: 1.95px;
    //margin-top: 200px;
    text-transform: uppercase;
  }

  &__desc {
    margin-top: 46px;
    padding: 0 50px;
    font-size: 17px;
    font-weight: 300;
    line-height: 26px;
    letter-spacing: .59px;
  }

  &__legend {
    position: absolute;
    top: 50px;
    width: 100%;
  }

  &__caption {
    font-size: 36px;
    font-weight: 700;
    line-height: 46px;
    letter-spacing: .9px;
  }

  &__tip {
    color: #bababa;
    font-size: 18px;
    line-height: 26px;
    width: 270px;
  }

  &__num {
    color: #d1cfcf;
    font-size: 22px;
    font-weight: 700;
    line-height: 43px;
    letter-spacing: .22px;
    position: absolute;
    transition: all .25s ease;
  }

  &__slider {
    display: none;
  }
}

.care {
  margin-top: 190px;

  &__box {
    display: flex;
  }

  &__title {
    font-size: 30px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: .6px;
    color: $color-main;
  }

  &__text {
    margin-top: 35px;
    font-size: 16px;
    line-height: 23px;
    letter-spacing: .4px;
    border-bottom: 1px solid #d9dee2;

    p {
      margin-bottom: 35px;
    }
  }

  &__apptitle {
    margin: 35px 0 20px;
    color: $color-main;
    font-size: 18px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: .45px;
  }

  &__mobil {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    font-size: 14px;
  }

  &__img {
    display: none;

    img {
      width: 100%;
    }
  }

  &__btn {
    margin-left: 12px;
  }

  &__left {
    width: 100%;
  }
}

// MEDIA START
@include screen('lg', max) {

  .care {

    &__img {
      display: block;
    }

    &__right {
      display: none;
    }
  }
}

@include screen('lg-r', max) {

  .about {
    margin-top: 54px;

    &__title {
      margin-top: 0;
    }

    &__slider {
      position: relative;
      float: right;
      width: calc(100% - 30px);
      max-width: unset;
    }

    &__text {
      width: unset;
      margin-top: 50px;
    }

    &__text2 {
      width: unset;
      margin-top: 45px;
    }

    &__pag {
      display: none;
    }

    &__nav {
      top: calc(50% - 33px);
      left: 40px;
      width: calc(100% - 80px);
      justify-content: space-between;
    }

    &__slider {
      margin-top: 62px;

      .about__pag {
        display: flex;
        position: absolute;
        z-index: 1;
        left: 40px;
        bottom: 47px;

        &::before {
          display: none;
        }
      }
    }
  }

  .team {

    &__box {
      margin: 12px 15px 0;
    }

    &__item {
      width: 338px;
    }
  }

  .principles {

    $principle-round: 486px;

    &__round {
      height: $principle-round;
      width: $principle-round;
    }

    &__arc {

      &::before {
        width: 542px;
        height: 542px;
      }
    }

    &__item {
      height: 367px;

      &:first-child {

        .principles {

          &__round {
            right: -$principle-round/2;
            bottom: -$principle-round/2;
          }

          &__arc {
            bottom: 33px;
            right: 33px;

            &::before {
              right: -304px;
              bottom: -304px;
            }
          }

          &__num {
            right: 180px;
            bottom: 180px;
          }
        }
      }

      &:nth-child(2) {

        .principles {

          &__round {
            left: -$principle-round/2;
            bottom: -$principle-round/2;
          }

          &__arc {
            bottom: 33px;
            left: 33px;

            &::before {
              left: -304px;
              bottom: -304px;
            }
          }

          &__num {
            left: 180px;
            bottom: 180px;
          }
        }
      }

      &:nth-child(3) {

        .principles {

          &__round {
            right: -$principle-round/2;
            top: -$principle-round/2;
          }

          &__arc {
            right: 33px;
            top: 33px;

            &::before {
              right: -304px;
              top: -304px;
            }
          }

          &__num {
            right: 180px;
            top: 180px;
          }
        }
      }

      &:nth-child(4) {

        .principles {

          &__round {
            left: -$principle-round/2;
            top: -$principle-round/2;
          }

          &__arc {
            left: 33px;
            top: 33px;

            &::before {
              left: -304px;
              top: -304px;
            }
          }

          &__num {
            left: 180px;
            top: 180px;
          }
        }
      }
    }

    &__title {
      font-size: 22px;
      line-height: 36.19px;
      letter-spacing: 2.1px;
    }

    &__desc {
      margin-top: 42px;
      font-size: 15px;
      font-weight: 300;
      line-height: 20.45px;
      letter-spacing: .67px;
    }

    &__legend {
      top: 37px;
    }

    &__tip {
      display: none;
    }
  }
}

@include screen('md', max) {

  .about {

    &__text, &__text2 {
      display: none;
    }

    &__text3 {
      display: block;
    }

    &__slider {
      width: 100%;

      .about__pag {
        display: none;
      }
    }
  }

  .team {

    &__box {
      display: none;
    }

    &__slider {
      display: block;

    }

    &__question {
      font-size: 22px;
      line-height: 46px;
      letter-spacing: .44px;
    }
  }

  .principles {
    margin-top: 100px;

    &__box {
      display: none;
    }

    &__legend {
      position: static;
    }

    &__slider {
      display: block;
      margin-top: 35px;
    }

    &__slide {
      height: 400px;
      width: 100%;
      text-align: center;
      background: url(../images/principle_bg.jpg) no-repeat;
      background-size: cover;
      color: white;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
    }

    &__pag {
      margin-top: 28px;
      display: flex;
      justify-content: center;
    }

    &__slidenum {
      margin: 0 35px;
      font-size: 18px;
      font-weight: 700;
      letter-spacing: .23px;
      color: #d1cfcf;

      &_active {
        color: $color-main;
      }
    }

  }
}


@include screen('sm', max ) {

  .care {

    &__btn {
      margin-top: 10px;
      margin-left: 0;
      margin-right: 12px;

    }
  }
}