extends ../../layouts/default

block head
  - var pageTitle = 'Versta Project Template'

block content
  +header._wide._inner
  section
    +b.about
      .container.container_inner
        +e.title О студии
        +e.text <b>Pro Studio</b> занимается созданием, дизайном и развитием сайтов <b>уже более 5 лет</b>. Мы создаем красивые сайты высокой сложности. <b>Раскручиваем сайты любой тематики и выводим их в топ.</b>
        +e.text2 Занимаемся разработкой анимации, приложений, программных модулей и различных скриптов. Так же рисуем замечательные иконки, баннеры, логотипы и многое другое.
        +e.text3 Pro Studio занимается созданием, дизайном и развитием сайтов уже более 5 лет. Мы создаем красивые сайты высокой сложности. Раскручиваем сайты любой тематики и выводим их в топ. Занимаемся разработкой анимации, приложений, программных модулей и различных скриптов. Так же рисуем замечательные иконки, баннеры, логотипы и многое другое.
        +e.pag
      +e.slider
        +slider(false, false)
          +slide
            img(src='./assets/images/about.jpg').about__slide-img
          +slide
            img(src='./assets/images/about.jpg').about__slide-img
          +slide
            img(src='./assets/images/about.jpg').about__slide-img
        +e.nav
          +e.prev
            //img(src='./assets/images/prev.svg')
          //+e.IMG(src='./assets/images/next.svg').next
          +e.next
        +e.pag
  section
    +b.team
      .container.container_inner
        +e.title Команда
      +e.box
        +e.item
          +e.img
            img(src='./assets/images/worker1.jpg')
            +e.links
              +link._nounder
                img(src='./assets/images/inst_small.png')
              +link._nounder
                img(src='./assets/images/fb_small.png')
              +link._nounder
                img(src='./assets/images/tg_small.png')
          +e.position Директор
          +e.name Беличенко Анатолий
          +e.desc «Здесь будет написана цитата или текст сотрудника.»
        +e.item
          +e.img
            img(src='./assets/images/worker2.jpg')
            +e.links
              +link._nounder
                img(src='./assets/images/inst_small.png')
              +link._nounder
                img(src='./assets/images/fb_small.png')
              +link._nounder
                img(src='./assets/images/tg_small.png')
          +e.position Управляющий партнер
          +e.name Иванов Назар
          +e.desc «Здесь будет написана цитата»
        +e.item
          +e.img
            img(src='./assets/images/worker3.jpg')
            +e.links
              +link._nounder
                img(src='./assets/images/inst_small.png')
              +link._nounder
                img(src='./assets/images/fb_small.png')
              +link._nounder
                img(src='./assets/images/tg_small.png')
          +e.position Начальник отдела продаж
          +e.name Анна Трофимова
          +e.desc «Здесь будет написана цитата или текст сотрудника.»
        +e.item
          +e.img
            img(src='./assets/images/worker4.jpg')
            +e.links
              +link._nounder
                img(src='./assets/images/inst_small.png')
              +link._nounder
                img(src='./assets/images/fb_small.png')
              +link._nounder
                img(src='./assets/images/tg_small.png')
          +e.position Руководитель проектов
          +e.name Петр Симоненко
          +e.desc «Здесь будет написана цитата или текст сотрудника.»


  +footer