extends ../../layouts/default

block head
  - var pageTitle = 'Versta Project Template'

block content
  +header._wide._inner
  section
    +b.about
      .container.container_inner
        +e.title О студии
        +e.text <b>Pro Studio</b> занимается созданием, дизайном и развитием сайтов <b>уже более 5 лет</b>. Мы создаем красивые сайты высокой сложности. <b>Раскручиваем сайты любой тематики и выводим их в топ.</b>
        +e.text2 Занимаемся разработкой анимации, приложений, программных модулей и различных скриптов. Так же рисуем замечательные иконки, баннеры, логотипы и многое другое.
        +e.text3 Pro Studio занимается созданием, дизайном и развитием сайтов уже более 5 лет. Мы создаем красивые сайты высокой сложности. Раскручиваем сайты любой тематики и выводим их в топ. Занимаемся разработкой анимации, приложений, программных модулей и различных скриптов. Так же рисуем замечательные иконки, баннеры, логотипы и многое другое.
        +e.pag
      +e.slider
        +slider(false, false)
          +slide
            img(src='./assets/images/about.jpg').about__slide-img
          +slide
            img(src='./assets/images/about.jpg').about__slide-img
          +slide
            img(src='./assets/images/about.jpg').about__slide-img
        +e.nav
          +e.prev
            //img(src='./assets/images/prev.svg')
          //+e.IMG(src='./assets/images/next.svg').next
          +e.next
        +e.pag
  section
    +b.team
      .container.container_inner
        +e.title Команда
      +e.box
        +worker-card('./assets/images/worker1.jpg', 'Директор', 'Беличенко Анатолий', '«Здесь будет написана цитата или текст сотрудника.»')
        +worker-card('./assets/images/worker2.jpg', 'Управляющий партнер', 'Иванов Назар', '«Здесь будет написана цитата»')
        +worker-card('./assets/images/worker3.jpg', 'Начальник отдела продаж', 'Анна Трофимова', '«Здесь будет написана цитата»')
        +worker-card('./assets/images/worker4.jpg', 'Руководитель проектов', 'Петр Симоненко', '«Здесь будет написана цитата»')
      +slider(true, false).team__slider
        +slide
          +worker-card('./assets/images/worker1.jpg', 'Директор', 'Беличенко Анатолий', '«Здесь будет написана цитата или текст сотрудника.»')
        +slide
          +worker-card('./assets/images/worker2.jpg', 'Управляющий партнер', 'Иванов Назар', '«Здесь будет написана цитата»')
        +slide
          +worker-card('./assets/images/worker3.jpg', 'Начальник отдела продаж', 'Анна Трофимова', '«Здесь будет написана цитата»')
        +slide
          +worker-card('./assets/images/worker4.jpg', 'Руководитель проектов', 'Петр Симоненко', '«Здесь будет написана цитата»')
      +e.question Хочешь работать вместе с нами?
        +link._nounder._blue._inherit Присоединяйся!



  +footer