extends ../../layouts/default

block head
  - var pageTitle = 'Versta Project Template'

block content
  +header._wide._inner
  .container.container_inner
    +b.portfolio
      +e.H1.title Портфолио
      +e.P.subtitle Мы разрабатываем и интегрируем сложные высоконагруженные проекты для крупного бизнеса. Упрощаем жизнь людей и повышаем продажи.
      +e.filters
        +e.filter._active.js-portfolio-filer Все
        +e.filter.js-portfolio-filer Сайты
        +e.filter.js-portfolio-filer Продвижения
        +e.filter.js-portfolio-filer Брендинг
        +e.filter.js-portfolio-filer Аналитика
        +e.filter.js-portfolio-filer Приложения
        +e.filter.js-portfolio-filer Поддержка
      +e.box
        +card-portfolio('./assets/images/portfolio1.jpg', '#', 'Разработка и продвижение<br> приложения Velvet.money', '#Приложения  #Поддержка', './assets/images/portfolio1_m.jpg')._wide.is-active
        +card-portfolio('./assets/images/portfolio2.jpg', '#', 'Создание сайта<br> Peoples choice.studio', '#Сайты').is-active
        +card-portfolio('./assets/images/portfolio3.jpg', '#', 'Брендинги создание сайта<br>для Style.expert', '#Брендинг  #Сайты').is-active
        +card-portfolio('./assets/images/portfolio4.jpg', '#', 'Создание сайта<br>printui.ru', '#Сайты')._wide.is-active
        +card-portfolio('./assets/images/portfolio5.jpg', '#', 'Разработка рекламной стратегии<br>для бренда Zarina', '#Продвижения').is-active
        +card-portfolio('./assets/images/portfolio6.jpg', '#', 'Разработка сервиса<br>imageshost.ru', '#Сайты').is-active
        +card-portfolio('./assets/images/portfolio7.jpg', '#', 'Брендинг и приложение<br>для Сatbear', '#Брендинг #Приложения').is-active
        +card-portfolio('./assets/images/portfolio8.jpg', '#', 'Создание сайта<br>titrus.ru', '#Сайты').is-active
        +card-portfolio('./assets/images/portfolio9.jpg', '#', 'Создание 5 сайтов<br>для ГК Империя', '#Сайты #Поддержка', './assets/images/portfolio2_m.jpg')._wide.is-active
        +card-portfolio('./assets/images/portfolio10.jpg', '#', 'Разработка сайта<br>yoga812.ru', '#Сайты').is-active
        +card-portfolio('./assets/images/portfolio11.jpg', '#', 'Разработка интернет-магазина<br>Swimchamp', '#Сайты').is-active
        +card-portfolio('./assets/images/portfolio12.jpg', '#', 'Продвижение сайта<br>hydroprom.ru', '#Продвижение').is-active
        +card-portfolio('./assets/images/portfolio13.jpg', '#', 'Разработка сайта<br>для университета имени Макарова', '#Сайты').is-active
        +card-portfolio('./assets/images/portfolio14.jpg', '#', 'Разработка сайта<br>angelanddemon.ru', '#Сайты').is-active
        +card-portfolio('./assets/images/portfolio15.jpg', '#', 'Создание сайта<br>appcreate.ru', '#Сайты').is-active
        +card-portfolio('./assets/images/portfolio16.jpg', '#', 'Брендинг для компании<br>Great Consulting', '#Брендинг').is-active
        +card-portfolio('./assets/images/portfolio17.jpg', '#', 'Создание сайта<br>apodent.ru', '#Сайты').is-active

  +footer
