//$card-gap: 12px;

.portfolio {
  display: block;
  margin-top: 60px;

  &__title {
    font-size: 25px;
    line-height: 36px;
    letter-spacing: .25px;
  }

  &__filters {
    margin-top: 65px;
    border-bottom: 1px solid #e0e0e0;
    display: flex;
  }

  &__filter {
    margin-right: 100px;
    padding-bottom: 20px;
    border-bottom: 3px solid transparent;

    &:hover {
      cursor: pointer;
    }

    &_active {
      border-color: $color-main;
    }
  }

  &__box {
    display: flex;
    flex-wrap: wrap;
    margin-top: 6px;
    margin-left: -$card-gap;
    margin-right: -$card-gap;
  }
}

@include screen('lg-r', max) {

  .portfolio {

    &__title {
      font-size: 22px;
      line-height: 36px;
      letter-spacing: .22px;
    }

    &__box {
      margin-left: -$card-gap;
      margin-right: -$card-gap;
    }

    &__filters {
      overflow-x: scroll;
    }
  }
}

@include screen('md', max) {

  .portfolio {

    &__title {
      font-size: 20px;
      line-height: 36px;
      letter-spacing: 0.2px;
    }

    &__box {
      margin-left: 0;
      margin-right: 0;
    }
  }
}
