extends ../../layouts/default

block head
  - var pageTitle = 'Versta Project Template'

block content
  +header._wide._inner
  .container.container_inner
    +b.portfolio
      +e.P.subtitle Мы разрабатываем и интегрируем сложные высоконагруженные проекты для крупного бизнеса. Упрощаем жизнь людей и повышаем продажи.
      +e.filters
        +e.filter.is-active.js-portfolio-filer Все
        +e.filter.js-portfolio-filer Сайты
        +e.filter.js-portfolio-filer Продвижение
        +e.filter.js-portfolio-filer Брендинг
        +e.filter.js-portfolio-filer Аналитика
        +e.filter.js-portfolio-filer Приложения
        +e.filter.js-portfolio-filer Поддержка
      +e.box
        +card-portfolio('./assets/images/portfolio1.jpg', '#', 'Разработка и продвижение<br> приложения Velvet.money', '<span>#Приложения</span>  <span>#Поддержка</span>', './assets/images/portfolio1_m.jpg')._wide.is-active
        +card-portfolio('./assets/images/portfolio2.jpg', '#', 'Создание сайта<br> Peoples choice.studio', '<span>#Сайты</span>').is-active
        +card-portfolio('./assets/images/portfolio3.jpg', '#', 'Брендинги создание сайта<br>для Style.expert', '<span>#Брендинг</span>  <span>#Сайты</span>').is-active
        +card-portfolio('./assets/images/portfolio4.jpg', '#', 'Создание сайта<br>printui.ru', '<span>#Сайты</span>')._wide.is-active
        +card-portfolio('./assets/images/portfolio5.jpg', '#', 'Разработка рекламной стратегии<br>для бренда Zarina', '<span>#Продвижение</span>').is-active
        +card-portfolio('./assets/images/portfolio6.jpg', '#', 'Разработка сервиса<br>imageshost.ru', '<span>#Сайты</span>').is-active
        +card-portfolio('./assets/images/portfolio7.jpg', '#', 'Брендинг и приложение<br>для Сatbear', '<span>#Брендинг</span> <span>#Приложения</span>').is-active
        +card-portfolio('./assets/images/portfolio8.jpg', '#', 'Создание сайта<br>titrus.ru', '<span>#Сайты</span>').is-active
        +card-portfolio('./assets/images/portfolio9.jpg', '#', 'Создание 5 сайтов<br>для ГК Империя', '<span>#Сайты</span> <span>#Поддержка</span>', './assets/images/portfolio2_m.jpg')._wide.is-active
        +card-portfolio('./assets/images/portfolio10.jpg', '#', 'Разработка сайта<br>yoga812.ru', '<span>#Сайты</span>').is-active
        +card-portfolio('./assets/images/portfolio11.jpg', '#', 'Разработка интернет-магазина<br>Swimchamp', '<span>#Сайты</span>').is-active
        +card-portfolio('./assets/images/portfolio12.jpg', '#', 'Продвижение сайта<br>hydroprom.ru', '<span>#Продвижение</span>').is-active
        +card-portfolio('./assets/images/portfolio13.jpg', '#', 'Разработка сайта<br>для университета имени Макарова', '<span>#Сайты</span>').is-active
        +card-portfolio('./assets/images/portfolio14.jpg', '#', 'Разработка сайта<br>angelanddemon.ru', '<span>#Сайты</span>').is-active
        +card-portfolio('./assets/images/portfolio15.jpg', '#', 'Создание сайта<br>appcreate.ru', '<span>#Сайты</span>').is-active
        +card-portfolio('./assets/images/portfolio16.jpg', '#', 'Брендинг для компании<br>Great Consulting', '<span>#Брендинг</span>').is-active
        +card-portfolio('./assets/images/portfolio17.jpg', '#', 'Создание сайта<br>apodent.ru', '<span>#Сайты</span>').is-active

  +footer
