.button {
  display: inline-block;
  padding: 10px 22px;
  border: 1px solid $color-bg-button;
  border-radius: 50px;
  //height: 37px;
  vertical-align: middle;
  box-sizing: border-box;
  color: $color-main;
  background-color: $color-bg-button;
  transition: opacity $ease-main;
  cursor: pointer;
  font-family: 'Intro Bold Alt';

  @include text-button;

  &_blue {
    background: $color-main;
    border-color: $color-main;
    color: white;
  }

  &_white {
    background: white;
    border: 2px solid $color-main;
    color: $color-main;
  }

  &_fullwhite {
    background: transparent;
    color: white;
    border: 1px solid white;
  }

  &_big {
    padding: 12px 35px;
  }

  &_big-medium {
    padding: 14px 32px;
    font-size: 14px;
    letter-spacing: 1.12px;
  }

  &_huge {
    @include text-tel;
  }

  &_img {
    padding: 0;
    background: none;
    font-size: 0;
  }

  &:disabled,
  &.is-disabled {
    opacity: .5;
    cursor: not-allowed;
  }

  &:hover,
  &.is-active {
    opacity: .5;
  }
}
