.button {
  display: inline-block;
  padding: 11px 25px 9px;
  border: 1px solid $color-bg-button;
  border-radius: 50px;
  vertical-align: middle;
  box-sizing: border-box;
  color: $color-main;
  background-color: $color-bg-button;
  transition: opacity $ease-main;
  cursor: pointer;
  font-family: 'Intro Bold Alt';

  @include text-button;

  &_blue {
    background: $color-main;
    border-color: $color-main;
    color: white;
  }

  &_white {
    background: white;
    border: 2px solid $color-main;
    color: $color-main;
  }

  &_fullwhite {
    background: transparent;
    color: white;
    border: 1px solid white;
  }

  &_border-size-2 {
    border: 2px solid white;
  }

  &_red {
    background: $color-red;
    border: 1px solid $color-red;
    color: white;
  }

  &_big {
    padding: 20px 35px;
    height: 54px;

    @include text;

    line-height: 1;
  }

  &_big-medium {
    padding: 14px 32px;
    font-size: 14px;
    letter-spacing: 1.12px;
      }

  &_big-big {
    padding: 27px 48px;
    height: 75px;

    @include btn-big-big;

  }

  &_huge {
    @include text-tel;
  }

  &_img {
    padding: 0;
    background: none;
    font-size: 0;
  }

  &:disabled,
  &.is-disabled {
    opacity: .5;
    cursor: not-allowed;
  }

  &:hover,
  &.is-active {
    opacity: .5;
  }
}
