@import '../../node_modules/@fancyapps/fancybox/dist/jquery.fancybox.css';

.popups {
  display: none;
}

.fancybox-close-small:focus::after { outline: none; }

.fancybox-enabled { overflow: initial; }

.fancybox {

  &-slide {
    text-align: left;
    padding: 0;
  }

  &-content {
    margin-bottom: 0 !important;
    padding: 65px 74px 70px 70px;

    @include screen('md', max) {
      padding: 65px 30px 70px 30px;
    }
  }

  &-slide--html {

    .fancybox-close-small {
      padding: 5px;
      top: 6px;
      right: 10px;
      transition: color $ease-main;

      &:hover {
        color: $color-main;
      }
    }
  }

  &-container {
    font-family: unset;
    color: $color-basic;
  }
}
