@mixin list {
  //@include text;
  font-size: 20px;
  font-weight: 300;
  line-height: 36px;
  letter-spacing: .5px;

  ul, ol {
    padding-top: 5px;
    padding-bottom: 5px;
  }

  li {
    margin-top: 55px;
    padding-left: 70px;
    position: relative;
  }
}

@mixin ullist {

  li::before {
    position: absolute;
    left: 0;
    top: 10px;
    //content: '•';
    content: '';
    //width: 8px;
    //height: 8px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    border: 2px solid $color-main;
  }
}

@mixin ollist {
  counter-reset: list1;

  li {

    &::before {
      position: absolute;
      left: 0;
      top: 0;
      counter-increment: list1;
      content: counter(list1) '.';
    }
  }
}
