@mixin list {
  //@include text;
  font-size: 20px;
  font-weight: 300;
  line-height: 36px;
  letter-spacing: .5px;

  ul, ol {
    padding-top: 5px;
    padding-bottom: 5px;
  }

  li {
    margin-top: 17px;
    padding-left: 36px;
    position: relative;

    @include screen('lg-r', max) {
      margin-top: 26px;
    }
  }
}

@mixin ullist {

  li::before {
    content: '';
    position: absolute;
    top: 11px;
    left: 0;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: $color-gray;

    @include screen('lg-r', max) {
      top: 9px;
    }
  }
}

@mixin ollist {
  counter-reset: list1;

  li {

    &::before {
      position: absolute;
      left: 0;
      top: 0;
      counter-increment: list1;
      content: counter(list1) '.';
    }
  }
}
