// Текстовые стили, используемые на сайте

@mixin heading-1 {
  //font-family: 'Intro Bold Alt';
  font-size: 52px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 4px;
  line-height: (79/52);
}

@mixin heading-2 {
  //font-family: 'Intro Book';
  font-size: 38px;
  font-weight: 400;
  line-height: 52px;
  letter-spacing: .95px;
}

@mixin heading-3 {
  font-size: 38px;
  font-weight: 400;
  line-height: (52/38);
  letter-spacing: .95px;
}

@mixin heading-bignum {
  font-family: 'Intro Black Caps';
  font-size: 128px;
  font-weight: 900;
  line-height: (38/128);
  letter-spacing: 3.2px;
}

@mixin heading-4 {
  font-size: 21px;
  line-height: (25/21);
  font-weight: 400;
  letter-spacing: 1.05px;
}

@mixin heading-5 {
  font-size: 30px;
  line-height: (52/30);
  font-weight: 400;
  letter-spacing: .75px;
}

@mixin heading-6 {
  font-size: 20px;
  line-height: 1.6;
  font-weight: 700;
  letter-spacing: .5px;
}

@mixin heading-7 {
  font-size: 33px;
  font-weight: 700;
  line-height: (74/33);
  letter-spacing: .82px;
}

@mixin text {
  font-size: 14px;
  line-height: (32/14);
  font-weight: 400;
}

@mixin text-bold {
  font-size: 14px;
  font-weight: 700;
  line-height: (52/14);
  letter-spacing: 1.05px;
}

@mixin text-small {
  font-size: 11px;
  line-height: 1.65;
  font-weight: 400;
}

@mixin text-button {
  font-size: 11px;
  font-weight: 400;
  line-height: (18.78/11);
  text-transform: uppercase;
  letter-spacing: 1.4px;
}

@mixin text-menu {
  font-size: 12px;
  font-weight: 400;
  line-height: (26/12);
  text-transform: uppercase;
  letter-spacing: .96px;
}

@mixin text-menu-pad {
  font-size: 16px;
  font-weight: 400;
  line-height: (59/16);
  text-transform: uppercase;
  letter-spacing: 1.28px;
}

@mixin text-button-big {
  font-family: 'Intro Bold Alt';
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  text-transform: uppercase;
  letter-spacing: 1.12px;
}

@mixin text-pag {
  font-size: 16px;
  font-weight: 700;
  line-height: (26/16);
  text-transform: uppercase;
  letter-spacing: 1.17px;
}

@mixin text-foto {
  font-size: 21px;
  font-weight: 400;
  line-height: (33.23/21);
  letter-spacing: .63px;
}

@mixin text-date {
  font-family: 'Intro Black Caps';
  font-size: 22px;
  font-weight: 900;
  line-height: (32/24);
  letter-spacing: .6px;
}

@mixin text-city {
  font-size: 24px;
  font-weight: 700;
  line-height: (26/24);
  letter-spacing: 1.2px;
}

@mixin text-address {
  font-size: 22px;
  font-weight: 400;
  letter-spacing: 1.54px;
  line-height: (40/22);
}

@mixin text-tel {
  font-size: 24px;
  font-weight: 400;
  letter-spacing: .6px;
  line-height: (29/24);
}
