// Здесь используем комментарии только через "//", т.к. они нам не нужны в итоговом css-файле

// ##########
// Базовые настройки сетки сайта
// ##########
$container-width: 1880px; // Максимальная ширина контейнера контента
$container-padding: 30px; // Отступы слева и справа у контейнера
$container-padding-sm: 20px; // Отступы слева и справа у контейнера
$grid-container-width: 100%; // Ширина контейнера сетки
$grid-cols: 12; // Количество колонок в сетке
$grid-gap: 20px; // Расстояние между колонками
$grid-gap-vertical: 20px; // Расстояние между строками в сетке
$grid-col-width: $grid-container-width/$grid-cols; // Ширина одной колонки
$breakpoints: (
  'xl': 1920px,
  'xl-r': 1880px,
  'xl-b': 1600px,
  'xl-t': 1390px,
  'lg': 1310px,
  'lg-2': 1220px,
  'lg-r': 1200px,
  'md-r2': 978px,
  'md-r': 880px,
  'md': 768px,
  'md2': 590px,
  'sm': 480px,
  'xs': 460px,
);

// ##########
// Цвета
// ##########
$white: #ffffff;
$color-basic: #0d1c2c; // Основной цвет текста (применяется к body)
$color-placeholder: black; // Основной цвет для placeholder
$color-placeholder2: #bababa;
$color-input: black; // Основной цвет input, select и textarea
$color-main: #0081cb; // Основной фирменный цвет
$color-main-black: #0d1c2c;
$color-main-gray: #eee;
$color-border: #e3e3e3; // Основной цвет границ таблиц, секций
$color-border-2: #d4d4d4;
$color-bg: #f6f6f6;
$color-bg-dark: #0a0a0a;
$color-bg-button: #ededed;
$color-bg-button2: #ececec;
$color-bg-card: #f4f4f4;
$color-dark: #b9b9b9;
$color-gray: #c9c9c9;
$color-gray-2: #f2f2f2;
$color-text_grey: #898989;
$color-silver: #ababab;
$color-svg-gray: #e1e1e1;
$color-date: #d9d9d9;
$color-red: #c91516;
$color-soc: #ccc;
$color-arrow: #cccaca;
$color-orange: #ff5252;
$color-green: #1bb05a;
$color-blue: #31a5e7;
$color-blue-light: #85d3ff;
$color-tundora: #454545;
$color-shaft: #292929;
$color-godgrey: #171717;
$color-alto: #d5d5d5;
$black: #000000;

// ##########
// Transitions
// ##########
$ease-main: .3s ease;

// ##########
// Шрифты
// ##########
$font-main: 'Intro Book', sans-serif; // Основной шрифт сайта
$font-second: 'Open Sans', sans-serif; // Дополнительный шрифт
