.page-404 {
  margin-top: 19px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @include screen("lg", max) {
    margin-top: 67px;
    padding-left: 0;
  }

  @include screen("md", max) {
    margin-top: 77px;
  }

  @include screen("sm", max) {
    margin-top: 30px;
  }

  &__img {
    max-width: 100%;
    margin: 0 auto;
    padding-bottom: 61px;
    display: block;
    max-height: calc(100vh - 480px);

    @include screen("lg", max) {
      max-width: 99%;

      max-height: calc(100vh - 493px);
    }

    @include screen("lg-r", max) {
      padding-bottom: 109px;

      max-height: none;
    }

    @include screen("md", max) {
      padding-bottom: 82px;
      max-width: 93%;
    }

    @include screen("sm", max) {
      padding-bottom: 40px;
    }
  }

  &__footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    padding: 14px 88px 97px 88px;
    box-sizing: border-box;

    @include screen("lg-r", max) {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      max-width: 100%;
    }

    @include screen("lg", max) {
      padding: 0 30px 78px ;
    }

    @include screen("md", max) {
      padding: 0 15px;
    }
  }

  &__text {
    color: $color-main;
    font-size: 54px;
    font-weight: 700;
    line-height: 91.12px;
    letter-spacing: 0.9px;
    padding-top: 3px;

    @include screen("lg-r", max) {
      text-align: center;
      padding-top: 6px;
    }

    @include screen("md", max) {
      font-size: 37px;
      line-height: 52.28px;
      padding-top: 12px;
      letter-spacing: .5px;
    }

    @include screen("sm", max) {
      font-size: 25px;
      line-height: 35px;
    }

    &_big {
      font-size: 107px;

      @include screen("md", max) {
        font-size: 74px;
        letter-spacing: 0.72px;
      }

      @include screen("sm", max) {
        font-size: 50px;
        line-height: .8;
      }
    }
  }

  &__text-wrap {
    @include screen("lg-r") {
      flex-grow: 1;
      padding-right: 40px;
    }

    @include screen("lg-r", max) {
      text-align: center;
      width: 100%
    }
  }


  &__button {
    padding: 20px 32px;
    position: relative;
    top: -14px;
    right: -3px;
    letter-spacing: 0.98px;


    @include screen("lg-r", max) {
      top: -2px;
      margin-top: 85px;
      right: 0;
    }

    @include screen("md", max) {
      top: 0;
      margin-top: 83px;
    }

    @include screen("sm", max) {
      margin-top: 40px;
    }
  }

}
.button__404__icon {
  width: 19px;
  height: 17px;
  fill: $color-main;
  display: inline-block;
  vertical-align: middle;
  margin-right: 20px;

  @include screen("lg-r", max) {
    margin-right: 14px;
  }
}
