.page-404 {
  margin-top: 7px;

  @include screen("lg", max) {
    margin-top: 67px;
  }

  @include screen("md", max) {
    margin-top: 77px;
  }


  &__img {
    max-width: 100%;
    margin: 0 auto;
    padding-bottom: 61px;
    display: block;

    @include screen("lg", max) {
      max-width: 99%;
    }

    @include screen("lg-r", max) {
      padding-bottom: 109px;
    }

    @include screen("md", max) {
      padding-bottom: 79px;
    }
  }

  &__footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    padding: 14px 76px 97px 88px;
    box-sizing: border-box;

    @include screen("lg-r", max) {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-bottom: 75px;
    }

    @include screen("lg", max) {
      padding: 14px 0 97px 0;
    }

    @include screen("md", max) {
      padding: 0 15px;
    }
  }

  &__text {
    color: $color-main;
    font-size: 54px;
    font-weight: 700;
    line-height: 91.12px;
    letter-spacing: 0.9px;
    padding-top: 2px;

    @include screen("lg-r", max) {
      text-align: center;
      padding-top: 6px;
    }

    @include screen("md", max) {
      font-size: 37px;
      line-height: 52.28px;
      padding-top: 12px;
      letter-spacing: -0.1px;
    }

    &_big {
      font-size: 107px;

      @include screen("md", max) {
        font-size: 74px;
      }
    }
  }


  &__button {
    padding: 20px 30px;
    position: relative;
    top: -14px;
    right: -3px;


    @include screen("lg-r", max) {
      top: 0;
      margin-top: 85px;
      right: 0;
    }

    @include screen("md", max) {
      top: 0;
      margin-top: 83px;
    }
  }

}
.button__404__icon {
  width: 19px;
  height: 17px;
  fill: $color-main;
  display: inline-block;
  vertical-align: middle;
  margin-right: 20px;
}