.tabs {
  $tab-gap: 25px;

  display: block;
  font-size: 0;
  margin-top: -$tab-gap;

  &__tab {
    display: inline-block;
    margin-right: $tab-gap;
    margin-top: $tab-gap;
    border-bottom: 2px solid transparent;
    transition: border-color $ease-main, opacity $ease-main;
    padding-bottom: 10px;
    cursor: pointer;
    opacity: .5;

    @include text;

    &.active {
      border-color: $color-basic;
      opacity: 1;
    }
  }

  & + &-content {
    margin-top: 30px;
  }

  &-content {

    &__wrapper {
      display: none;
      opacity: 0;
      transition: opacity $ease-main, transform $ease-main;
      transform: translate3d(0, 10px, 0);

      &.active {
        display: block;
        opacity: 1;
        transform: translate3d(0, 0, 0);
      }
    }

    &_contacts {

      .tabs-content {

        &__wrapper {
          position: relative;
        }

        &__card {
          position: absolute;
          left: 10%;
          top: 10%;
          z-index: 1;
        }
      }
    }
  }

  &_contacts {
    display: flex;
    justify-content: center;

    .tabs {

      &__tab {
        width: 512px;
        text-align: center;
        font-size: 24px;
        font-weight: 700;
        line-height: 26px;
        letter-spacing: 1.2px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 0;

        @include screen('md', max) {
          font-size: 20px;
        }

        &_blue.active {
          color: $color-main;
          border-color: $color-main;
        }

        &_red.active {
          color: #c91516;
          border-color: #c91516;
        }

        &.active {

          .tabs__img {
            display: none;

            &_active {
              display: block;
            }
          }
        }
      }

      &__img {
        margin-right: 30px;

        &_active {
          display: none;
        }
      }
    }
  }
}
