extends ../../layouts/default

block head
  - var pageTitle = 'Versta Project Template'

block content
  +header._wide._inner

  +b.uslugi-spisok
    .container.container_inner.container_xl
      +e.title
        h1 Брендинг
        +e.UL.aside-menu
          +e.LI.aside-menu__item
            +e.A.aside-menu__link Услуги
          +e.LI.aside-menu__item
            +e.A.aside-menu__link Компания
          +e.LI.aside-menu__item
            +e.A.aside-menu__link Главная
      +e.box
        +usluga-item("./assets/images/brending__logo.png", "Логотип ", "Cайт визитка  это ваш виртуальный офис, в котором работают лучшие сотрудники. Они всегда расскажут посетителям обо всех достижениях и преимуществах вашей компании.")
        +usluga-item("./assets/images/brending__nem.png", "Немина/Слоган ", "Интернет-магазин  это ваш виртуальный офис, в котором работают лучшие сотрудники. Они всегда расскажут посетителям обо всех достижениях и преимуществах вашей компании.")
        +usluga-item("./assets/images/brending__firm.png", "Фирменный стиль", "Landing page  это ваш виртуальный офис, в котором работают лучшие сотрудники. Они всегда расскажут посетителям обо всех достижениях и преимуществах вашей компании.")
        +usluga-item("./assets/images/brending__photo.png", "Фото/Видо", "Сложные проекты  это ваш виртуальный офис, в котором работают лучшие сотрудники. Они всегда расскажут посетителям обо всех достижениях и преимуществах вашей компании.")


  +footer.uslugi-spisok__footer
