.journal {
  display: block;

  &__list {
    margin-top: 60px;
    justify-content: space-between;

    @include screen('lg', max) {
      margin-top: 55px;
    }

    @include screen('md', max) {
      margin-top: 54px;
    }

    &_article {
      @include screen('lg', max) {
        margin-left: -15px;
        margin-right: -15px;
      }

      @include screen('sm', max) {
        margin-left: 0;
        margin-right: 0;
      }
    }
  }

  &__allcards {
    margin: 0;
    padding: 0;
    width: 0;
    height: 0;
    overflow: hidden;
    clip: rect(0 0 0 0);
    clip: rect(0, 0, 0, 0);
    pointer-events: none;
  }

  .card-journal {
    margin-bottom: 34px;

    @include screen('lg', max) {
      margin-bottom: 36px;
    }

    @include screen('md', max) {
      margin-bottom: 46px;
      padding-right: 0;

      .card-journal__date {
        margin-left: 27px;
      }
    }
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    max-width: 634px;
    margin: 48px auto 0;

    @include screen('lg', max) {
      max-width: 584px;
      margin-top: 25px;
    }

    @include screen('md', max) {
      max-width: 334px;
      margin-top: 7px;
      margin-left: auto;
      margin-right: auto;
      padding-left: 58px;
      padding-right: 58px;

      .link {
        line-height: 3.5;
      }
    }
  }

  &__title {
    margin-top: 94px;
    font-size: 30px;
    font-weight: 700;
    line-height: 46px;
    letter-spacing: .75px;

    @include screen('lg-r', max) {
      margin-top: 46px;
    }
  }

  &__page-title {
    margin-top: 70px;
    color: $color-main;
    text-align: center;

    @include section-title;

    @include screen('md', max) {
      font-size: 46px;
    }

    @include screen('sm', max) {
      margin-top: 60px;
      font-size: 42px;
    }

    h1 {
      color: inherit;
      font-size: inherit;
      margin: 0;
      padding: 0;
      line-height: inherit;
    }
  }

}

@include screen('md', max) {

  .journal {

    &__list {
      justify-content: center;
    }
  }
}
