extends ../../layouts/default

block head
  - var pageTitle = 'Versta Project Template'

block content
  +header._wide._inner
  +b.SECTION.journal
    .container.container_inner
      +grid-list.js-mix.journal__list
        +e.LI.item.journal__column
        +e.LI.item.journal__column
        +e.LI.item.journal__column
        //+e.LI.item
      +e.allcards.js-storage
        +card-journal('./assets/images/slide21.jpg','Мы запустили новый сайт для компании.','20  10  17')
        +card-journal('./assets/images/slide22.jpg','Как эффективно настроитьконтекстную рекламу и увеличить продажи?','20  10  17')
        +b.card-journal_popular
          +e.title Самые популярные статьи.
          +article-popular('Запустили новое приложение для компании.', '01')._first
          +article-popular('Использование SVG в качестве Placeholder’a', '02')
          +article-popular('Мы запустили новый сайт для компании.', '03')
        +card-journal('./assets/images/journal3.jpg','Мы запустили новый сайт для компании.','20  10  17')
        +card-journal('./assets/images/journal4.jpg','Мы запустили новый сайт для компании.','20  10  17')
        +card-journal('./assets/images/journal5.jpg','Мы запустили новый сайт для компании.','20  10  17')
        +card-journal('./assets/images/journal7.jpg','Мы запустили новый сайт для компании.','20  10  17')
        +card-journal('./assets/images/journal6.jpg','Мы запустили новый сайт для компании.','20  10  17')
        +card-journal('./assets/images/journal8.jpg','Мы запустили новый сайт для компании.','20  10  17')
        +card-journal('./assets/images/journal9.jpg','Мы запустили новый сайт для компании.','20  10  17')
        +card-journal('./assets/images/journal10.jpg','Мы запустили новый сайт для компании.','20  10  17')

      +e.bottom
        +link._blue._nounder._xl._center
          img(src='./assets/images/icon_more.svg')
          |Загрузить еще
        +link._blue._nounder._xl._center._center-reverse
          |Подписаться
          img(src='./assets/images/icon_subscribe.svg')

  +footer._journal