.journal {
  display: block;

  &__list {
    margin-top: 60px;
    justify-content: space-between;
  }

  &__allcards {
    margin: 0;
    padding: 0;
    width: 0;
    height: 0;
    overflow: hidden;
    clip: rect(0 0 0 0);
    clip: rect(0, 0, 0, 0);
    pointer-events: none;
  }

  .card-journal {
    margin-bottom: 34px;
  }

  &__bottom {
    display: flex;
    justify-content: space-around;
    margin-top: 80px;
  }

  &__title {
    margin-top: 70px;
    font-size: 30px;
    font-weight: 700;
    line-height: 46px;
    letter-spacing: .75px;
  }

  &__column {
    width: 387px;
    box-sizing: content-box;
  }
}

@include screen('lg', max) {

  .journal {

    &__list {
      margin-top: 55px;
    }

    &__column {
      width: 339px;
    }
  }
}

@include screen('md', max) {

  .journal {

    &__list {
      justify-content: center;
    }
  }
}
