.content-zone {

  h1 {

    &:not(:last-child) {
      margin-bottom: 10px;
    }

    @include heading-1;
  }

  h2 {
    font-size: 36px;
    font-weight: 700;
    line-height: 46px;
    letter-spacing: .9px;
    color: $color-main;
    margin-top: 36px;
    margin-bottom: -11px;

    //&:not(:last-child) {
    //  margin-bottom: 10px;
    //}
    //
    //@include heading-2;
  }

  h3 {

    &:not(:last-child) {
      margin-bottom: 10px;
    }

    @include heading-3;
  }

  h4 {

    &:not(:last-child) {
      margin-bottom: 10px;
    }

    @include heading-4;
  }

  h5 {

    &:not(:last-child) {
      margin-bottom: 10px;
    }

    @include heading-5;
  }

  h6 {

    &:not(:last-child) {
      margin-bottom: 10px;
    }

    @include heading-6;
  }

  p {
    font-size: 20px;
    font-weight: 300;
    line-height: 36px;
    letter-spacing: .5px;
    margin-top: 36px;

    &:first-child {
     margin-top: 0;
    }

    small {
      display: block;

      @include text-small;
    }

    //@include text;
  }

  small {
    display: block;
    color: #b3b3b3;
    font-size: 16px;
    font-weight: 300;
    //line-height: 36px;
    letter-spacing: .4px;
  }

  blockquote {
    font-size: 24px;
    text-align: center;
    line-height: 36px;
    letter-spacing: .6px;
    margin: 87px auto 0;
    padding-bottom: 81px;
    position: relative;

    &::before {
      @include pseudo;

      bottom: 28px;
      width: 120px;
      height: 1px;
      background: $color-main;
      left: calc(50% - 60px);
    }

    //margin: 0;
    //padding-left: 40px;
    //border-left: 2px solid black;
    //display: block;
    //
    //&:not(:first-child) {
    //  margin-top: 30px;
    //}
    //
    //&:not(:last-child) {
    //  margin-bottom: 30px;
    //}
  }

  img {
    max-width: 100%;
    width: 100%;

    &:not(:first-child) {
      margin-top: 36px;
    }

    &:not(:last-child) {
      margin-bottom: 16px;
    }
  }

  > ul, > ol {

    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  ul, ol { @include list; }

  ul {
    @include ullist;
    margin-top: 43px;
    li {
      padding-left: 69px;
      margin-top: 36px;

      &::before {
        width: 9px;
        height: 9px;
        background-color: transparent;
        border: 2px solid $color-main;
      }

      &:first-child {
        margin-top: 0;
      }
    }
  }

  ol { @include ollist; }

  a {
    font-size: 18px;
    font-weight: 400;
    letter-spacing: .45px;
    color: $color-main;
    padding-bottom: 1px;
    border-bottom: 1px dashed $color-main;

    &:hover {
      color: mix($white, $color-main, 30%);
      border-color: mix($white, $color-main, 30%);
    }
  }
}

@include screen('lg-r', max) {

  .content-zone {

    p {
      font-size: 18px;
      line-height: 30px;
      letter-spacing: .45px;
      margin-top: 30px;
    }

    h2 {
      font-size: 30px;
      font-weight: 700;
      line-height: 46px;
      letter-spacing: .75px;
      margin-top: -4px;
    }

    ul {
      margin-top: 33px;
      font-size: 18px;
      font-weight: 300;
      line-height: 30px;
      letter-spacing: .45px;
      
      li {
        padding-left: 48px;
        margin-top: 30px;
        
        &::before {
          top: 7px;
        }
      }
    }

    blockquote {
      margin-top: 74px auto 0;
      font-size: 24px;
      line-height: 36px;
      letter-spacing: 0.6px;
    }
  }
}
