.content-zone {

  h1 {

    &:not(:last-child) {
      margin-bottom: 10px;
    }

    @include heading-1;
  }

  h2 {
    font-size: 36px;
    font-weight: 700;
    line-height: 46px;
    letter-spacing: .9px;
    color: $color-main;
    margin-top: 40px;

    //&:not(:last-child) {
    //  margin-bottom: 10px;
    //}
    //
    //@include heading-2;
  }

  h3 {

    &:not(:last-child) {
      margin-bottom: 10px;
    }

    @include heading-3;
  }

  h4 {

    &:not(:last-child) {
      margin-bottom: 10px;
    }

    @include heading-4;
  }

  h5 {

    &:not(:last-child) {
      margin-bottom: 10px;
    }

    @include heading-5;
  }

  h6 {

    &:not(:last-child) {
      margin-bottom: 10px;
    }

    @include heading-6;
  }

  p {
    font-size: 20px;
    font-weight: 300;
    line-height: 36px;
    letter-spacing: .5px;
    margin-top: 50px;

    //&:not(:last-child) {
    //  margin-bottom: 60px;
    //}

    small {
      display: block;

      @include text-small;
    }

    //@include text;
  }

  small {
    display: block;
    color: #b3b3b3;
    font-size: 16px;
    font-weight: 300;
    //line-height: 36px;
    letter-spacing: .4px;
  }

  blockquote {
    font-size: 24px;
    text-align: center;
    line-height: 36px;
    letter-spacing: .6px;
    margin: 100px auto 0;
    width: 90%;
    padding-bottom: 60px;
    position: relative;

    &::before {
      @include pseudo;

      bottom: 0;
      width: 120px;
      height: 1px;
      background: $color-main;
      left: calc(50% - 60px);
    }

    //margin: 0;
    //padding-left: 40px;
    //border-left: 2px solid black;
    //display: block;
    //
    //&:not(:first-child) {
    //  margin-top: 30px;
    //}
    //
    //&:not(:last-child) {
    //  margin-bottom: 30px;
    //}
  }

  img {
    max-width: 100%;
    width: 100%;

    &:not(:first-child) {
      margin-top: 43px;
    }

    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  > ul, > ol {

    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  ul, ol { @include list; }

  ul { @include ullist; }

  ol { @include ollist; }

  a {
    //display: inline-block;
    font-size: 18px;
    //line-height: 43px;
    font-weight: 400;
    letter-spacing: .45px;
    color: $color-main;
    padding-bottom: 1px;
    //text-decoration: dotted;
    border-bottom: 1px dashed $color-main;
    //margin-top: 24px;
    //@include link;

    //&:first-of-type {
    //  margin-top: 50px;
    //}
  }
}

@include screen('lg-r', max) {

  .content-zone {

    p {
      font-size: 18px;
      line-height: 30px;
      letter-spacing: .45px;
    }

    h2 {
      font-size: 30px;
      font-weight: 700;
      line-height: 46px;
      letter-spacing: .75px;
    }

    ul {
      font-size: 18px;
      font-weight: 300;
      line-height: 30px;
      letter-spacing: .45px;
    }

    blockquote {
      font-size: 24px;
      line-height: 36px;
      letter-spacing: 0.6px;
    }
  }
}
