mixin switcher(on, off)
  +b.LABEL.switcher&attributes(attributes)
    input(type="checkbox")
    span.switcher__value.switcher__value_on= on
    +e.box
      +e.mover
        +e.circle
    span.switcher__value.switcher__value_off= off
  block
