.partners {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  height: 255px;
  width: calc((100% - 2px)/3);
  padding: 59px 10px 49px;
  position: relative;
  background-color: $color-godgrey;

  @include screen("lg", max) {
    height: 180px;
    padding: 42px 10px 30px;
  }

  @include screen("md", max) {
    width: 100%;
    height: 236px;
    padding: 37px 10px 44px;
  }

  &::after {
    @include pseudo;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 41px;
    height: 2px;
    background-color: #fff;
  }

  &__img-wrap {
    width: 246px;
    height: 84px;
    max-width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;

    @include screen("lg", max) {
      width: 165px;
      height: 84px;
    }

    @include screen("md", max) {
      width: 221px;
      height: 84px;
    }
    
    img {
      max-width: 100%;
      height: auto;
    }
  }

  &__text {
    color: $color-tundora;
    font-size: 16px;
    line-height: 28px;
    font-weight: 300;
    letter-spacing: 0.8px;
    text-align: center;
    width: 100%;
    margin-top: 40px;

    @include screen("lg", max) {
      margin-top: 31px;
      font-size: 14px;
    }
  }
}