@import '../../node_modules/pagepiling.js/dist/jquery.pagepiling.min.css';

#pagepiling {
  opacity: 0;
  transition: opacity $ease-main;

  &.is-active {
    opacity: 1;
  }
}

.slide {
  height: 100%;
  position: relative;
  background-color: white;
}

.pp-section {

  .slide1 {
    @include screen('xl-t', max) {
      .swiper-container {
        overflow: visible;
      }
    }
  }
}

.pp-scrollable {
  overflow-y: scroll;
  overflow-x: hidden;
}

#pp-nav {
  @include center-block;

  margin-top: 0 !important;

  ul {
    // height: 530px;
    height: 49vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  li {
    position: relative;

    &:not(:last-child) {
      // margin-bottom: 100px;

      &::after {
        @include pseudo;

        height: 10.2vh;
        background: $color-border-2;
        width: 1px;
        left: 10px;
        top: 19px;
      }
    }
  }

  .active {

    &::before {
      @include pseudo;

      left: 7px;
      top: 7px;
      width: 7px;
      height: 7px;
      border-radius: 50%;
      background: $color-main;
    }
  }

  span {
    @include size(15px);

    background-color: $white !important;
  }

  &.left {
    left: 62px;
  }
}
