@import '../../node_modules/pagepiling.js/dist/jquery.pagepiling.min.css';

.slide {
  height: 100%;
  position: relative;
}

.pp-section {

  .slide1 {

    .slide__footer {
      bottom: -199px;
      left: 62px;
    }

    @include screen('xl-t', max) {
      .swiper-container {
        overflow: visible;
      }
    }
  }
}

.pp-scrollable {
  overflow-y: auto;
  overflow-x: hidden;
}

#pp-nav {
  @include center-block;

  margin-top: 0 !important;

  ul {
    // height: 530px;
    height: 49vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  li {
    position: relative;

    &:not(:last-child) {
      // margin-bottom: 100px;

      &::after {
        @include pseudo;

        height: 10.2vh;
        background: $color-border-2;
        width: 1px;
        left: 10px;
        top: 19px;
      }
    }
  }

  .active {

    &::before {
      @include pseudo;

      left: 7px;
      top: 7px;
      width: 7px;
      height: 7px;
      border-radius: 50%;
      background: $color-main;
    }
  }

  span {
    @include size(15px);

    background-color: $white !important;
  }

  &.left {
    left: 62px;
  }
}

@media screen and (max-height: 800px) {

  // #pp-nav {

  //   li {

  //     &:not(:last-child) {
  //       margin-bottom: 70px;

  //       &::after {
  //         height: 67px;
  //       }
  //     }
  //   }
  // }
}

@media screen and (max-height: 560px) {

  // #pp-nav {

  //   li {

  //     &:not(:last-child) {
  //       margin-bottom: 60px;

  //       &::after {
  //         height: 57px;
  //       }
  //     }
  //   }
  // }
}
