@import '../../node_modules/pagepiling.js/dist/jquery.pagepiling.min.css';

.slide {
  height: 100%;
  position: relative;
}

.pp-scrollable {
  overflow-x: hidden;
}

#pp-nav {

  li {
    position: relative;

    &:not(:last-child) {
      margin-bottom: 100px;

      &::after {
        @include pseudo;

        height: 97px;
        background: $color-border-2;
        width: 1px;
        left: 10px;
        top: 19px;
      }
    }
  }

  .active {

    &::before {
      @include pseudo;

      left: 7px;
      top: 7px;
      width: 7px;
      height: 7px;
      border-radius: 50%;
      background: $color-main;
    }
  }

  span {
    background: none !important;
    width: 15px;
    height: 15px;
  }

  &.left {
    left: 48px;
  }
}

@media screen and (max-height: 800px) {

  #pp-nav {

    li {

      &:not(:last-child) {
        margin-bottom: 70px;

        &::after {
          height: 67px;
        }
      }
    }
  }
}

@media screen and (max-height: 560px) {

  #pp-nav {

    li {

      &:not(:last-child) {
        margin-bottom: 60px;

        &::after {
          height: 57px;
        }
      }
    }
  }
}
