include ../blocks/accordion/accordion
include ../blocks/article-popular/article-popular
include ../blocks/breadcrumbs/breadcrumbs
include ../blocks/button/button
include ../blocks/card-journal/card-journal
include ../blocks/card-portfolio/card-portfolio
include ../blocks/content-zone/content-zone
include ../blocks/dropdown/dropdown
include ../blocks/form-elements/form-elements
include ../blocks/grid-list/grid-list
include ../blocks/grid/grid
include ../blocks/icon/icon
include ../blocks/link/link
include ../blocks/lists/lists
include ../blocks/map/map
include ../blocks/pagepiling/pagepiling
include ../blocks/partners/partners
include ../blocks/popups/popups
include ../blocks/put-block-into-slot/put-block-into-slot
include ../blocks/rating/rating
include ../blocks/slider/slider
include ../blocks/switcher/switcher
include ../blocks/table/table
include ../blocks/tabs/tabs
include ../blocks/usluga-item/usluga-item
include ../blocks/usluga-workers/usluga-workers
include ../blocks/worker-card/worker-card
include ../components/footer/footer
include ../components/header/header
include ../components/ui-kit/ui-kit
