.ico {

  &__button {
    width: 66px;
    height: 66px;
    background-color: $color-shaft;
    display: block;
    border-radius: 50%;
    position: absolute;
    padding-left: 0;
    z-index: 10;

    

    &:hover {
      opacity: 1;

      svg {
        fill: #fff;
      }
    }

    svg {
      fill: $color-tundora;
      width: 19px;
      height: 19px;
      @include center-image;
    }
  }

  &-title {
    font-size: 30px;
    font-weight: 300;
    letter-spacing: 1.5px;
    line-height: 28px;
    width: 100%;
    text-align: center;
  }
  
  &-project {
    margin-top: 154px;
    margin-bottom: 300px;

    @include screen("md", max) {
      text-align: center;
      margin-top: 32px;
      margin-bottom: 150px;
    }

    @include screen("sm", max) {
      margin-bottom: 0;
    }

    &__title {
      font-size: 40px;
      line-height: 28px;
      font-weight: 700;
      letter-spacing: 2px;
      width: 550px;
      text-transform: uppercase;

      @include screen("md", max) {
        line-height: 51px;
        width: 100%;
      }


      &_big {
        color: $color-main;
        font-size: 99px;
        line-height: 164px;
        font-weight: 900;
        letter-spacing: 7.92px;
      }
    }

    &__text {
      font-size: 20px;
      line-height: 48px;
      letter-spacing: 1px;
      width: 640px;
      margin-top: 18px;

      @include screen("md", max) {
        width: 100%;
        margin-top: 10px;
      }
    }

    &__button {
      margin-top: 70px;

      @include screen("md", max) {
        display: none;
      }
    }

    &__mouse {
      margin: 105px auto 0;
      display: table;

      @include screen("md", max) {
        display: none;
      }
    }

    &__pad {
      display: none;

      @include screen("md", max) {
        display: block;
        margin-top: 55px;
      }

      &-text {
        font-size: 14px;
        line-height: 26px;
        color: $color-main;
        letter-spacing: 1.12px;
        width: 100%;
        text-align: center;
        margin-bottom: 8px;
      }
    }

    &__box {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 125px;
      width: 100%;
    }

    &__icon {
      width: 56px;
      height: 56px;
      border-radius: 50%;
      background-color: $color-main;
      margin-right: 42px;
      padding-left: 0;

      svg {
        fill: #fff;
        width: 20px;
        height: 18px;
        @include center-image;
      }
    }

    &__circles {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 155px;
      
    }

    &__circle {
      background-color: #fff;
      border-radius: 50%;

      &:nth-child(1),
      &:nth-child(5) {
        width: 5px;
        height: 5px;
      }

      &:nth-child(2),
      &:nth-child(4) {
        width: 8px;
        height: 8px;
      }

      &:nth-child(3) {
        width: 14px;
        height: 14px;
      }
    }

    &__ball {
      width: 29px;
      height: 29px;
      box-sizing: border-box;
      margin-left: 56px;
      border: 3px solid $color-main;
      border-radius: 50%;
    }
    
  }

  &-recomend {
    width: 1085px;
    height: 1085px;
    position: relative;
    margin: 0 auto;
    text-align: center;

    @include screen("lg", max) {
      width: 760px;
      height: 760px;
    }

    @include screen("md-r", max) {
      width: 100%;
      height: auto;
    }

    &::before {
      @include pseudo;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      background-color: #141414;
      border-radius: 50%;
      z-index: -1;

      @include screen("md-r", max) {
        display: none;
      }
    }

    &__title {
      padding-top: 140px;

      @include screen("lg", max) {
        font-size: 22px;
        margin: 0 auto;
        width: 225px;
        padding-top: 57px;
      }

      @include screen("md-r", max) {
        padding-top: 0;
        font-size: 18px;
        padding-bottom: 47px;
        width: 100%;
      }
    }

    &__text-number-1 {
      font-size: 72px;
      height: 72px;
      line-height: 1;
      letter-spacing: 3.6px;
      color: $color-green;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: -50px;

      @include screen("lg", max) {
        font-size: 60px;
        left: -45px;
      }

      @include screen("md-r", max) {
        font-size: 40px;
        left: -5%;
        top: 55%;
      }
      
    }

    &__text-number-2 {
      font-size: 72px;
      height: 72px;
      line-height: 1;
      letter-spacing: 3.6px;
      color: $color-main;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: -55px;

      @include screen("lg", max) {
        font-size: 60px;
        right: -50px;
        top: 51%;
      }

      @include screen("md-r", max) {
        font-size: 40px;
        right: -5%;
        top: 54%;
      }
    }

    &__img {
      width: 100%;
      height: 100%;

      &-wrap {
        @include center-image;
        width: 633px;
        height: 630px;

        @include screen("lg", max) {
          width: 440px;
          height: 440px;
        }

        @include screen("md-r", max) {
          position: relative;
          width: 90%;
          height: auto;
          margin: 0 auto
        }
      }
    }

    &__text {
      position: absolute;
      bottom: 74px;
      left: 50%;
      transform: translateX(-50%);
      font-size: 22px;
      font-weight: 300;
      line-height: 30px;
      letter-spacing: 1.1px;

      @include screen("lg", max) {
        font-size: 18px;
        letter-spacing: 0.9px;
        bottom: 40px;
        width: 100%;
      }

      @include screen("md", max) {
        font-size: 14px;
        line-height: 22px;
        letter-spacing: 1.05px;
      }



    }

    &__footer {
      position: absolute;
      bottom: 72px;
      left: 0;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 101px;
      font-size: 28px;
      line-height: 28px;
      letter-spacing: 1.4px;

      @include screen("lg", max) {
        font-size: 20px;
        line-height: 28px;
        letter-spacing: 1px;
      }

      @include screen("lg", max) {
        bottom: 25px;
      }

      @include screen("md-r", max) {
        position: relative;
        margin-top: 50px;
      }

      &__proc {
        padding-right: 44px;

        @include screen("lg", max) {
          padding-right: 25px;
        }
      }

      &__summ {
        padding-left: 44px;

        @include screen("lg", max) {
          padding-left: 25px;
        }
      }

      &__btn {
        width: 101px;
        height: 101px;
        position: relative;
        border-radius: 50%;
        background-color: rgba(#fff, .07);

        &-text {
          @include center-image;
          width: 50px;
          height: 50px;
          border-radius: 50%;
          background-color: $color-main;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }

    }

    
  }

  &-stat {
    margin-top: 128px;
    position: relative;

    @include screen("lg", max) {
      margin-top: 138px;
    }

    @include screen("md", max) {
      margin-top: 55px;
    }

    &__title {
      font-size: 22px;
      font-weight: 300;
      letter-spacing: 1.1px;
      line-height: 39px;
      width: 560px;
      margin: 0 auto;
      text-align: center;

      @include screen("md", max) {
        width: 100%;
        font-size: 18px;
        letter-spacing: 0.9px;
        line-height: 36px;
      }
    }

    &__box {
      margin-top: 172px;
      display: flex;
      justify-content: flex-start;
      align-items: flex-end;

      @include screen("lg", max) {
        margin: 120px auto 0;
        flex-direction: column;
        align-items: flex-start;
        width: 90%;
      }

      @include screen("md", max) {
        width: 100%;
        margin: 65px auto 0;
      }
    }

    &__item {
      box-sizing: border-box;
      position: relative;
      display: flex;
      flex-wrap: wrap;

      @include screen("md", max) {
        min-width: 170px;
      }


      &-header {
        display: flex;
        flex-direction: column;
        width: 100%;

        @include screen("lg", max) {
          flex-direction: row;
          align-items: flex-start;
        }
      }

      &-name {
        font-size: 24px;
        line-height: 1;
        margin-top: 14px;
        width: 100%;

        @include screen("lg", max) {
          margin-top: 0;
          margin-left: 18px;
        }
      }

      &-1 {
        background-color: $color-green;
        padding: 44px 82px 33px 39px;
        width: 548px;
        height: 354px;

        @include screen("lg", max) {
          padding: 24px 0 24px 24px;
          width: 100%;
          height: 227px;
        }

        @include screen("md", max) {
          height: auto;
          padding: 24px 10px 24px 24px;
        }

        &-title {
          font-size: 80px;
          line-height: 1;
          letter-spacing: 4px;

          @include screen("lg", max) {
            font-size: 48px;
            letter-spacing: 2.4px;
          }
        }

        &-text {
          align-self: flex-end;
          font-size: 16px;
          line-height: 28px;
          letter-spacing: 0.8px;

          @include screen("lg", max) {
            justify-self: flex-end;
          }
        }
      }

      &-2 {
        background-color: $color-main;
        width: 310px;
        height: 304px;
        padding: 30px 0 0 34px;

        @include screen("lg", max) {
          width: 90%;
          height: 129px;
          padding: 26px 0 0 24px;
        }

        &-title {
          font-size: 48px;
          line-height: 1;
          letter-spacing: 2.4px;

          @include screen("lg", max) {
            font-size: 36px;
          }
        }

        &-name {
          @include screen("lg", max) {
            font-size: 18px;
            letter-spacing: 0.9px;
          }
        }
      }

      &-3 {
        width: 183px;
        height: 254px;
        padding: 30px 0 0 25px;
        background-color: $color-blue;

        @include screen("lg", max) {
          width: 71%;
          height: 77px;
          display: flex;
          align-items: center;
          padding: 0 0 0 25px;
        }

        &-title {
          font-size: 36px;
          line-height: 1;
          letter-spacing: 1.8px;

          @include screen("lg", max) {
            font-size: 30px;
          }
        }

        &-name {
          font-size: 18px;
          letter-spacing: 0.9px;
        }
      }

      &-4 {
        width: 137px;
        height: 204px;
        background-color: $color-blue-light;
        padding: 25px 0 0 20px;

        @include screen("lg", max) {
          width: 59%;
          height: 76px;
          display: flex;
          align-items: center;
          padding: 0 0 0 25px;
        }

        &-title {
          font-size: 34px;
          line-height: 1;
          letter-spacing: 1.7px;

          @include screen("lg", max) {
            font-size: 26px;
            letter-spacing: 1.3px;
          }
        }

        &-name {
          font-size: 20px;

          @include screen("lg", max) {
            font-size: 16px;
            letter-spacing: 0.8px;
          }
        }
      }

      &-5 {
        width: 75px;
        height: 154px;
        background-color: #fff;
        padding: 22px 0 0 4px;
        color: $color-main;

        @include screen("lg", max) {
          width: 43%;
          height: 76px;
          display: flex;
          align-items: center;
          padding: 0 0 0 25px;
        }

        &-title {
          font-size: 22px;
          line-height: 1;
          letter-spacing: 1.7px;

          @include screen("lg", max) {
            font-size: 24px;
            letter-spacing: 1.2px;
          }
        }

        &-name {
          font-size: 18px;
          letter-spacing: 0.9px;
          margin-top: 12px;

          @include screen("lg", max) {
            font-size: 16px;
            letter-spacing: 0.8px;
            margin-top: 0;
          }
        }
      }
    }

    &__info {
      width: 100%;
      text-align: center;
      font-size: 18px;
      letter-spacing: 0.9px;
      margin-top: 60px;

      @include screen("md", max) {
        margin-top: 42px;
      }
      a {
        color: $color-main;
      }
    }

    &__bg {
      position: absolute;
      top: -180px;
      left: 0;
      width: 100%;
      height: calc(100% + 250px);
      z-index: -1;

      @include screen("lg", max) {
        top: -200px;
      }

      @include screen("md", max) {
        top: -300px;
      }
    }
  }

  &-uslugi {
    position: relative;
    margin-top: 155px;

    @include screen("lg", max) {
      margin-top: 95px;
    }

    &__bg {
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      background-image: url("../images/ico-uslugi_bg2.png");
      z-index: -1;

    }

    &__title {
      margin-bottom: 120px;

      @include screen("lg", max) {
        margin-bottom: 68px;
      }
    }

    &__box {
      display: flex;
      flex-wrap: wrap;
      padding-left: 85px;
      position: relative;

      @include screen("lg", max) {
        display: none;
      }

      &-bg {
        position: absolute;
        width: 100%;
        height: 100%;
        left: -10px;
        top: 12px;
        z-index: -1;

        @include screen ("lg", max) {
          display: none;
        }
      }

      &-pad {
        display: none;

        @include screen ("lg", max) {
          display: block;
          padding: 0 49px;
          position: relative;
          padding-left: 13%;
        }

        @include screen("md", max) {
          padding: 0 49px;
        }
      }
    }

    &-slider {
      .swiper-slide-active,
      .swiper-slide-next {

        &::after {
          @include pseudo;
          background-image: linear-gradient(-243deg, #00b294 13%, #0096e8 81%, #008eff 100%);
          top: 13px;
          left: 113px;
          width: calc(90% - 85px);
          height: 2px;

          @include screen ("md", max) {
            display: none;
          }
        }
      }
    }

    &-item {
      width: 200px;
      padding-right: 33px;
      margin-bottom: 138px;

      @include screen ("lg", max) {
        width: auto;
        padding-right: 10%;
        position: relative;
        margin-bottom: 95px;
      }

      @include screen ("md", max) {
        width: 100%;
        padding-right: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 75px;
      }

      &__number {
        font-size: 30px;
        font-weight: 700;
        line-height: 1;
        letter-spacing: 0.75px;
        color: $color-tundora;
        margin-bottom: 20px;
        margin-left: 29px;

        @include screen ("lg", max) {
          margin-left: 39px;
          display: inline-block;
        }

        @include screen ("md", max) {
          margin-left: 0;
          margin-bottom: 30px;
        }
      }   
      &__text {
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.8px;
        font-weight: 300;

        @include screen ("md", max) {
          text-align: center;
        }
  
        &_grey {
          color: $color-tundora;
        }
      }
      &__item {

        @include screen("md", max) {
          display: flex;
          flex-direction: column;
          align-items: center;
        }
      }
    }

    &__button {
      top: -19px;

      &_left {
        left: -4px;
      }

      &_right {
        right: -4px;
      }
    }

  }

  &-works {
    position: relative;

    &__bg-1 {
      position: absolute;
      top: 226px;
      left: 0;
      width: 100%;
      z-index: -3;

      @include screen("lg", max) {
        top: 300px;
        img {
          width: 100%;
          height: auto;
        }
      }

      @include screen("md", max) {
        width: 200%;
        left: -534px;
        top: 120px;
      }
    }

    &__bg-2 {
      position: absolute;
      top: 127px;
      left: -35px;
      width: 1050px;
      overflow: hidden;
      z-index: -2;

      @include screen("lg", max) {
        width: 470px;

        img {
          width: 100%;
        }
      }

      @include screen("md", max) {
        display: none;
      }
    }

    &__bg-3 {
      position: absolute;
      bottom: 0;
      right: 0;
      height: 525px;
      width: 65%;
      z-index: -4;
      background-color: $color-godgrey;
      opacity: 0.6;

      @include screen("lg", max) {
        height: 392px;
        width: 70%;
      }

      @include screen("md", max) {
        width: 100%;
        height: 266px;
        bottom: 99px;
      }
    }

    &__box {
      margin-top: 155px;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      position: relative;

      @include screen("lg", max) {
        flex-wrap: wrap;
        margin-top: 59px;
      }
    }

    &__stat {
      width: 470px;

      @include screen("lg", max) {
        width: 100%;
      }

      &-title {
        font-size: 35px;
        letter-spacing: 1.75px;
        line-height: 1;
        margin-bottom: 30px;
      }

      &-text {
        font-size: 18px;
        line-height: 36px;
        letter-spacing: 1.35px;
        font-weight: 300;

        @include screen("lg", max) {
          width: 470px;
        }
        @include screen("md", max) {
          width: 100%;
        }
      }
    }

    &__slider {
      width: 440px;

      @include screen("lg", max) {
        width: 327px;
        margin: 0 70px 0 0;

        img {
          width: 100%;
          height: auto;
        }
      }

      @include screen("md", max) {
        width: 222px;
        margin: 0;
      }
      
      &-box {
        margin-top: 40px;
        margin-left: 60px;
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: flex-end;

        @include screen("lg", max) {
          margin-top: 0;
          margin-left: 0;
        }

        @include screen("md", max) {
          flex-direction: column;
          align-items: center;
          margin-top: 40px;
        }
      }

      &-nav {
        position: absolute;
        right: 0;
        top: 180px;
        width: 150px;
        display: flex;
        justify-content: space-between;

        @include screen("md", max) {
          width: 100%;
          top: 369px;
        }
      }

      &-num {
        position: absolute;
        top: 443px;
        right: -173px;
        left: auto!important;
        display: flex;
        align-items: flex-start;
        width: auto!important;

        @include screen("xl-r", max) {
          right: 0;
        }

        @include screen("lg", max) {
          top: 340px;
        }

        @include screen("md", max) {
          top: 237px;
        }

        &__current {
          font-size: 106px;
          letter-spacing: 5.3px;
          color: $color-shaft;
          font-weight: 700;
          line-height: 1;
          padding-right: 10px;

          @include screen("lg", max) {
            font-size: 69px;
          }

          @include screen("md", max) {
            font-size: 51px;
          }
        }

        &__total {
          font-size: 38px;
          color: #fff;
          letter-spacing: 1.9px;
          line-height: 1;
          position: relative;
          top: 10px;

          @include screen("lg", max) {
            font-size: 25px;
          }

          @include screen("md", max) {
            font-size: 18px;
          }
        }
      }


    }

    &__project {
      position: absolute;
      left: 0;
      bottom: 0;
      font-size: 16px;
      letter-spacing: 1.2px;
      font-weight: 300;

      @include screen("lg", max) {
        position: static;
        margin-bottom: 25px;
      }

      @include screen("md", max) {
        order: 2;
        width: 100%;
        margin-bottom: 20px;
      }

      &-title {
        position: relative;
        font-weight: 400;
        padding-bottom: 40px;
        font-size: 24px;
        text-transform: uppercase;

        @include screen("lg", max) {
          font-size: 20px;
          padding-bottom: 0;
        }

        &::after {
          @include pseudo;
          height: 1px;
          width: 493px;
          background-color: #fff;
          bottom: 0;
          left: 0;
          opacity: .2;

          @include screen("lg", max) {
            display: none;
            font-size: 24px;
          }
        }

        @include screen("md", max) {
          margin-top: 35px;
        }
      }

      &-list {
        margin-top: 15px;

        @include screen("md", max) {
          display: none;
        }
      }

      &-item {
        list-style: none;
        padding-top: 25px;

        &::before {
          content: '-';
          display: inline-block;
          vertical-align: middle;
          margin-right: 28px;
        }
      }
    }

    &__copyright {
      position: absolute;
      bottom: 38px;
      right: 34px;
      letter-spacing: 1.6px;
      font-size: 16px;
      font-weight: 300;

      @include screen("lg", max) {
        bottom: 26px;
        right: 0;
      }

      @include screen("md", max) {
        position: static;
        width: 100%;
        order: 5;

      }
    }

    &__button {
      position: relative;
    }
  }

  &-partners {
    margin-top: 160px;
    position: relative;

    @include screen("lg", max) {
      margin-top: 95px;
    }

    @include screen("lg", max) {
      margin-top: 105px;
    }

    &__text {
      font-size: 18px;
      line-height: 28px;
      letter-spacing: 0.9px;
      font-weight: 300;
      margin-top: 60px;
      text-align: center;
      width: 100%;
    }

    &__box {
      display: flex;
      justify-content: space-between;
      background-color: #121212;
      margin-top: 59px;

      @include screen("md", max) {
        display: none;
      }
    }

    &__bg {
      position: absolute;
      width: 100%;
      left: 0;
      top: -150px;
      z-index: -1;

      @include screen("lg", max) {
        top: -100px;
      }

      @include screen ("md", max) {
        display: none;
      }
      
      img {
        width: 100%;
        height: auto;
      }

      
    }

    &__slider {
      display: none;

      @include screen("md", max) {
        display: block;
        margin: 60px 30px 0;
      }

      &-pag {

        display: none;

        @include screen("md", max) {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 14px;
          margin-top: 48px;
          width: 100%;

          &-item {
            width: 8px;
            height: 8px;
            background-color: $color-alto;
            border-radius: 50%;
            cursor: pointer;
            margin: 0 14px;

            &_active {
              width: 14px;
              height: 14px;
              background-color: #fff;
            }
          }
        }
      }
    }
  }

  &-info {
    margin-top: 225px;

    @include screen("lg", max) {
      margin-top: 95px;
    }

    @include screen("md", max) {
      margin-top: 61px;
    }

    &__box {
      margin-left: 180px;

      @include screen("lg", max) {
        margin-left: 0;
      }

    }

    &__title {
      font-size: 48px;
      font-weight: 700;
      line-height: 1;
      letter-spacing: 3.6px;
      text-transform: uppercase;
      margin-bottom: 119px;

      @include screen("lg", max) {
        margin-bottom: 86px;
      }

      @include screen("md", max) {
        margin-top: 50px;
      }
    }

    &__text {
      position: relative;
      font-size: 16px;
      letter-spacing: 1.2px;
      font-weight: 300;
      line-height: 59px;
      padding-left: 130px;
      padding-right: 45px;

      @include screen("lg", max) {
        padding-left: 68px;
      }

      @include screen("md", max) {
        padding-left: 45px;
        line-height: 40px;
      }

      &::before {
        @include pseudo;
        left: 0;
        top: 24px;
        width: 26px;
        height: calc(100% - 48px);
        border-top: 8px solid $color-main;
        border-left: 8px solid $color-main;
        border-bottom: 8px solid $color-main;
        box-sizing: border-box;

        @include screen("md", max) {
          top: 13px;
          height: calc(100% - 26px);
        }
      }
    }
  }
}