.ico {

  &__button {
    width: 66px;
    height: 66px;
    background-color: $color-shaft;
    display: block;
    border-radius: 50%;
    position: absolute;
    padding-left: 0;
    z-index: 10;

    &.swiper-button-disabled {
      pointer-events: none;
      opacity: .8;

      svg {
        fill: $color-tundora;
      }
    }

    &:hover {
      opacity: .8;

      svg {
        fill: #fff;
      }
    }

    svg {
      fill: white;
      width: 19px;
      height: 19px;
      transition: fill $ease-main;

      @include center-image;
    }
  }

  &-title {
    font-size: 30px;
    font-weight: 300;
    letter-spacing: 1.5px;
    line-height: 28px;
    width: 100%;
    text-align: center;
  }

  &-project {
    margin-top: 145px;
    margin-bottom: 300px;

    @include screen("lg", max) {
      text-align: center;
      margin-top: 34px;
      margin-bottom: 157px;
    }

    @include screen("md", max) {
      margin-top: 56px;
      margin-bottom: 0;
    }


    &__title {
      font-size: 40px;
      line-height: 28px;
      font-weight: 700;
      letter-spacing: 2px;
      width: 550px;
      text-transform: uppercase;

      @include screen("lg", max) {
        line-height: 22px;
        width: 100%;
        max-width: 585px;
        margin: 0 auto;
        letter-spacing: 2.2px;
      }

      @include screen("md", max) {
        font-size: 26px;
        letter-spacing: 1.3px;
        width: 80%;
      }


      &_big {
        color: $color-main;
        font-size: 99px;
        line-height: 155px;
        font-weight: 900;
        letter-spacing: 8.92px;
        padding-left: 7px;

        @include screen("lg", max) {
          padding-left: 0px;
          position: relative;
          left: 21px;
          margin-left: -14px;
        }

        @include screen("md", max) {
          font-size: 82px;
          letter-spacing: 6.56px;
          line-height: 124px;
          left: 15px;
        }
      }
    }

    &__text {
      font-size: 20px;
      line-height: 48px;
      letter-spacing: 1px;
      width: 640px;
      margin-top: 33px;

      @include screen("lg", max) {
        width: 100%;
        margin-top: -2px;
        line-height: 45px;
        letter-spacing: 1.11px;
      }

      @include screen("md", max) {
        font-size: 16px;
        width: 90%;
        margin: 0 auto;
        line-height: 30px;
        padding-top: 10px;
        letter-spacing: 1.2px;
      }
    }

    &__button {
      margin-top: 86px;
      letter-spacing: 1.12px;
      padding: 19px 34px;

      @include screen("lg", max) {
        display: none;
      }
    }

    &__mouse {
      position: relative;
      margin: 105px auto 0;
      display: table;

      @include screen("lg", max) {
        display: none;
      }

      &::before {
        @include pseudo;
        top: 73px;
        left: 50%;
        margin-left: -2px;
        width: 1px;
        height: 267px;
        background-color: rgba($white, .1);
      }
    }

    &__pad {
      display: none;

      @include screen("lg", max) {
        display: block;
        margin-top: 55px;
      }

      @include screen("md", max) {
        margin-top: 49px;
      }

      &-text {
        font-size: 14px;
        line-height: 26px;
        color: $color-main;
        letter-spacing: 1.12px;
        width: 100%;
        text-align: center;
        margin-bottom: 8px;
      }
    }

    &__box {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 125px;
      width: 100%;
      max-width: 352px;
      margin-left: auto;
      margin-right: auto;

      .slideToUnlock {
        left: 8px;
      }

      @include screen("lg", max) {
        position: relative;
        left: -7px;
      }

      @include screen("md", max) {
        margin: 0 auto 69px auto;
        justify-content: space-between;
        max-width: 339px;
      }
    }

    &__icon {
      width: 56px;
      height: 56px;
      border-radius: 50%;
      background-color: $color-main;
      margin-right: 42px;
      padding-left: 0;
      opacity: 0;

      @include screen("md", max) {
        margin-right: 0;
      }

      svg {
        fill: #fff;
        width: 20px;
        height: 18px;
        @include center-image;
      }
    }

    &__circles {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 155px;

      @include screen("md", max) {
        width: 148px;
        position: relative;
        right: 4px;
      }

    }

    &__circle {
      background-color: #fff;
      border-radius: 50%;

      &:nth-child(1),
      &:nth-child(5) {
        width: 5px;
        height: 5px;
      }

      &:nth-child(2),
      &:nth-child(4) {
        width: 8px;
        height: 8px;
      }

      &:nth-child(3) {
        width: 14px;
        height: 14px;
      }
    }

    &__ball {
      width: 29px;
      height: 29px;
      box-sizing: border-box;
      margin-left: 56px;
      border: 3px solid $color-main;
      border-radius: 50%;
      opacity: 0;

      @include screen("md", max) {
        margin-left: 0;
      }
    }

  }

  &-recomend {
    width: 1085px;
    height: 1085px;
    position: relative;
    margin: 0 auto;
    text-align: center;

    @include screen("lg", max) {
      width: 760px;
      height: 760px;
    }

    @include screen("md-r", max) {
      width: 100%;
      height: auto;
    }

    &::before {
      @include pseudo;
      width: 100%;
      height: 100%;
      left: 0;
      top: -47px;
      background-color: #141414;
      border-radius: 50%;
      z-index: -1;
      opacity: .2;

      @include screen("md-r", max) {
        display: none;
      }
    }

    &__title {
      position: relative;
      padding-top: 93px;

      &::before {
        @include pseudo;
        top: 186px;
        left: 50%;
        margin-left: -2px;
        width: 1px;
        height: 104px;
        background-color: rgba($white, .1);
      }

      @include screen("lg", max) {
        font-size: 22px;
        margin: 0 auto;
        width: 225px;
        padding-top: 33px;
        padding-bottom: 110px;

        &::before {
          top: 114px;
          height: 84px;
        }
      }

      @include screen("md-r", max) {
        font-size: 22px;
        margin: 0 auto;
        width: 225px;
        padding-top: 0;
        padding-bottom: 136px;

        &::before {
          display: none;
        }
      }

      @include screen("md", max) {
        padding-top: 0;
        font-size: 18px;
        padding-bottom: 143px;
        width: 100%;
        letter-spacing: 0.9px;
      }
    }

    &__box {
      @include screen("md", max) {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }

    &__text-number-1 {
      font-size: 72px;
      height: 72px;
      line-height: 1;
      letter-spacing: 3.6px;
      color: $color-green;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: -55px;

      @include screen("lg", max) {
        font-size: 60px;
        left: -50px;
      }

      @include screen("md", max) {
        font-size: 40px;
        left: -10%;
        top: 54.5%;
      }

    }

    &__text-number-2 {
      font-size: 72px;
      height: 72px;
      line-height: 1;
      letter-spacing: 3.6px;
      color: $color-main;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: -55px;

      @include screen("lg", max) {
        font-size: 60px;
        right: -50px;
        top: 51%;
      }

      @include screen("md", max) {
        font-size: 40px;
        right: -9%;
        top: 54.5%;
      }
    }

    &__img {
      width: 100%;
      height: 100%;

      &-wrap {
        @include center-image;
        top: -88px;
        width: 633px;
        height: 630px;

        &::before,
        &::after {
          @include pseudo;
          top: 96px;
          width: 1px;
          height: 1004px;
          background-color: rgba($white, .1);
        }

        &::before {
          left: -50%;
          margin-left: 9px;
        }

        &::after {
          right: -50%;
          margin-right: 9px;
        }

        @include screen("lg", max) {
          position: relative;
          width: 62.5%;
          height: auto;
          margin: 0 auto;

          &::before,
          &::after {
            display: none;
          }
        }

        @include screen("md", max) {
          width: 74%;
        }
      }
    }

    &__text {
      position: absolute;
      bottom: 92px;
      left: 49%;
      transform: translateX(-50%);
      font-size: 22px;
      font-weight: 300;
      line-height: 30px;
      letter-spacing: 1.1px;

      @include screen("lg", max) {
        font-size: 18px;
        letter-spacing: 0.9px;
        left: 50%;
        bottom: 71px;
        width: 100%;
        line-height: 24px;
      }

      @include screen("md", max) {
        font-size: 14px;
        line-height: 22px;
        letter-spacing: 1.05px;
        bottom: 42px;
      }


    }

    &__footer {
      position: absolute;
      bottom: 116px;
      left: 9px;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 101px;
      font-size: 28px;
      line-height: 28px;
      letter-spacing: 1.4px;

      @include screen("lg", max) {
        font-size: 20px;
        line-height: 28px;
        letter-spacing: 1px;
        left: 5px;
        bottom: 61px;
      }

      @include screen("md-r", max) {
        position: relative;
        bottom: 63px;
      }

      @include screen("md", max) {
        bottom: 37px;
        width: 100%;
        max-width: 335px;
        justify-content: space-between;
      }

      &__proc {
        padding-right: 44px;

        @include screen("lg", max) {
          padding-right: 25px;
        }

        @include screen("md", max) {
          font-size: 18px;
          letter-spacing: 0.9px;
          padding-right: 0;
        }

        @include screen("xs", max) {
          font-size: 16px;
        }
      }

      &__summ {
        padding-left: 38px;

        @include screen("lg", max) {
          padding-left: 25px;
        }

        @include screen("md", max) {
          font-size: 18px;
          letter-spacing: 0.9px;
          padding-left: 0;
        }

        @include screen("xs", max) {
          font-size: 16px;
        }
      }

      &__btn {
        width: 101px;
        height: 101px;
        position: relative;
        border-radius: 50%;
        background-color: rgba(#fff, .07);
        flex-shrink: 0;

        &::before,
        &::after {
          @include pseudo;
          left: 50%;
          margin-left: -1px;
          width: 1px;
          background-color: rgba($white, .1);

          @include screen('lg', max) {
            display: none;
          }
        }

        &::before {
          bottom: -83px;
          height: 108px;
        }

        &::after {
          top: -131px;
          height: 157px;
        }

        &-text {
          @include center-image;
          width: 50px;
          height: 50px;
          border-radius: 50%;
          background-color: $color-main;
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;
          line-height: 50px;

          &::before {
            @include pseudo($display: block, $pos: absolute, $content: '<');
            @include center-block;
            font-size: 34px;
            top: 52%;

            @include screen("lg", max) {
              font-size: 30px;
            }
          }
        }
      }

    }


  }

  &-stat {
    margin-top: 3px;
    position: relative;

    @include screen("lg", max) {
      margin-top: 68px;
    }

    @include screen("md", max) {
      margin-top: 12px;
    }

    &__title {
      font-size: 22px;
      font-weight: 300;
      letter-spacing: 1.1px;
      line-height: 39px;
      width: 560px;
      margin: 0 auto;
      text-align: center;

      @include screen("lg", max) {
        letter-spacing: 1.1px;
        line-height: 38px;
      }

      @include screen("md", max) {
        font-size: 18px;
        letter-spacing: 0.9px;
        line-height: 36px;
        width: auto;
        max-width: 320px;
      }
    }

    &__box {
      margin-top: 177px;
      display: flex;
      justify-content: flex-start;
      align-items: flex-end;

      @include screen("lg", max) {
        margin: 120px auto 0;
        flex-direction: column;
        align-items: flex-start;
        width: 90%;
      }

      @include screen("md-r", max) {
        width: 552px;
      }

      @include screen("md", max) {
        width: 100%;
        margin: 61px auto 0;
      }
    }

    &__item {
      box-sizing: border-box;
      position: relative;
      display: flex;
      flex-wrap: wrap;

      @include screen("md", max) {
        min-width: 170px;
      }


      &-header {
        display: flex;
        flex-direction: column;
        width: 100%;

        @include screen("lg", max) {
          flex-direction: row;
          align-items: flex-start;
        }
      }

      &-title {
        font-weight: 700;
      }

      &-name {
        font-size: 24px;
        line-height: 1;
        margin-top: 10px;
        width: 100%;

        @include screen("lg", max) {
          margin-top: 3px;
          margin-left: 24px;
          letter-spacing: 1.2px;
        }

        @include screen("md", max) {
          margin-left: 16px;
        }
      }

      &-1 {
        background-color: $color-green;
        padding: 37px 80px 40px 36px;
        width: 548px;
        min-height: 354px;

        @include screen("lg", max) {
          padding: 18px 180px 24px 24px;
          width: 100%;
          min-height: auto;
        }

        @include screen("md", max) {
          padding: 20px 80px 22px 22px;
        }

        &-name {
          margin-top: 3px;
          margin-left: 16px;
          letter-spacing: 1.2px;

          @include screen("lg") {
            margin-top: 9px;
            margin-left: 5px;
          }
        }

        &-title {
          font-size: 80px;
          line-height: 1;
          letter-spacing: 4px;

          @include screen("lg", max) {
            font-size: 48px;
            letter-spacing: 2.4px;
          }

          @include screen("md", max) {
            font-size: 48px;
            letter-spacing: 2.4px;
          }
        }

        &-text {
          align-self: flex-end;
          font-size: 16px;
          line-height: 28px;
          letter-spacing: 0.8px;
          padding-left: 3px;

          @include screen("lg", max) {
            justify-self: flex-end;
            margin-top: 25px;
          }
        }
      }

      &-2 {
        background-color: $color-main;
        width: 310px;
        min-height: 304px;
        padding: 27px 0 0 31px;

        @include screen("lg", max) {
          width: 86%;
          min-height: 125px;
          padding: 19px 0 0 24px;
        }

        @include screen("md", max) {
          width: 86%;
          min-height: 127px;
          padding: 22px 0 0 23px;
        }

        &-title {
          font-size: 48px;
          line-height: 1;
          letter-spacing: 2.4px;

          @include screen("lg", max) {
            font-size: 36px;
          }

          @include screen("md", max) {
            letter-spacing: 1.8px;
          }
        }

        &-name {
          margin-top: 14px;
          padding-left: 1px;
          letter-spacing: 1.2px;
          @include screen("lg", max) {
            font-size: 18px;
            letter-spacing: 0.9px;
            margin-top: 2px;
            margin-left: 15px;
          }
        }
      }

      &-3 {
        width: 183px;
        height: 254px;
        padding: 28px 0 0 24px;
        background-color: $color-blue;

        @include screen("lg", max) {
          width: 72%;
          height: 77px;
          display: flex;
          align-items: center;
          padding: 0 0 0 25px;
        }

        @include screen("md", max) {
          padding: 1px 0 0 22px;
        }

        &-title {
          font-size: 36px;
          line-height: 1;
          letter-spacing: 1.8px;

          @include screen("lg", max) {
            font-size: 30px;
          }

          @include screen("md", max) {
            letter-spacing: 1.5px;
          }
        }

        &-name {
          font-size: 24px;
          letter-spacing: 1.2px;
          margin-top: 17px;

          @include screen("lg", max) {
            font-size: 18px;
            margin-top: 1px;
            margin-left: 20px;
          }
        }
      }

      &-4 {
        width: 137px;
        height: 204px;
        background-color: $color-blue-light;
        padding: 24px 0 0 21px;

        @include screen("lg", max) {
          width: 59%;
          height: 75px;
          display: flex;
          align-items: center;
          padding: 0 0 0 24px;
        }

        @include screen("lg", max) {
          padding: 0 0 0 22px;
        }

        &-title {
          font-size: 34px;
          line-height: 1;
          letter-spacing: 1.7px;

          @include screen("lg", max) {
            font-size: 26px;
            letter-spacing: 1.3px;
          }
        }

        &-name {
          font-size: 20px;
          margin-top: 16px;
          letter-spacing: 1px;

          @include screen("lg", max) {
            font-size: 16px;
            letter-spacing: 0.8px;
            margin-top: 1px;
            margin-left: 19px;
          }
        }
      }

      &-5 {
        width: 75px;
        height: 154px;
        background-color: #fff;
        padding: 22px 0 0 14px;
        color: $color-main;

        @include screen("lg", max) {
          width: 44%;
          height: 76px;
          display: flex;
          align-items: center;
          padding: 0 0 0 25px;
        }

        @include screen("md", max) {
          width: 44%;
          height: 76px;
          display: flex;
          align-items: center;
          padding: 4px 0 0 22px;
        }

        &-title {
          font-size: 22px;
          line-height: 1;
          letter-spacing: -.2px;

          @include screen("lg", max) {
            font-size: 24px;
            letter-spacing: 1.2px;
          }
        }

        &-name {
          font-size: 18px;
          letter-spacing: 0.9px;
          margin-top: 12px;

          @include screen("lg", max) {
            font-size: 16px;
            letter-spacing: 0.8px;
            margin-top: 0;
            margin-left: 19px;
          }
        }
      }
    }

    &__info {
      width: 100%;
      text-align: center;
      font-size: 18px;
      letter-spacing: 0.9px;
      margin-top: 62px;

      @include screen("lg", max) {
        margin-top: 60px;
      }

      @include screen("md", max) {
        margin-top: 43px;
      }

      a {
        color: $color-main;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    &__bg {
      position: absolute;
      top: -182px;
      left: -8px;
      width: 100%;
      height: calc(100% + 250px);
      z-index: -1;

      img {
        width: 100%;
      }

      @include screen("lg", max) {
        top: -73px;
        left: 8px;
        width: 149%;

        img {
          width: 100%;
        }

      }

      @include screen("md", max) {
        top: -19px;
      }
    }
  }

  &-uslugi {
    position: relative;
    margin-top: 157px;

    @include screen("lg", max) {
      margin-top: 94px;
    }

    @include screen("md", max) {
      margin-top: 113px;
    }

    &__svg-wrap {
      position: absolute;
      left: -10px;
      top: 5px;
      width: 100%;

      &::before {
        content: '';
        position: absolute;
        height: 80px;
        top: 0;
        left: 8px;
        width: 98px;
        background: linear-gradient(90deg, #0a0a0a 20%,transparent);
      }

      &::after {
        content: '';
        position: absolute;
        height: 80px;
        bottom: 0;
        right: 33px;
        width: 216px;
        background: linear-gradient(-90deg,#0a0a0a 80%,transparent);
      }

      @include screen("lg", max) {
        width: calc(100% - 60px);
      }

      @include screen("md", max) {
        display: none;
      }
    }

    &__bg {
      position: absolute;
      top: -78px;
      right: -1063px;
      width: 2596px;
      background-image: url("../images/ico-uslugi_bg2.png");
      z-index: -1;
      display: none;
    }

    &__title {
      margin-bottom: 122px;

      @include screen("lg", max) {
        margin-bottom: 89px;
      }

      @include screen("md", max) {
        margin-bottom: 75px;
      }
    }

    &__box {
      display: flex;
      flex-wrap: wrap;
      padding-left: 93px;
      position: relative;

      @include screen("lg", max) {
        display: none;
      }

      &-bg {
        position: absolute;
        width: 100%;
        height: 100%;
        left: -2px;
        top: 14px;
        z-index: -1;

        @include screen ("lg", max) {
          display: none;
        }
      }

      &-pad {
        display: none;

        @include screen ("lg", max) {
          display: block;
          padding: 0 0px;
          position: relative;
          padding-left: 8%;
        }

        @include screen("md", max) {
          padding: 0 49px;
        }
      }
    }

    &-slider {

      .swiper-slide {
        &::after {
          @include pseudo;
          background-image: linear-gradient(-243deg, #00b294 13%, #0096e8 81%, #008eff 100%);
          top: 13px;
          left: 100px;
          right: -10px;
          height: 2px;
          opacity: 0;
          transition: opacity $ease-main, transform $ease-main;
          transform-origin: left center;
          transform: scaleX(0);

          @include screen ("md", max) {
            display: none;
          }
        }
      }

      .swiper-slide-active,
      .swiper-slide-next {

        &::after {
          opacity: 1;
          transform: scaleX(1);
        }
      }
    }

    &-item {
      width: 200px;
      padding-right: 33px;
      height: 283px;
      box-sizing: border-box;

      @include screen ("lg", max) {
        width: auto;
        padding-right: 10%;
        position: relative;
        margin-bottom: 68px;
        height: auto;
      }

      @include screen ("md", max) {
        width: 100%;
        padding-right: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 48px;
      }

      &__number {
        font-size: 30px;
        font-weight: 700;
        line-height: 1;
        letter-spacing: 0.75px;
        color: $color-tundora;
        margin-bottom: 26px;
        padding-left: 27px;
        padding-right: 27px;
        height: 30px;
        position: relative;
        background-color: $color-bg-dark;
        display: inline-block;

        @include screen ("lg", max) {
          padding-left: 37px;
          padding-right: 37px;
          display: inline-block;
          background-color: transparent;
        }

        @include screen ("md", max) {
          padding-left: 0;
          padding-right: 0;
          margin-bottom: 21px;
          font-size: 47px;
          width: 50px;
          height: auto;

          img {
            width: 100%;
          }
        }
      }

      &__text {
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.8px;
        font-weight: 300;
        color: $color-tundora;
        transition: color $ease-main;

        @include screen ("lg", max) {
          padding-right: 25px;
          color: white;
        }

        @include screen ("md", max) {
          text-align: center;
          font-size: 20px;
          padding-left: 30px;
          padding-right: 30px;
        }
      }

      &__item {

        @include screen("md", max) {
          display: flex;
          flex-direction: column;
          align-items: center;
        }
      }
    }

    &__button {
      top: -18px;

      @include screen("md", max) {
        top: 11px;
      }

      &_left {
        left: 0;
      }

      &_right {
        right: 1px;
      }
    }

  }

  &-works {
    position: relative;
    margin-top: 23px;

    @include screen("lg", max) {
      margin-top: 17px;
    }

    @include screen("md", max) {
      margin-top: 0;
    }

    &__bg-1 {
      position: absolute;
      top: 226px;
      left: 0;
      width: 100%;
      z-index: -3;

      img {
        width: 100%;
        max-height: 100%;
      }

      @include screen("lg", max) {
        top: 278px;
        width: 116%;
        left: -16%;
      }

      @include screen("md", max) {
        width: 200%;
        left: -534px;
        top: 120px;
      }
    }

    &__bg-2 {
      position: absolute;
      top: 127px;
      left: -35px;
      width: 1050px;
      overflow: hidden;
      z-index: -2;

      @include screen("lg", max) {
        width: 470px;

        img {
          width: 100%;
        }
      }

      @include screen("md", max) {
        display: none;
      }
    }

    &__bg-3 {
      position: absolute;
      bottom: 4px;
      right: 0;
      height: 525px;
      width: 65%;
      z-index: -4;
      background-color: $color-godgrey;
      opacity: 0.6;

      @include screen("lg", max) {
        height: 392px;
        width: 86%;
      }

      @include screen("md", max) {
        width: 100%;
        height: 266px;
        bottom: 99px;
      }
    }

    &__box {
      margin-top: 156px;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      position: relative;

      @include screen("lg", max) {
        flex-wrap: wrap;
        margin-top: 58px;
      }

      @include screen("md", max) {
        margin-top: 84px;
        justify-content: center;
      }
    }

    &__stat {
      width: 470px;

      @include screen("lg", max) {
        width: 100%;
      }

      &-title {
        font-size: 35px;
        letter-spacing: 1.75px;
        line-height: 1;
        margin-bottom: 38px;
        font-weight: 700;
        text-transform: uppercase;

        @include screen("md", max) {
          margin-bottom: 32px;
        }
      }

      &-text {
        font-size: 18px;
        line-height: 36px;
        letter-spacing: 1.35px;
        font-weight: 300;
        margin-left: -3px;

        @include screen("lg", max) {
          width: 470px;
          margin-left: -1px;
        }
        @include screen("md", max) {
          width: 100%;
        }
      }
    }

    &__slider {
      width: 440px;

      @include screen("lg", max) {
        width: 327px;
        margin: 0 129px 0 0;

        img {
          width: 100%;
          height: auto;
        }
      }

      @include screen("md", max) {
        width: 222px;
        margin: 0;
      }

      &-box {
        margin-top: 47px;
        margin-left: 74px;
        display: flex;
        justify-content: flex-start;
        align-items: flex-end;

        @include screen("lg", max) {
          margin-top: 0;
          margin-left: 0;
          width: 100%;
          justify-content: space-between;
        }

        @include screen("md", max) {
          flex-direction: column;
          align-items: center;
          margin-top: 36px;
          margin-left: 23px;
          width: 100%;
        }
      }

      &-nav {
        position: absolute;
        right: 0;
        top: 180px;
        width: 150px;
        display: flex;
        justify-content: space-between;

        @include screen("lg", max) {
          right: 1px;
          top: 236px;
        }

        @include screen("md", max) {
          width: 100%;
          top: 361px;
          right: 0;
        }
      }

      &-num {
        position: absolute;
        top: 423px;
        right: -213px;
        left: auto !important;
        display: flex;
        align-items: flex-start;
        width: auto !important;

        @include screen("xl-r", max) {
          right: 0;
        }

        @include screen("lg", max) {
          top: 351px;
          right: 0px;
        }

        @include screen("md", max) {
          top: 233px;
          right: -1px;
        }

        &__current {
          font-size: 106px;
          letter-spacing: 5.3px;
          color: $color-shaft;
          font-weight: 700;
          line-height: 1;
          padding-right: 23px;

          @include screen("lg", max) {
            font-size: 69px;
            padding-right: 15px;
          }

          @include screen("md", max) {
            font-size: 51px;
            padding-right: 8px;
          }
        }

        &__total {
          font-size: 38px;
          font-weight: 700;
          color: #fff;
          letter-spacing: 1.9px;
          line-height: 1;
          position: relative;
          top: 10px;

          @include screen("lg", max) {
            font-size: 25px;
            top: 5px;
          }

          @include screen("md", max) {
            font-size: 18px;
          }
        }
      }


    }

    &__project {
      position: absolute;
      left: -2px;
      bottom: 7px;
      font-size: 16px;
      letter-spacing: 1.2px;
      font-weight: 300;

      @include screen("lg", max) {
        position: static;
        margin-bottom: 24px;
        width: 260px;
      }

      @include screen("md", max) {
        order: 2;
        width: 100%;
        margin-bottom: 12px;
        position: relative;
        left: -24px;
      }

      &-title {
        position: relative;
        font-weight: 400;
        padding-bottom: 46px;
        font-size: 24px;
        text-transform: uppercase;
        letter-spacing: 1.6px;

        @include screen("lg", max) {
          font-size: 20px;
          padding-bottom: 0;
          letter-spacing: 1.1px;
        }

        &::after {
          @include pseudo;
          height: 1px;
          width: 493px;
          background-color: #fff;
          bottom: 4px;
          left: 0;
          opacity: .2;

          @include screen("lg", max) {
            display: none;
            font-size: 24px;
          }
        }

        @include screen("md", max) {
          margin-top: 33px;
          font-size: 24px;
          text-transform: uppercase;
          letter-spacing: 2px;
        }
      }

      &-list {
        margin-top: 15px;

        @include screen("lg", max) {
          margin-top: 8px;
        }

        @include screen("md", max) {
          display: none;
        }
      }

      &-item {
        list-style: none;
        padding-top: 28px;

        &::before {
          content: '-';
          display: inline-block;
          vertical-align: middle;
          margin-right: 16px;
        }
      }
    }

    &__copyright {
      position: absolute;
      bottom: 44px;
      right: 35px;
      letter-spacing: 1.6px;
      font-size: 16px;
      font-weight: 300;

      @include screen("lg", max) {
        bottom: 25px;
        right: 2px;
      }

      @include screen("md", max) {
        position: relative;
        width: 100%;
        order: 5;
        bottom: 0px;
        right: 22px;

      }
    }

    &__button {
      position: relative;
    }
  }

  &-partners {
    margin-top: 157px;
    position: relative;

    @include screen("lg", max) {
      margin-top: 94px;
    }

    @include screen("md", max) {
      margin-top: 103px;
    }


    &__text {
      font-size: 18px;
      line-height: 28px;
      letter-spacing: 0.9px;
      font-weight: 300;
      margin-top: 60px;
      text-align: center;
      width: 100%;

      @include screen("lg", max) {
        margin-top: 45px;
      }

      @include screen("md", max) {
        width: 97%;
        margin-top: 40px;
        position: relative;
        left: 7px;
      }
    }

    &__box {
      display: flex;
      justify-content: space-between;
      background-color: #121212;
      margin-top: 72px;

      @include screen("lg", max) {
        margin-top: 44px;
      }

      @include screen("md", max) {
        display: none;
      }
    }

    &__bg {
      position: absolute;
      width: 100%;
      left: 0;
      top: -150px;
      z-index: -1;

      @include screen("lg", max) {
        top: -100px;
      }

      @include screen ("md", max) {
        display: none;
      }

      img {
        width: 100%;
        height: auto;
      }


    }

    &__slider {
      display: none;

      @include screen("md", max) {
        display: block;
        margin: 55px 30px 0;
      }

      &-pag {

        display: none;

        @include screen("md", max) {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 14px;
          margin-top: 48px;
          width: 100%;

          &-item {
            width: 8px;
            height: 8px;
            background-color: $color-alto;
            border-radius: 50%;
            cursor: pointer;
            margin: 0 14px;

            &_active {
              width: 14px;
              height: 14px;
              background-color: #fff;
            }
          }
        }
      }
    }
  }

  &-info {
    margin-top: 225px;

    @include screen("lg", max) {
      margin-top: 93px;
    }

    @include screen("md", max) {
      margin-top: 56px;
    }

    &__box {
      margin-left: 177px;

      @include screen("lg", max) {
        margin-left: 0;
      }

    }

    &__button {
      margin: 67px auto 0 auto;
      display: table;
      position: relative;
      right: 87px;
      padding: 20px 32px;
      letter-spacing: 1.12px;

      @include screen("lg", max) {
        margin: 171px auto 0;
        right: 0;
      }

      @include screen("md", max) {
        margin: 54px auto 0;
      }
    }

    &__title {
      font-size: 48px;
      font-weight: 700;
      line-height: 1;
      letter-spacing: 3.6px;
      text-transform: uppercase;
      margin-bottom: 88px;

      @include screen("lg", max) {
        margin-bottom: 58px;
        padding-left: 69px;
      }

      @include screen("md", max) {
        margin-bottom: 31px;
        padding-left: 0;
      }
    }

    &__text {
      position: relative;
      font-size: 16px;
      letter-spacing: 1.2px;
      font-weight: 300;
      line-height: 59px;
      padding-left: 125px;
      padding-right: 70px;

      @include screen("lg", max) {
        padding-left: 68px;
        padding-right: 0;
      }

      @include screen("md", max) {
        padding-left: 51px;
        padding-right: 5px;
        line-height: 40px;
      }

      &::before {
        @include pseudo;
        left: 0;
        top: 24px;
        width: 26px;
        height: calc(100% - 48px);
        border-top: 8px solid $color-main;
        border-left: 8px solid $color-main;
        border-bottom: 8px solid $color-main;
        box-sizing: border-box;

        @include screen("md", max) {
          top: 13px;
          height: calc(100% - 26px);
        }
      }
    }
  }
}

.ico-uslugi-item {
  &__number-inner {
    position: absolute;
    left: 0;
    top: 0;
    background-image: linear-gradient(-241deg,#1bb05a,#0081cb);
    background-position: 50% 50%;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    transition: opacity $ease-main;
    opacity: 0;

    @include screen('lg', max) {
      opacity: 1;
    }
  }

  &__number-wrap {
    position: relative;
  }

  &__number-higher {
    transition: opacity $ease-main;
    opacity: 1;

    @include screen('lg', max) {
      opacity: 0;
    }
  }

  &.is-active {
    .ico-uslugi-item__text {
      color: white;
    }

    .ico-uslugi-item__number-higher {
      opacity: 0;
    }

    .ico-uslugi-item__number-inner {
      opacity: 1;
    }
  }
}

.ico-uslugi-item {
  position: relative;
  z-index: 1;
}

.ico-item {
  @for $i from 1 through 5 {
    &-#{$i} {
      order: #{$i + 2}
    }
  }

  @for $i from 1 through 5 {
    &-#{$i+5} {
      order: #{13 - $i}
    }
  }

  @for $i from 11 through 15 {
    &-#{$i} {
      order: #{$i + 2}
    }
  }
}
