extends ../../layouts/default_dark

block head
  - var pageTitle = 'Versta Project Template'

block content
  +header_dark._wide._inner._no-border._full-width
  +b.ico
    section
      +b.ico-project
        .container.container_inner
          +e.wrap
            +e.H1.title Подготовка проектов к <span class="ico-project__title_big">ICO</span>
            +e.P.text Юридическое сопровождение, технологическая  разработка, маркетинговые стратегии.
            +button._big._fullwhite._border-size-2.ico-project__button обсудить проект
          +e.mouse
            a(href=".ico-recomend").js-anchor
              img(src="assets/images/mouse_white.png")
          +e.pad
            +e.pad-text Обсудить проект
            +e.box
              +link-icon("arrow_right").ico-project__icon
              +e.circles
                +e.circle
                +e.circle
                +e.circle
                +e.circle
                +e.circle
              +e.ball
    section
      .container.container_inner
        +b.ico-recomend
          +e.box
            +e.H2.title.ico-title Рекомендации по проведению ICO
            +e.img-wrap
              +e.IMG.img(src="assets/images/ico-recomend.png")
              +e.text-number-1 109
              +e.text-number-2 412
              +e.text
                p 109 из 412
                p проектов нет юр.лица
            +e.footer
              +e.footer__proc 50% ICO
              +e.footer__btn
                +e.footer__btn-text
              +e.footer__summ $ 100 000
    section
      +b.ico-stat
        .container.container_inner
          +e.P.title Только половина проектов ICO удалось собрать более 100 000 долларов США.*
          +e.box
            +e.item.ico-stat__item-1
              +e.item-header.ico-stat__item-1-header
                +e.item-title.ico-stat__item-1-title 46.6%
                +e.item-name.ico-stat__item-1-name Idea
              +e.item-text.ico-stat__item-1-text 46.6% ICO началось с идеи и лишь 0,5% с готовым продуктом. Что говорит о непривлекательности ICO проектов, для привлечения инвестиций.*
            +e.item.ico-stat__item-2
              +e.item-header.ico-stat__item-2-header
                +e.item-title.ico-stat__item-2-title 26.2%
                +e.item-name.ico-stat__item-2-name MVP
            +e.item.ico-stat__item-3
              +e.item-header.ico-stat__item-3-header
                +e.item-title.ico-stat__item-3-title 15.5%
                +e.item-name.ico-stat__item-3-name Alpha
            +e.item.ico-stat__item-4
              +e.item-header.ico-stat__item-4-header
                +e.item-title.ico-stat__item-4-title 11.2%
                +e.item-name.ico-stat__item-4-name Beta
            +e.item.ico-stat__item-5
              +e.item-header.ico-stat__iitem-5-header
                +e.item-title.ico-stat__item-5-title 0.5%
                +e.item-name.ico-stat__item-5-name Code
          +e.info *согласно данным <a href="https://icorating.com" target="_blank">icorating.com</a>
        +e.bg
          img(src="assets/images/ico-stat_bg.png")
    section
      +b.ico-uslugi
        .container.container_inner
          +e.H2.title.ico-title Наши услуги
          +e.box
            +e.box-bg
              img(src="assets/images/ico-uslugi_bg.png")
            +b.ico-uslugi-item
              +e.number_gradient
                +e.SPAN.number-inner 01
              +e.P.text Формулирование<br> идеи.
            +b.ico-uslugi-item
              +e.number_gradient
                +e.SPAN.number-inner 02
              +e.P.text Анализ рынка<br> и конкурентов.
            +b.ico-uslugi-item
              +e.number_gradient
                +e.SPAN.number-inner 03
              +e.P.text Обоснование внедрения технологии блокчейн для компании.
            +b.ico-uslugi-item
              +e.number_gradient
                +e.SPAN.number-inner 04
              +e.P.text Формирование профессиональной команды<br> исполнителей.
            +b.ico-uslugi-item
              +e.number_gradient
                +e.SPAN.number-inner 05
              +e.P.text Написание<br> смарт-контрактов.
            +b.ico-uslugi-item
              +e.number 10
              +e.P.text._grey Создание защиты<br> для бесперебойной<br> работы системы.
            +b.ico-uslugi-item
              +e.number 09
              +e.P.text._grey Разработка<br> White Paper.
            +b.ico-uslugi-item
              +e.number_gradient
                +e.SPAN.number-inner 08
              +e.P.text Составление структуры ICO.
            +b.ico-uslugi-item
              +e.number_gradient
                +e.SPAN.number-inner 07
              +e.P.text Разработка<br> дорожной карты.
            +b.ico-uslugi-item
              +e.number_gradient
                +e.SPAN.number-inner 06
              +e.P.text <nobr>Разработка рекламной<br> компании для привлечения</nobr><br> инвесторов.
            +b.ico-uslugi-item
              +e.number 11
              +e.P.text._grey Разработка сайта<br> с личным кабинетом<br> для инвестора и<br> <nobr>мобильных приложений.</nobr>
            +b.ico-uslugi-item
              +e.number 12
              +e.P.text._grey Регистрация предприятия<br> в наиболее подходящей для этого юрисдикции.
            +b.ico-uslugi-item
              +e.number 13
              +e.P.text._grey Выпуск токенов.
            +b.ico-uslugi-item
              +e.number 14
              +e.P.text._grey Выпуск токенов.
            +b.ico-uslugi-item
              +e.number 15
              +e.P.text._grey Старт ICO.
          +e.box-pad
            +slider(false, false).ico-uslugi-slider
              +slide
                +b.ico-uslugi-item
                  +e.item
                    +e.number_gradient
                      +e.SPAN.number-inner 01
                    +e.P.text Формулирование идеи.
              +slide
                +b.ico-uslugi-item
                  +e.item
                  +e.number_gradient
                    +e.SPAN.number-inner 02
                  +e.P.text Анализ рынка и конкурентов.
              +slide
                +b.ico-uslugi-item
                  +e.item
                  +e.number_gradient
                    +e.SPAN.number-inner 03
                  +e.P.text Обоснование внедрения технологии блокчейн для компании.
              +slide
                +b.ico-uslugi-item
                  +e.item
                  +e.number_gradient
                    +e.SPAN.number-inner 04
                  +e.P.text Формирование профессиональной команды исполнителей.
              +slide
                +b.ico-uslugi-item
                  +e.item
                  +e.number_gradient
                    +e.SPAN.number-inner 05
                  +e.P.text Написание смарт-контрактов.
              +slide
                +b.ico-uslugi-item
                  +e.item
                  +e.number_gradient
                    +e.SPAN.number-inner 06
                  +e.P.text Разработка рекламной компании для привлечения инвесторов.
              +slide
                +b.ico-uslugi-item
                  +e.item
                  +e.number_gradient
                    +e.SPAN.number-inner 07
                  +e.P.text Разработка дорожной карты.
              +slide
                +b.ico-uslugi-item
                  +e.item
                  +e.number_gradient
                    +e.SPAN.number-inner 08
                  +e.P.text Составление структуры ICO.
              +slide
                +b.ico-uslugi-item
                  +e.item
                  +e.number 09
                  +e.P.text._grey Разработка White Paper.
              +slide
                +b.ico-uslugi-item
                  +e.item
                  +e.number 10
                  +e.P.text._grey Создание защиты для бесперебойной работы системы.
              +slide
                +b.ico-uslugi-item
                  +e.item
                  +e.number 11
                  +e.P.text._grey Разработка сайта с личным кабинетом для инвестора и мобильных приложений.
              +slide
                +b.ico-uslugi-item
                  +e.item
                  +e.number 12
                  +e.P.text._grey Регистрация предприятия в наиболее подходящей для этого юрисдикции.
              +slide
                +b.ico-uslugi-item
                  +e.item
                  +e.number 13
                  +e.P.text._grey Выпуск токенов.
              +slide
                +b.ico-uslugi-item
                  +e.item
                  +e.number 14
                  +e.P.text._grey Выпуск токенов.
              +slide
                +b.ico-uslugi-item
                  +e.item
                  +e.number 15
                  +e.P.text._grey Старт ICO.
            +link-icon("arrow_left").ico__button.__button._left
            +link-icon("arrow_right").ico__button.__button._right
        +e.bg
    section
      +b.ico-works
        .container.container_inner
          +e.H2.title.ico-title Проекты
          +e.box
            +e.stat
              +e.stat-title За 2018 год
              +e.stat-text нами привлечено более 3 миллионов долларов, это 0,5% от рынка РФ
            +e.slider-box
              +e.project
                +e.project-title Проекты Velvet
                +e.UL.project-list
                  +e.LI.project-item Брэндинг
                  +e.LI.project-item Мобильное приложение
                  +e.LI.project-item Веб-сайт
                  +e.LI.project-item Маркетинг
              +slider(false, false).ico-works__slider
                +slide
                  img(src="assets/images/ico-works-slide1.png")
                +slide
                  img(src="assets/images/ico-works-slide2.png")
                +slide
                  img(src="assets/images/ico-works-slide3.png")
              +e.slider-nav
                +link-icon("arrow_left").ico__button.__button._left
                +link-icon("arrow_right").ico__button.__button._right
              +e.slider-num
              +e.copyright  velvet.money
        +e.bg-1
          img(src="assets/images/ico-works-bg1.png")
        +e.bg-2
          img(src="assets/images/ico-works-bg2.png")
        +e.bg-3
    section
      +b.ico-partners
        .container.container_inner
          +e.H2.title.ico-title Партнеры
          +e.P.text Мы работаем с командами профессионалов из различных областей.
          +e.box
            +partners("assets/images/partner-1.png", "Платежная система")
            +partners("assets/images/partner-2.png", "Концертный оператор")
            +partners("assets/images/partner-3.png", "Университет ИТМО")
          +slider(false, false).ico-partners__slider
            +slide
              +partners("assets/images/partner-1.png", "Платежная система")
            +slide
              +partners("assets/images/partner-2.png", "Концертный оператор")
            +slide
              +partners("assets/images/partner-3.png", "Университет ИТМО")
          +e.slider-pag
        +e.bg
          img(src="assets/images/ico-partners-bg.png")
    section
      +b.ico-info
        .container.container_inner
          +e.box
            +e.H2.title ico
            +e.P.text Подготовка проекта к ICO - это не просто разработка сайта, маркетингового плана или логотипа. Это полномасштабный процесс построения коммуникаций и связи аналитической, технической и юридической составляющих в единую экосистему. Мы с радостью пообщаемся с вами о подготовке вашего проекта к проведению ICO, однако, будьте готовы ответить на наши вопросы(ссылка на вопросы) максимально подробно и объективно.
            +button()._blue._big.ico-info__button связаться c нами
  +footer_dark










