.card-journal {
  display: block;
  //width: 357px;
  position: relative;
  padding-right: 29px;

  &__img {
    position: relative;
    //height: 243px;

    img {
      //@include fill-img;
      width: 100%;
    }
  }

  &__text {
    margin-top: 17px;

    @include text-foto;
  }

  &__date {
    position: absolute;
    color: $color-date;
    transform: rotate(90deg);
    top: 30px;
    right: -37px;

    @include text-date;

    //font-size: 24px;
  }

  &__title {
    color: white;
    font-size: 25px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: .63px;
  }

  &_popular {
    padding: 40px 50px;
    background: $color-main;
    margin-right: 27px;
  }
}

@include screen('lg', max) {

  .card-journal {
    padding-right: 25px;

    &_popular {
      margin-right: 0;
      padding: 33px 45px;
    }

    &__text {
      font-size: 19px;
      margin-top: 16px;
    }

    &__title {
      font-size: 24px;
    }
  }

  .grid-list {

    &__item {

      &:nth-child(2) {
        padding-left: 15px;
      }
    }
  }
}
