.card-journal {
  display: block;
  //width: 357px;
  position: relative;
  padding-right: 30px;

  $b: &;

  &__img {
    position: relative;
    overflow: hidden;
    display: block;

    @include performance;

    img {
      width: 100%;
      transition: transform $ease-main;

      @include performance;

      #{$b}:hover & {
        transform: scale(1.05);
      }
    }
  }

  &__text {
    margin-top: 17px;

    @include text-foto;

    line-height: 35px;
    transition: color $ease-main;
    width: 100%;
    white-space: normal;

    #{$b}:hover & {
      color: $color-main;
    }
  }

  &__date {
    position: absolute;
    color: $color-date;
    transform-origin: left top;
    transform: rotate(90deg);
    top: 0;
    display: block;
    left: 100%;
    margin-left: 3px;
    white-space: nowrap;
    font-size: 20px;
    font-weight: 900;
    line-height: 1;
    letter-spacing: 2.2px;

    @include screen('lg', max) {
      font-size: 19px;
      letter-spacing: 1.5px;
    }
}


  

  &__title {
    color: white;
    font-size: 25px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: .63px;
  }

  &_popular {
    padding: 33px 50px 49px;
    background: $color-main;
    margin-right: 27px;
  }
}

@include screen('lg', max) {

  .card-journal {
    padding-right: 25px;

    &_popular {
      margin-right: 0;
      padding: 33px 45px 46px;
    }

    &__text {
          font-size: 19px;
    line-height: 30px;
    margin-top: 15px;
    }

    &__title {
      font-size: 24px;
    }
  }

  .grid-list {

    &__item {

      &:nth-child(2) {
        padding-left: 15px;
      }
    }
  }
}

@include screen('md', max) {
  .card-journal {
    padding-right: 31px;

    &__text {
      font-size: 24px;
      line-height: 33px;
      margin-top: 18px;
    }

    &_popular {
      @include screen('md', max) {
        margin-right: 28px;
        padding: 31px 48px 47px 49px;
      }
    }

    &__title {
      font-size: 27px;
      line-height: 32px;
      margin-right: -15px;
    }
  }
}
