mixin worker-card(img, position, name, desc)
  +b.worker-card&attributes(attributes)
    +e.img
      img(src= img)
      +e.links
        +e.links-wrap
          +link-icon('instagram')._nounder
          +link-icon('facebook')._nounder
          +link-icon('telegram')._nounder
    +e.position= position
    +e.name= name
    +e.desc= desc
    block
