.worker-card {
  display: block;
  width: 354px;
  margin: 50px 15px 0;
  max-width: 22%;

  @include screen('lg-r', max) {
      width: 45%;
      max-width: 45%;
  }

  @include screen('md', max) {
    width: 353px;
    max-width: 100%;
    margin: 36px 15px 0;
  }

  &__position {
    color: $color-main;
    font-family: 'Intro Black Caps';
    text-transform: uppercase;
    font-size: 14px;
    //font-weight: 700;
    letter-spacing: 1.05px;
    margin-top: 30px;

    @include screen('md', max) {
      margin-top: 31px;
    }
  }

  &__name {
    font-size: 21px;
    line-height: 33px;
    margin-top: 7px;
    letter-spacing: .6px;

    @include screen('lg-r', max) {
      margin-top: 4px;
    }

    @include screen('md', max) {
      margin-top: 6px;
      letter-spacing: .45px;
    }

  }

  &__desc {
    color: #bababa;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: 1.35px;
    margin-top: 21px;

    @include screen('lg-r', max) {
      margin-top: 15px;
    }

    @include screen('md', max) {
      margin-top: 13px;
    }
  }

  &__img {
    position: relative;
    font-size: 0;
    padding-bottom: 115.5%;
    overflow: hidden;

    @include screen('lg-r', max) {
      padding-bottom: 117.5%;
    }

    @include screen('md', max) {
      padding-bottom: 115.5%;
    }

    >img {
      @include fill-img;
    }
  }

  &__links {
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(0, 129, 203, .8);
    display: flex;
    justify-content: space-around;
    align-items: center;
    opacity: 0;
    top: 0;
    transition: all .5s ease;

    svg {
      fill: white;
      width: 20px;
      height: 20px;
    }

    &:hover {
      opacity: 1;
    }

    &-wrap {
      display: flex;
      justify-content: space-between;
      width: 64%;
      position: relative;
      top: 5px;
    }
  }
}




