@import '../../node_modules/swiper/dist/css/swiper.css';

.slider {
  //border: 1px solid $color-border;

  $b: &;

  &_portfolio {

    .swiper-slide-active {

      #{$b}__slide {

        .slide__center {
          transform: translate3d(0, 0, 0);
        }
      }
    }

    .slider {
      position: relative;
      height: 100%;

      &__slide {
        //padding: 100px;
        //text-align: center;
        //width: 100vw;
        height: 100%;
        position: relative;
        background-color: white;

        .slide {

          &__bg {
            position: absolute;
            right: 0;
            top: 0;
            bottom: 0;
            left: 0;
            display: flex;
            justify-content: flex-end;
          }

          &__right {
            width: 26.3%;
            position: relative;

            &__img {
              height: 100%;
              min-width: 100%;
            }
          }

          &__left {
            flex: 1;

            &__img {
              height: 100%;
              float: right;
            }
          }

          &__center {
            transform: translate3d(50px, 0, 0);
            transition: transform .6s ease;
            height: 100%;
            width: auto;

            &__cont {
              right: 100%;
              bottom: 0;
              top: 178px;
              position: absolute;
              text-align: center;
              transform: translateX(50%);

              &_offset {
                right: 100%;
                bottom: 243px;
                top: 244px;
                display: block;
                transform: translateX(50%);
              }

              &_offset2 {
                top: 280px;
                bottom: 280px;
                right: 40%;
                transform: translateX(0);
              }
            }
          }

          &__plate {
            position: absolute;
            width: 26.3%;
            bottom: 86px;
            right: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            box-sizing: border-box;
            padding: 0 40px;

            .button {

              &_huge {
                padding: 10px 24px;
                font-size: 22px;
                letter-spacing: .35px;
                line-height: 1.05;
              }
            }
          }

          &__title {
            text-align: center;
            color: white;
            margin-bottom: 17px;

            @include text-tel;
          }
        }
      }
    }
  }

  &__dots {
    position: absolute;
    bottom: 10px;
    left: 20px;
    right: 20px;
    text-align: center;
    z-index: 2;
    pointer-events: none;
  }

  &__dot {
    margin: 5px;
    width: 10px;
    height: 10px;
    border: 1px solid $color-border;
    border-radius: 100px;
    display: inline-block;
    position: relative;
    transition: border-color $ease-main, background-color $ease-main;
    pointer-events: all;
    cursor: pointer;

    &.active {
      background-color: $color-main;
      border-color: $color-main;
    }
  }

  &__button {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 40px;
    height: 40px;
    border: 1px solid $color-border;
    transition: opacity $ease-main;
    z-index: 2;
    cursor: pointer;
    background-color: white;

    &::before {
      content: '';
      width: 10px;
      height: 10px;
      border-style: solid;
      border-color: $color-basic;
      border-width: 0;
      position: absolute;
      transform: rotate(45deg);
      transform-origin: center;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
    }

    &:hover {
      opacity: .5;
    }

    &_next {
      right: 20px;

      &::before {
        border-top-width: 2px;
        border-right-width: 2px;
        right: 3px;
      }
    }

    &_prev {
      left: 20px;

      &::before {
        border-bottom-width: 2px;
        border-left-width: 2px;
        left: 3px;
      }
    }
  }

  &-pag {
    position: absolute;
    overflow: hidden;
    height: 96px;
    z-index: 6;
    top: 59px;
    right: 0;
    width: 26.3%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;

    @include screen('xl-r', max) {
      top: 98px;
    }

    @include screen('lg', max) {
      display: none;
    }

    &__item {
      color: white;
      position: relative;
      width: 65px;
      opacity: .7;
      letter-spacing: 1px;
      transition: all $ease-main;
      text-align: center;

      span {
        font-size: 16px;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 1.17px;
        line-height: 1;
        display: block;
        transition: all $ease-main;
        transform-origin: center top;
      }

      &:hover {
        opacity: 1;
      }

      &:hover {
        cursor: pointer;
      }

      &::before {
        @include pseudo;

        height: 1px;
        width: 1px;
        background: white;
        bottom: 0;
        left: 50%;
        transition: all $ease-main;
        transform-origin: left bottom;
        transform: scale3d(1, 69, 1);
      }

      &.active {
        opacity: 1;
        pointer-events: none;

        span {
          transform: scale(2.2) translateY(-1px);
        }

        &::before {
          transform: scale3d(1, 54, 1);
        }
      }
    }
  }

  &-wrapper {
    position: relative;
  }

  &_journal {

    .slider {
      position: relative;
      border: 1px solid $color-border;

      &__slide {
        padding: 50px;
        //text-align: center;
        //width: 350px;
        width: 357px;
        position: relative;
      }
    }
  }

  &_padportfolio {
    text-align: left;
    margin-top: 105px;

    @include screen('sm', max) {
      margin-top: 80px;
    }

    .slider__slide {
      width: 424px;
      height: 563px;
      position: relative;
      opacity: .9;

      @include screen('sm', max) {
        width: 100%;
        height: 100%;
      }

      img {
        @include fill-img(relative);

        @include screen('sm', max) {
          min-width: 77.5%;
        }
      }
    }

    .slide {

      &__title {
        margin-top: 45px;
        visibility: hidden;

        @include heading-5;

        @include screen('sm', max) {
          font-size: 27px;
        }
      }

      &__link {
        visibility: hidden;

        @include text-tel;
      }
    }

    .swiper-slide-active {

      .slider__slide {
        opacity: 1;
      }

      .slide {

        &__title {
          visibility: visible;
        }

        &__link {
          visibility: visible;
        }
      }
    }
  }

  &_advantage {

    .slider__slide {
      width: 520px;
      height: 520px;
      background: $color-main;
      border-radius: 10px;
      opacity: .6;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }

    .swiper-slide-active {

      .slider__slide {
        opacity: 1;
      }
    }
  }

  &_padjournal {

    .slider__slide {
      //width: 520px;
      //height: 520px;
      //background: $color-main;
      border-radius: 10px;
      opacity: .6;
      //display: flex;
      //justify-content: center;
      //align-items: center;
      //flex-direction: column;
      //position: relative;

      //img {
      //  @include fill-img;
      //
      //  border-radius: 10px;
      //}
    }

    .swiper-slide-active {

      .slider__slide {
        opacity: 1;
      }
    }
  }

  .swiper-slide {
    width: auto;
  }

  &_case {

    .swiper-slide {
      width: 100%;
    }
  }

  .slide__img {
    position: relative;
    //height: 243px;
  }

  .slide__text {
    margin-top: 27px;

    @include text-foto;
  }

  .slide__date {
    position: absolute;
    color: $color-date;
    transform: rotate(90deg);
    top: 79px;
    right: -15px;

    @include text-date;
  }
}

