@import '../../node_modules/swiper/dist/css/swiper.css';

.slider {
  //border: 1px solid $color-border;

  &_portfolio {

    .slider {
      position: relative;
      height: 100%;

      &__slide {
        //padding: 100px;
        //text-align: center;
        //width: 100vw;
        height: 100%;
        position: relative;

        .slide {

          &__bg {
            position: absolute;
            right: 0;
            top: 0;
            width: 100%;
            display: flex;
            justify-content: flex-end;
          }

          &__right {
            float: right;
            //position: absolute;
            //right: 0;
            //top: 0;
            //height: 100%;
          }

          &__left {
            float: right;
          }

          &__center {
            position: absolute;
            top: 201px;
            bottom: 0;
            right: 200px;
            height: 100vh;

            &_offset {
              height: 50vh;
              right: 370px;
            }

            &_offset2 {
              height: unset;
              right: 185px;
            }
          }

          &__plate {
            position: absolute;
            width: 505px;
            bottom: 86px;
            right: 0;
            display: flex;
            flex-direction: column;
            align-items: center;

            .button {

              &_huge {
                padding: 10px 24px;
                font-size: 22px;
                letter-spacing: .35px;
                line-height: 1.05;
              }
            }
          }

          &__title {
            text-align: center;
            color: white;
            margin-bottom: 17px;

            @include text-tel;
          }
        }
      }
    }
  }

  &__dots {
    position: absolute;
    bottom: 10px;
    left: 20px;
    right: 20px;
    text-align: center;
    z-index: 2;
    pointer-events: none;
  }

  &__dot {
    margin: 5px;
    width: 10px;
    height: 10px;
    border: 1px solid $color-border;
    border-radius: 100px;
    display: inline-block;
    position: relative;
    transition: border-color $ease-main, background-color $ease-main;
    pointer-events: all;
    cursor: pointer;

    &.active {
      background-color: $color-main;
      border-color: $color-main;
    }
  }

  &__button {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 40px;
    height: 40px;
    border: 1px solid $color-border;
    transition: opacity $ease-main;
    z-index: 2;
    cursor: pointer;
    background-color: white;

    &::before {
      content: '';
      width: 10px;
      height: 10px;
      border-style: solid;
      border-color: $color-basic;
      border-width: 0;
      position: absolute;
      transform: rotate(45deg);
      transform-origin: center;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
    }

    &:hover {
      opacity: .5;
    }

    &_next {
      right: 20px;

      &::before {
        border-top-width: 2px;
        border-right-width: 2px;
        right: 3px;
      }
    }

    &_prev {
      left: 20px;

      &::before {
        border-bottom-width: 2px;
        border-left-width: 2px;
        left: 3px;
      }
    }
  }

  &-pag {
    position: absolute;
    z-index: 6;
    top: 53px;
    right: 122px;
    display: flex;
    align-items: flex-start;

    @include screen('xl-r', max) {
      top: 98px;
    }

    @include screen('lg', max) {
      display: none;
    }

    &__item {
      @include text-pag;

      color: white;
      position: relative;
      // margin: 0 19px;
      opacity: .7;
      letter-spacing: 1px;

      &:not(:last-child) {
        margin-right: 37px;
      }

      // &:first-child {
      //   margin-right: 51px;
      // }

      // &:nth-child(3) {
      //   margin: 0 29px;
      // }

      // &:last-child {
      //   margin-left: 40px;
      // }


      &:hover {
        cursor: pointer;
      }

      &::before {
        @include pseudo;

        height: 69px;
        width: 1px;
        background: white;
        bottom: -75px;
        left: 11px;
      }

      &.active {
        font-size: 36px;
        margin-top: -9px;
        opacity: 1;

        &::before {
          bottom: -52px;
          left: 23px;
          height: 54px;
        }
      }
    }
  }

  &-wrapper {
    position: relative;
  }

  &_journal {

    .slider {
      position: relative;
      border: 1px solid $color-border;

      &__slide {
        padding: 50px;
        //text-align: center;
        //width: 350px;
        width: 357px;
        position: relative;
      }
    }
  }

  &_padportfolio {
    text-align: left;
    margin-top: 100px;

    .slider__slide {
      width: 424px;
      height: 563px;
      position: relative;
      opacity: .9;

      img {
        @include fill-img;
      }
    }

    .slide {

      &__title {
        margin-top: 45px;
        visibility: hidden;

        @include heading-5;
      }

      &__link {
        visibility: hidden;

        @include text-tel;
      }
    }

    .swiper-slide-active {

      .slider__slide {
        opacity: 1;
      }

      .slide {

        &__title {
          visibility: visible;
        }

        &__link {
          visibility: visible;
        }
      }
    }
  }

  &_advantage {

    .slider__slide {
      width: 520px;
      height: 520px;
      background: $color-main;
      border-radius: 10px;
      opacity: .6;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }

    .swiper-slide-active {

      .slider__slide {
        opacity: 1;
      }
    }
  }

  &_padjournal {

    .slider__slide {
      //width: 520px;
      //height: 520px;
      //background: $color-main;
      border-radius: 10px;
      opacity: .6;
      //display: flex;
      //justify-content: center;
      //align-items: center;
      //flex-direction: column;
      //position: relative;

      //img {
      //  @include fill-img;
      //
      //  border-radius: 10px;
      //}
    }

    .swiper-slide-active {

      .slider__slide {
        opacity: 1;
      }
    }
  }

  .swiper-slide {
    width: auto;
  }

  &_case {

    .swiper-slide {
      width: 100%;
    }
  }

  .slide__img {
    position: relative;
    //height: 243px;

    img {
      //@include fill-img;
    }
  }

  .slide__text {
    margin-top: 27px;

    @include text-foto;
  }

  .slide__date {
    position: absolute;
    color: $color-date;
    transform: rotate(90deg);
    top: 79px;
    right: -15px;

    @include text-date;
  }
}

