.vacancies {
  display: block;

  &__title {
    margin-top: 70px;
    margin-bottom: 45px;
    color: $color-main;
    text-align: center;

    @include section-title;

    @include screen('md', max) {
      font-size: 46px;
    }

    @include screen('sm', max) {
      margin-top: 60px;
      margin-bottom: 35px;
      font-size: 42px;
    }

    h1 {
      color: inherit;
      font-size: inherit;
      margin: 0;
      padding: 0;
      line-height: inherit;
    }
  }

  &__subtitle {

    @include inner-title;
  }

  &__selector {
    margin-top: 46px;
  }

  &__list {
    margin-top: 22px;
    border-bottom: 1px solid $color-border;
  }

  &__contact {
    padding: 42px;
    border: 1px solid $color-border;
    border-top: none;

    @include screen('lg-r', max) {
      padding: 39px 42px 32px;
    }
  }

  .contact {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    box-sizing: border-box;

    &__right {
      margin-top: -7px;
      margin-left: 47px;
    }

    &__title {
      @include heading-6;
    }

    &__link {

      .link__text {
        @include heading-6;
      }
    }

    &__text {
      font-size: 18px;
      font-weight: 300;
      line-height: 1.6;
      letter-spacing: .45px;
    }
  }
}

.vacancy {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__title {
    color: $color-main;
    display: block;
    position: relative;

    @include text-city;

    //line-height: 40px;
    letter-spacing: .6px;

    h2, h3, h4, h5, h6, h7 {
      display: inline;
    }

    &_hot {

      &::after {
        content: "";
        width: 11px;
        height: 11px;
        border-radius: 50%;
        background: #ff5252;
        display: inline-block;
        vertical-align: middle;
        margin-bottom: 2px;
        margin-left: 19px;

        @include screen('lg-r', max) {
          margin-left: 14px;
        }
      }
    }
  }

  &__description {
    margin-top: 9px;

    @include text-16-300;
  }

  &__left {
    padding-right: 30px;
  }
}

.requirements {

  &__title + &__block {
    margin-top: 24px;

    @include screen('lg-r', max) {
      margin-top: 17px;
    }

    @include screen('md', max) {
      margin-top: 33px;
    }
  }

  &__block {
    margin-top: 36px;

    @include screen('lg-r', max) {
      margin-top: 42px;
    }

    @include screen('md', max) {
      margin-top: 40px;
    }

    ul {
      margin-top: 19px;

      @include screen('lg-r', max) {
        margin-top: 10px;
      }
    }

    li {
      @include text-16-300;

      @include screen('lg-r', max) {
        line-height: 26px;
      }

      &:first-child {
        margin-top: 0;
      }
    }
  }

  &__title {
    @include heading-6;
  }

  &__subtitle {
    color: $color-main;

    @include text-pag;

    letter-spacing: .4px;
    text-transform: initial;
  }

  &__buttons {
    margin-top: 40px;
    display: flex;
    justify-content: center;

    @include screen('lg-r', max) {
      margin-top: 55px;
    }

    @include screen('md', max) {
      flex-wrap: wrap;
    }

    .button:not(:last-child) {
      margin-right: 30px;

      @include screen('md', max) {
        margin-right: 15px;
      }

      @include screen('md', max) {
        margin-right: 7px;
      }
    }

    .button {

      padding: 15px 30px;
      height: auto;
      font-size: 13.5px;
      text-align: center;

      @include screen('md', max) {
        padding-left: 20px;
        padding-right: 20px;
        margin-left: 7px;
        margin-right: 7px;
        margin-bottom: 15px;
      }
    }
  }

  &__description {
    display: none;
  }
}

@include screen('lg-r', max) {

  .vacancies {

    &__subtitle {

      @include text-address;

      letter-spacing: .22px;
      line-height: 36px;
    }

    &__selector {
      margin-top: 34px;
    }
  }

  .vacancy {
    flex-direction: column;
    align-items: flex-start;

    &__button {
      margin-top: 37px;
    }
  }
}

@include screen('lg-r', max) {

  .vacancy {

    &__description {
      margin-top: 9px;
    }

    &__left {
      padding-right: 0;
    }
  }
}

@include screen('md', max) {

  .vacancies {

    &__subtitle {
      font-size: 20px;
      //letter-spacing: .22px;
      //line-height: 36px;
    }

    &__list {

      .accordion {

        &__header {

          &::after {
            content: '';
            background: url('../images/arrow_down.svg') no-repeat;
            width: 18px;
            height: 19px;
            transform: translateY(-50%);
            border: none;
            fill: $color-gray;
          }
        }

        &.is-active {

          .accordion__header {

            &::after {
              background: url('../images/close.svg') no-repeat;
            }
          }
        }
      }
    }

    &__selector {
      margin-top: 15px;
    }

    .contact {
      display: none;
    }
  }

  .vacancy {

    &__description {
      display: none;
    }

    &__button {
      display: none;
    }
  }

  .requirements {

    &__description {
      display: block;

      @include text-16-300;
    }

    &__title {
      margin-top: 45px;

      @include screen('md', max) {
        margin-top: 32px;
      }
    }
  }
}
