extends ../../layouts/default

block head
  - var pageTitle = 'Versta Project Template'

block content
  +header._wide._inner
  +b.SECTION.vacancies
    .container.container_inner
      +e.title Мы быстро растем, у нас все время появляются новые задачии направления — и значит, <nobr>нам часто требуются новые люди.</nobr>
      +switcher('Все', 'горячие').vacancies__selector.js-vacancy-hot
      +accordions.vacancies__list
        +accordion
          +accordion-header._noarrow.js-accordion-button
            +b.vacancy
              +e.left
                +e.title Team Lead-разработчик Bitrix24
                +e.description Мы ищем разработчика Bitrix24 для крупных проектов. Цель проектов – оптимизация бизнес-процессов и повышение
                  |  эффективности. Поэтому нам нужен ответственный и въедливый программист, знающий толк в своем деле.
              +e.button
                +button подробнее
          +accordion-body
            +b.requirements
              +e.description Мы ищем разработчика Bitrix24 для крупных проектов. Цель проектов – оптимизация бизнес-процессов и повышение
                |  эффективности. Поэтому нам нужен ответственный и въедливый программист, знающий толк в своем деле.
              +e.title Требования:
              +e.block
                +e.subtitle Обязательные:
                +ul-list
                  li Уверенное знание PHP, MySQL, APl «1C-Битрикс», HTML/CSS, Javascript, JQuery, Ajax, ООП(MVC);
                  li Знание платформы CMS 1С-Bitrix (умение разрабатывать свои компоненты/модули);
                  li Знание Bitrix API, CommerceML, опыт интеграции сайтов на Bitrix с внешними системами;
                  li Опыт написания собственных компонентов;
                  li Опыт разработки и внедрения интернет-магазинов на Bitrix;
                  li Уверенная работа в GIT;
                  li Умение работы с «чужим» кодом;
                  li Умение аргументированно отстаивать свою точку зрения;
                  li Умение предлагать рациональные решения поставленных задач.
              +e.block
                +e.subtitle Приветствуется:
                +ul-list
                  li Наличие сертификатов 1С-Битрикс;
                  li Опыт участия в высоконагруженных проектах;
                  li Опыт работы с веб-сервисами (SOAP+WSDL, REST);
                  li Опыт оптимизации SQL-запросов;
                  li Опыт работы в среде Linux.
              +e.block
                +e.subtitle Условия:
                +ul-list
                  li Работа в топовом digital агентстве;
                  li Профессиональная команда;
                  li Интересные и сложные проекты, возможность внедрять новые технологии;
                  li График работы: 10:00 - 19:00 , Сб, Вс - выходные;
                  li Официальное трудоустройство, полностью белая зарплата, оплачиваемый отпуск, больничный лист;
                  li Офис – 7 минут от метро.
                  li Оклад по результатам собеседования.
              +e.buttons
                +button._blue откликнуться на hh.ru
                +button._red hh.ru
        +accordion
          +accordion-header._noarrow.js-accordion-button
            +b.vacancy
              +e.left
                +e.title._hot Web-дизайнер
                +e.description Ищем в свои ряды эксперта, который понимает что такое качественный дизайн!
              +e.button
                +button подробнее
          +accordion-body
            +b.requirements
              +e.title Требования:
              +e.block
                +e.subtitle Обязательные:
                +ul-list
                  li Уверенное знание PHP, MySQL, APl «1C-Битрикс», HTML/CSS, Javascript, JQuery, Ajax, ООП(MVC);
                  li Знание платформы CMS 1С-Bitrix (умение разрабатывать свои компоненты/модули);
                  li Знание Bitrix API, CommerceML, опыт интеграции сайтов на Bitrix с внешними системами;
                  li Опыт написания собственных компонентов;
                  li Опыт разработки и внедрения интернет-магазинов на Bitrix;
                  li Уверенная работа в GIT;
                  li Умение работы с «чужим» кодом;
                  li Умение аргументированно отстаивать свою точку зрения;
                  li Умение предлагать рациональные решения поставленных задач.
              +e.block
                +e.subtitle Приветствуется:
                +ul-list
                  li Наличие сертификатов 1С-Битрикс;
                  li Опыт участия в высоконагруженных проектах;
                  li Опыт работы с веб-сервисами (SOAP+WSDL, REST);
                  li Опыт оптимизации SQL-запросов;
                  li Опыт работы в среде Linux.
              +e.block
                +e.subtitle Условия:
                +ul-list
                  li Работа в топовом digital агентстве;
                  li Профессиональная команда;
                  li Интересные и сложные проекты, возможность внедрять новые технологии;
                  li График работы: 10:00 - 19:00 , Сб, Вс - выходные;
                  li Официальное трудоустройство, полностью белая зарплата, оплачиваемый отпуск, больничный лист;
                  li Офис – 7 минут от метро.
                  li Оклад по результатам собеседования.
              +e.buttons
                +button._blue откликнуться на hh.ru
                +button._red hh.ru
        +accordion
          +accordion-header._noarrow.js-accordion-button
            +b.vacancy
              +e.left
                +e.title Руководитель digital-проектов
                +e.description Мы ищем разработчика Bitrix24 для крупных проектов. Цель проектов – оптимизация бизнес-процессов и повышение
                  | эффективности. Поэтому нам нужен ответственный и въедливый программист, знающий толк в своем деле.
              +e.button
                +button подробнее
          +accordion-body
            +b.requirements
              +e.title Требования:
              +e.block
                +e.subtitle Обязательные:
                +ul-list
                  li Уверенное знание PHP, MySQL, APl «1C-Битрикс», HTML/CSS, Javascript, JQuery, Ajax, ООП(MVC);
                  li Знание платформы CMS 1С-Bitrix (умение разрабатывать свои компоненты/модули);
                  li Знание Bitrix API, CommerceML, опыт интеграции сайтов на Bitrix с внешними системами;
                  li Опыт написания собственных компонентов;
                  li Опыт разработки и внедрения интернет-магазинов на Bitrix;
                  li Уверенная работа в GIT;
                  li Умение работы с «чужим» кодом;
                  li Умение аргументированно отстаивать свою точку зрения;
                  li Умение предлагать рациональные решения поставленных задач.
              +e.block
                +e.subtitle Приветствуется:
                +ul-list
                  li Наличие сертификатов 1С-Битрикс;
                  li Опыт участия в высоконагруженных проектах;
                  li Опыт работы с веб-сервисами (SOAP+WSDL, REST);
                  li Опыт оптимизации SQL-запросов;
                  li Опыт работы в среде Linux.
              +e.block
                +e.subtitl  e Условия:
                +ul-list
                  li Работа в топовом digital агентстве;
                  li Профессиональная команда;
                  li Интересные и сложные проекты, возможность внедрять новые технологии;
                  li График работы: 10:00 - 19:00 , Сб, Вс - выходные;
                  li Официальное трудоустройство, полностью белая зарплата, оплачиваемый отпуск, больничный лист;
                  li Офис – 7 минут от метро.
                  li Оклад по результатам собеседования.
              +e.buttons
                +button._blue откликнуться на hh.ru
                +button._red hh.ru
        +accordion
          +accordion-header._noarrow.js-accordion-button
            +b.vacancy
              +e.left
                +e.title PHP-разработчик
                +e.description Мы ищем разработчика Bitrix24 для крупных проектов. Цель проектов – оптимизация бизнес-процессов и повышение
                  | эффективности. Поэтому нам нужен ответственный и въедливый программист, знающий толк в своем деле.
              +e.button
                +button подробнее
          +accordion-body
            +b.requirements
              +e.title Требования:
              +e.block
                +e.subtitle Обязательные:
                +ul-list
                  li Уверенное знание PHP, MySQL, APl «1C-Битрикс», HTML/CSS, Javascript, JQuery, Ajax, ООП(MVC);
                  li Знание платформы CMS 1С-Bitrix (умение разрабатывать свои компоненты/модули);
                  li Знание Bitrix API, CommerceML, опыт интеграции сайтов на Bitrix с внешними системами;
                  li Опыт написания собственных компонентов;
                  li Опыт разработки и внедрения интернет-магазинов на Bitrix;
                  li Уверенная работа в GIT;
                  li Умение работы с «чужим» кодом;
                  li Умение аргументированно отстаивать свою точку зрения;
                  li Умение предлагать рациональные решения поставленных задач.
              +e.block
                +e.subtitle Приветствуется:
                +ul-list
                  li Наличие сертификатов 1С-Битрикс;
                  li Опыт участия в высоконагруженных проектах;
                  li Опыт работы с веб-сервисами (SOAP+WSDL, REST);
                  li Опыт оптимизации SQL-запросов;
                  li Опыт работы в среде Linux.
              +e.block
                +e.subtitle Условия:
                +ul-list
                  li Работа в топовом digital агентстве;
                  li Профессиональная команда;
                  li Интересные и сложные проекты, возможность внедрять новые технологии;
                  li График работы: 10:00 - 19:00 , Сб, Вс - выходные;
                  li Официальное трудоустройство, полностью белая зарплата, оплачиваемый отпуск, больничный лист;
                  li Офис – 7 минут от метро.
                  li Оклад по результатам собеседования.
              +e.buttons
                +button._blue откликнуться на hh.ru
                +button._red hh.ru
        +accordion
          +accordion-header._noarrow.js-accordion-button
            +b.vacancy
              +e.left
                +e.title._hot Аккаунт менеджер
                +e.description Мы ищем разработчика Bitrix24 для крупных проектов. Цель проектов – оптимизация бизнес-процессов и повышение
                  | эффективности. Поэтому нам нужен ответственный и въедливый программист, знающий толк в своем деле.
              +e.button
                +button подробнее
          +accordion-body
            +b.requirements
              +e.title Требования:
              +e.block
                +e.subtitle Обязательные:
                +ul-list
                  li Уверенное знание PHP, MySQL, APl «1C-Битрикс», HTML/CSS, Javascript, JQuery, Ajax, ООП(MVC);
                  li Знание платформы CMS 1С-Bitrix (умение разрабатывать свои компоненты/модули);
                  li Знание Bitrix API, CommerceML, опыт интеграции сайтов на Bitrix с внешними системами;
                  li Опыт написания собственных компонентов;
                  li Опыт разработки и внедрения интернет-магазинов на Bitrix;
                  li Уверенная работа в GIT;
                  li Умение работы с «чужим» кодом;
                  li Умение аргументированно отстаивать свою точку зрения;
                  li Умение предлагать рациональные решения поставленных задач.
              +e.block
                +e.subtitle Приветствуется:
                +ul-list
                  li Наличие сертификатов 1С-Битрикс;
                  li Опыт участия в высоконагруженных проектах;
                  li Опыт работы с веб-сервисами (SOAP+WSDL, REST);
                  li Опыт оптимизации SQL-запросов;
                  li Опыт работы в среде Linux.
              +e.block
                +e.subtitle Условия:
                +ul-list
                  li Работа в топовом digital агентстве;
                  li Профессиональная команда;
                  li Интересные и сложные проекты, возможность внедрять новые технологии;
                  li График работы: 10:00 - 19:00 , Сб, Вс - выходные;
                  li Официальное трудоустройство, полностью белая зарплата, оплачиваемый отпуск, больничный лист;
                  li Офис – 7 минут от метро.
                  li Оклад по результатам собеседования.
              +e.buttons
                +button._blue откликнуться на hh.ru
                +button._red hh.ru

        +accordion
          +accordion-header._noarrow.js-accordion-button
            +b.vacancy
              +e.left
                +e.title._hot SMM-маркетолог
                +e.description Ищем в свои ряды эксперта, который понимает что такое качественный дизайн!
              +e.button
                +button подробнее
          +accordion-body
            +b.requirements
              +e.title Требования:
              +e.block
                +e.subtitle Обязательные:
                +ul-list
                  li Уверенное знание PHP, MySQL, APl «1C-Битрикс», HTML/CSS, Javascript, JQuery, Ajax, ООП(MVC);
                  li Знание платформы CMS 1С-Bitrix (умение разрабатывать свои компоненты/модули);
                  li Знание Bitrix API, CommerceML, опыт интеграции сайтов на Bitrix с внешними системами;
                  li Опыт написания собственных компонентов;
                  li Опыт разработки и внедрения интернет-магазинов на Bitrix;
                  li Уверенная работа в GIT;
                  li Умение работы с «чужим» кодом;
                  li Умение аргументированно отстаивать свою точку зрения;
                  li Умение предлагать рациональные решения поставленных задач.
              +e.block
                +e.subtitle Приветствуется:
                +ul-list
                  li Наличие сертификатов 1С-Битрикс;
                  li Опыт участия в высоконагруженных проектах;
                  li Опыт работы с веб-сервисами (SOAP+WSDL, REST);
                  li Опыт оптимизации SQL-запросов;
                  li Опыт работы в среде Linux.
              +e.block
                +e.subtitle Условия:
                +ul-list
                  li Работа в топовом digital агентстве;
                  li Профессиональная команда;
                  li Интересные и сложные проекты, возможность внедрять новые технологии;
                  li График работы: 10:00 - 19:00 , Сб, Вс - выходные;
                  li Официальное трудоустройство, полностью белая зарплата, оплачиваемый отпуск, больничный лист;
                  li Офис – 7 минут от метро.
                  li Оклад по результатам собеседования.
              +e.buttons
                +button._blue откликнуться на hh.ru
                +button._red hh.ru
        +accordion
          +accordion-header._noarrow.js-accordion-button
            +b.vacancy
              +e.left
                +e.title Программист 1с-bitrix
                +e.description Мы ищем разработчика Bitrix24 для крупных проектов. Цель проектов – оптимизация бизнес-процессов и повышение
                  | эффективности. Поэтому нам нужен ответственный и въедливый программист, знающий толк в своем деле.
              +e.button
                +button подробнее
          +accordion-body
            +b.requirements
              +e.title Требования:
              +e.block
                +e.subtitle Обязательные:
                +ul-list
                  li Уверенное знание PHP, MySQL, APl «1C-Битрикс», HTML/CSS, Javascript, JQuery, Ajax, ООП(MVC);
                  li Знание платформы CMS 1С-Bitrix (умение разрабатывать свои компоненты/модули);
                  li Знание Bitrix API, CommerceML, опыт интеграции сайтов на Bitrix с внешними системами;
                  li Опыт написания собственных компонентов;
                  li Опыт разработки и внедрения интернет-магазинов на Bitrix;
                  li Уверенная работа в GIT;
                  li Умение работы с «чужим» кодом;
                  li Умение аргументированно отстаивать свою точку зрения;
                  li Умение предлагать рациональные решения поставленных задач.
              +e.block
                +e.subtitle Приветствуется:
                +ul-list
                  li Наличие сертификатов 1С-Битрикс;
                  li Опыт участия в высоконагруженных проектах;
                  li Опыт работы с веб-сервисами (SOAP+WSDL, REST);
                  li Опыт оптимизации SQL-запросов;
                  li Опыт работы в среде Linux.
              +e.block
                +e.subtitle Условия:
                +ul-list
                  li Работа в топовом digital агентстве;
                  li Профессиональная команда;
                  li Интересные и сложные проекты, возможность внедрять новые технологии;
                  li График работы: 10:00 - 19:00 , Сб, Вс - выходные;
                  li Официальное трудоустройство, полностью белая зарплата, оплачиваемый отпуск, больничный лист;
                  li Офис – 7 минут от метро.
                  li Оклад по результатам собеседования.
              +e.buttons
                +button._blue откликнуться на hh.ru
                +button._red hh.ru
      +b.contact.vacancies__contact
        img(src='./assets/images/bigplus.svg')
        +e.right
          +e.title Если вы не нашли то, что искали, напишите нам на #[+link(href='hr@prostudio.ru')._blue._nounder.contact__link hr@prostudio.ru]
          +e.text Возможно, мы просто еще не знаем, что нам нужны именно вы.

  +footer
