extends ../../layouts/default

block head
  - var pageTitle = 'Versta Project Template'

block content
  +header._wide._inner
  section
    .container.container_big
      +b.uslugi
        +b.uslugi-item._left._sites
          +e.text._left
            +e.title._sites Сайты
            +e.UL.list._sites
              +e.LI.list-item._sites
                +e.A.list-link Сайт визитка
              +e.LI.list-item._sites  
                +e.A.list-link Landing Page
              +e.LI.list-item._sites  
                +e.A.list-link Корпоративный сайт
              +e.LI.list-item._sites  
                +e.A.list-link Интернет-магазин
              +e.LI.list-item._sites   
                +e.A.list-link Сложные проекты
            +e.footer._sites
              +link-icon("arrow_right").__icon-right
              +e.line
          +e.img-wrap._left
            img(src="assets/images/uslugi_sites_desktop.png")
          +e.img-wrap._mobile._sites
            img(src="assets/images/uslugi_sites_mobile.png")

        +b.uslugi-item._right._prodv
          +e.text._right._prodv
            +e.title._prodv Продвижение
            +e.UL.list
              +e.LI.list-item
                +e.A.list-link SEO 
              +e.LI.list-item  
                +e.A.list-link SMM 
              +e.LI.list-item  
                +e.A.list-link Контекстная реклама
              +e.LI.list-item  
                +e.A.list-link Таргетированная реклама 
              +e.LI.list-item   
                +e.A.list-link Медийная реклама
            +e.footer._prodv._reverse
              +link-icon("arrow_left").__icon-right
              +e.line._right
          +e.img-wrap._right._prodv
            img(src="assets/images/uslugi_prodvijenie_dekstop.png")
          +e.img-wrap._mobile._prodv
            img(src="assets/images/uslugi_prodvijenie_mobile.png")  

        +b.uslugi-item._left._brending
          +e.text._left
            +e.title._brending Брендинг
            +e.UL.list
              +e.LI.list-item
                +e.A.list-link Логотип 
              +e.LI.list-item  
                +e.A.list-link Фирменный стиль
              +e.LI.list-item  
                +e.A.list-link Немина/Слоган 
              +e.LI.list-item  
                +e.A.list-link Фото/Видео
            +e.footer._brending
              +link-icon("arrow_right").__icon-right
              +e.line
          +e.img-wrap._left._brending
            img(src="assets/images/uslugi_brending_desktop.png")
          +e.img-wrap._mobile._brending
            img(src="assets/images/uslugi_brending_mobile.png")   

        +b.uslugi-item._right._soft
          +e.text._right._soft
            +e.title._soft Приложения
            +e.UL.list
              +e.LI.list-item
                +e.A.list-link OS 
              +e.LI.list-item  
                +e.A.list-link Android 
              +e.LI.list-item  
                +e.A.list-link Native Web 
              +e.LI.list-item  
                +e.A.list-link Адаптивный дизайн 
              +e.LI.list-item   
                +e.A.list-link Мобильная версия сайта
            +e.footer._soft._reverse
              +link-icon("arrow_left").__icon-right
              +e.line._right
          +e.img-wrap._right._soft
            img(src="assets/images/uslugi_soft_desktop.png")
          +e.img-wrap._mobile._soft
            img(src="assets/images/uslugi_soft_mobile.png")     

        +b.uslugi-item._left._analitic
          +e.text._left
            +e.title._analitic Аналитика
            +e.UL.list
              +e.LI.list-item
                +e.A.list-link Техническое задание 
              +e.LI.list-item  
                +e.A.list-link Аудит проекта 
              +e.LI.list-item  
                +e.A.list-link Прототипирование
              +e.LI.list-item  
                +e.A.list-link Digital-стратегия
              +e.LI.list-item  
                +e.A.list-link CRM и ERP системы 
            +e.footer._analitic
              +link-icon("arrow_right").__icon-right
              +e.line
          +e.img-wrap._left._analitic
            img(src="assets/images/uslugi_analitic_desktop.png")
          +e.img-wrap._mobile._analitic
            img(src="assets/images/uslugi_analitic_mobile.png")  

        +b.uslugi-item._right._support
          +e.text._right._support
            +e.title._support Поддержка
            +e.UL.list
              +e.LI.list-item
                +e.A.list-link Техническая поддержка  
              +e.LI.list-item  
                +e.A.list-link Хостинг
              +e.LI.list-item  
                +e.A.list-link Тестирование
              +e.LI.list-item  
                +e.A.list-link Администрирование сложный проектов
            +e.footer._support._reverse
              +link-icon("arrow_left").__icon-right
              +e.line._right
          +e.img-wrap._right._support
            img(src="assets/images/uslugi_support_desktop.png")
          +e.img-wrap._mobile._support
            img(src="assets/images/uslugi_support_mobile.png")      

  +footer.uslugi__footer
  





