.article-popular {
  background: white;
  position: relative;
  padding: 31px 33px 32px;
  margin-top: 61px;
  min-height: 80px;
  display: flex;
  align-items: center;

  &_first {
    margin-top: 46px;
  }

  &__text {
    font-size: 18px;
    font-weight: 400;
    line-height: 27.23px;
    letter-spacing: .54px;
    color: black;
  }

  &__num {
    font-family: 'Intro Black Caps';
    font-size: 30px;
    font-weight: 400;
    line-height: 32.77px;
    letter-spacing: .75px;
    color: $color-bg-button;
    position: absolute;
    top: -16px;
    left: 33px;
  }

  &:hover {

    .article-popular__text {
      color: $color-main;
    }
  }
}

@include screen('lg', max) {

  .article-popular {
    margin-top: 56px;
    height: 136px;

    &_first {
      margin-top: 38px;
    }
  }
}
