.article-popular {
  background: white;
  position: relative;
  padding: 31px 33px 32px;
  margin-top: 61px;
  min-height: 80px;
  display: flex;
  align-items: center;

  $b: &;

  @include screen('lg', max) {
    margin-top: 57px;
    padding: 27px 33px 24px;
  }

  @include screen('md', max) {
    margin-top: 61px;
    padding: 30px 33px 33px;
  }

  &_first {
    margin-top: 46px;

    @include screen('lg', max) {
      margin-top: 37px;
    }

    @include screen('md', max) {
      margin-top: 48px;
    }
  }

  &__text {
    font-size: 18px;
    font-weight: 400;
    line-height: 27.23px;
    letter-spacing: .54px;
    color: black;
    transition: color $ease-main;

    @include screen('lg', max) {
      line-height: 28px;
    }

    @include screen('md', max) {
      font-size: 20px;
      line-height: 27.23px;
    }
  }

  &__num {
    font-family: 'Intro Black Caps';
    font-size: 30px;
    font-weight: 400;
    line-height: 32.77px;
    letter-spacing: .75px;
    color: $color-bg-button;
    position: absolute;
    top: -16px;
    left: 33px;
    transform: translate3d(0, -20px, 0);
    transition: transform $ease-main;

    #{$b}:hover & {
      transform: translate3d(0, 0, 0);
    }
  }

  &:hover {

    .article-popular__text {
      color: $color-main;
    }
  }
}